<?php
  
  $url = 'http://' . $_SERVER['HTTP_HOST'] . '/#!' . $this->Html->url(array('controller' => $CURRENT_CONTROLLER, 'action' => $CURRENT_ACTION, $CURRENT_ID));
  
?>
<div style="float: right;">
  <div class="fb-like" data-href="<?php echo $url; ?>" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="false" data-send="false"></div>
</div>