@font-face {
  font-family: 'BFW-Icons';
  src: url('../fonts/BFW-Icons.eot');
  src: url('../fonts/BFW-Icons.eot?#iefix') format('embedded-opentype'), url('../fonts/BFW-Icons.svg#BFW-Icons') format('svg'), url('../fonts/BFW-Icons.woff') format('woff'), url('../fonts/BFW-Icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'BFW-Icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-wisconsin:before,
.icon-volunteer:before,
.icon-trees:before,
.icon-trail-sign:before,
.icon-star:before,
.icon-search:before,
.icon-road-rides:before,
.icon-road-bike:before,
.icon-restaurants:before,
.icon-print:before,
.icon-phone:before,
.icon-path:before,
.icon-mt-bike-rides:before,
.icon-milwaukee:before,
.icon-merch:before,
.icon-map-pin:before,
.icon-madison:before,
.icon-lodging:before,
.icon-local-chapters:before,
.icon-event:before,
.icon-email:before,
.icon-dutch-bike:before,
.icon-discount-providers:before,
.icon-calendar:before,
.icon-bike-wheel:before,
.icon-bike-shops:before,
.icon-bike-gear:before,
.icon-add-ride-trail:before,
.icon-add-event:before,
.icon-bikefed-logo:before,
.icon-bikefed-logo-rev:before {
  font-family: 'BFW-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-wisconsin:before {
  content: "\e000";
}
.icon-volunteer:before {
  content: "\e001";
}
.icon-trees:before {
  content: "\e002";
}
.icon-trail-sign:before {
  content: "\e003";
}
.icon-star:before {
  content: "\e004";
}
.icon-search:before {
  content: "\e005";
}
.icon-road-rides:before {
  content: "\e006";
}
.icon-road-bike:before {
  content: "\e007";
}
.icon-restaurants:before {
  content: "\e008";
}
.icon-print:before {
  content: "\e009";
}
.icon-phone:before {
  content: "\e00a";
}
.icon-path:before {
  content: "\e00b";
}
.icon-mt-bike-rides:before {
  content: "\e00c";
}
.icon-milwaukee:before {
  content: "\e00d";
}
.icon-merch:before {
  content: "\e00e";
}
.icon-map-pin:before {
  content: "\e00f";
}
.icon-madison:before {
  content: "\e010";
}
.icon-lodging:before {
  content: "\e011";
}
.icon-local-chapters:before {
  content: "\e012";
}
.icon-event:before {
  content: "\e013";
}
.icon-email:before {
  content: "\e014";
}
.icon-dutch-bike:before {
  content: "\e015";
}
.icon-discount-providers:before {
  content: "\e016";
}
.icon-calendar:before {
  content: "\e017";
}
.icon-bike-wheel:before {
  content: "\e018";
}
.icon-bike-shops:before {
  content: "\e019";
}
.icon-bike-gear:before {
  content: "\e01a";
}
.icon-add-ride-trail:before {
  content: "\e01b";
}
.icon-add-event:before {
  content: "\e01c";
}
.icon-bikefed-logo:before {
  content: "\e01d";
}
.icon-bikefed-logo-rev:before {
  content: "\e01e";
}
/* Variables 
----------------------------------------------------------------------------- */
/* Section Heights */
/* Google WebFonts Used
-- 'Alfa Slab One', 'Jockey One', 'Crete Round', 'Montserrat' (Montserrat 400 and 700 weights)
----------------------------------------------------------------------------- */
body {
  text-align: center;
}
.container {
  width: 100%;
  margin: 0;
  /* /.sec01 */

  /* /.sec02 */

}
.container.sec01 {
  background: url(../images/bg-section01.png) no-repeat top center #109ea6;
  position: relative;
  text-align: center;
  height: 800px;
}
.container.sec01 .anim-layer {
  width: 960px;
  position: absolute;
  top: 0;
  left: 0;
  height: 800px;
  padding-left: 50%;
  margin-left: -480px;
}
.container.sec01 .anim-layer .content {
  height: 800px;
}
.container.sec01 .anim-layer .scroll-tip {
  position: absolute;
  top: -40px;
  right: 10px;
  z-index: 10;
  cursor: pointer;
}
.container.sec01 .anim-layer .intro-aqua-rider {
  position: absolute;
  top: 55px;
  left: 5px;
  z-index: 10;
}
.container.sec01 .anim-layer .intro-aqua-rider img {
  width: 75px;
}
.container.sec01 .anim-layer .orange-rider {
  position: absolute;
  top: 228px;
  right: 155px;
  z-index: 10;
  visibility: hidden;
}
.container.sec01 .anim-layer .orange-rider img {
  width: 75px;
}
.container.sec01 .anim-layer .green-rider {
  position: absolute;
  top: 473px;
  right: 265px;
  z-index: 10;
  visibility: hidden;
}
.container.sec01 .anim-layer .green-rider img {
  width: 75px;
}
.container.sec01 .anim-layer .sec01-trees {
  position: absolute;
  top: 655px;
  right: -90px;
  z-index: 10;
  visibility: hidden;
}
.container.sec01 .anim-layer .map {
  position: absolute;
  top: -25px;
  right: -71px;
  visibility: hidden;
}
.container.sec01 .anim-layer .map img {
  width: 650px;
}
.container.sec01 .content-layer {
  width: 960px;
  position: absolute;
  top: 0;
  left: 0;
  height: 800px;
  z-index: 5;
  padding-left: 50%;
  margin-left: -480px;
}
.container.sec01 .content-layer .content {
  height: 800px;
  text-align: left;
}
.container.sec01 .content-layer .content .ride-on {
  font-family: 'Montserrat', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: #ffffff;
  text-shadow: -1px -1px 3px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
}
.container.sec01 .content-layer .content .ride-on img {
  margin: 160px 0 17px 0;
  width: 575px;
}
.container.sec02 {
  background: #bbe3bf;
  position: relative;
  text-align: center;
  height: 800px;
}
.container.sec02 .content-layer {
  width: 960px;
  position: absolute;
  top: 0;
  left: 0;
  height: 800px;
  z-index: 5;
  padding: 30px 0 0 0;
  padding-left: 50%;
  margin-left: -480px;
}
.container.sec02 .content-layer .content {
  height: 800px;
  text-align: left;
}
.container.sec02 .anim-layer {
  width: 960px;
  position: absolute;
  top: 0;
  left: 0;
  height: 800px;
  padding-left: 50%;
  margin-left: -480px;
}
.container.sec02 .anim-layer .content {
  height: 800px;
}
.container.sec02 .anim-layer .sec02-trees {
  position: absolute;
  top: 100px;
  left: 290px;
  z-index: 10;
  visibility: hidden;
}
.content {
  width: 960px;
  position: relative;
  margin: 0 auto;
  /* .debug; */

}
/* Section Breakers
----------------------------------------------------------------------------- */
.sec01-zigzag {
  background: url(../images/bg-zigzag-sec01.png) repeat-x #bbe3bf;
  width: 100%;
  height: 50px;
}
/* Top Navigation
----------------------------------------------------------------------------- */
.nav-container {
  position: relative;
  left: -70px;
  width: 1014px;
  background: url(../images/bg-nav-ribbon.png) no-repeat;
  height: 216px;
  margin: 32px 0 0 0;
}
.nav-container .search-wrapper {
  width: 530px;
  height: 51px;
  margin: 0 0 0 70px;
  padding: 19px 0 0 0;
}
.nav-container .search-wrapper .city-search {
  margin: 0px 0 0 200px;
  padding: 0 0 0 8px;
  width: 240px;
  height: 40px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.4);
  box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.4);
  float: left;
}
.nav-container .search-wrapper .btn-go {
  width: 50px;
  height: 40px;
  background: #840E1D;
  text-align: center;
  color: #ffffff;
  font-family: 'Jockey One', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  letter-spacing: 2px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 400;
  margin: 0px 0 0 8px;
  float: left;
}
.nav-container .nav-wrapper {
  width: 930px;
  height: 70px;
  margin: 20px 0 0 70px;
}
.nav-container .nav-wrapper .logo-tag {
  width: 220px;
  font-family: 'Montserrat', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
  text-align: right;
  margin: 0px 0 0 0;
  text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.5);
  float: left;
}
.nav-container .nav-wrapper .logo-tag td {
  padding: 14px 0 0 0;
}
.nav-container .nav-wrapper .logo-tag span {
  display: inline-block;
  margin: 0 20px 0 10px;
}
.nav-container .nav-wrapper .icon-bikefed-logo-rev {
  font-size: 40px;
  color: #ffffff;
}
.nav-container .nav-wrapper .nav-list {
  float: left;
  list-style-type: none;
  font-family: 'Jockey One', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 23px;
  letter-spacing: 2px;
  line-height: 25px;
  margin: 0 0 0 9px;
  padding: 0;
}
.nav-container .nav-wrapper .nav-list li {
  display: inline;
  margin: 0;
  padding: 0;
  line-height: 25px;
  float: left;
}
.nav-container .nav-wrapper .nav-list li a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  height: 38px;
  padding: 0px 20px 0;
  margin: 15px 0 0 0;
  border-right: 1px solid #291D14;
  border-left: 1px solid #877967;
  line-height: 38px;
  text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.7);
}
.nav-container .nav-wrapper .nav-list li a.first {
  border-left: none;
}
.nav-container .nav-wrapper .nav-list li a.last {
  border-right: none;
}
/* Top Pop Menu */
.top-menu {
  position: fixed;
  width: 100%;
  height: 105px;
  background: url(/images/bg-top-menu.png) repeat-x;
  z-index: 500;
  text-align: center;
  visibility: hidden;
}
.top-menu .nav-list {
  list-style-type: none;
  font-family: 'Jockey One', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 25px;
  margin: 0 auto;
  padding: 0;
  width: 960px;
}
.top-menu .nav-list li {
  display: inline;
  margin: 0;
  padding: 0;
  line-height: 25px;
  float: left;
}
.top-menu .nav-list li a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  height: 32px;
  padding: 8px 20px 0;
  margin: 0px 0 0 0;
  border-right: 1px solid #291D14;
  border-left: 1px solid #877967;
  line-height: 30px;
  text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.7);
}
.top-menu .nav-list li a.first {
  border-left: none;
}
.top-menu .nav-list li a.last {
  border-right: none;
  padding-right: 0;
}
.top-menu .nav-list li.logo img {
  width: 210px;
  padding: 0px 0 0 0;
}
.top-menu .nav-list li .icon-bikefed-logo {
  font-size: 34px;
  color: #109EA6;
  margin: 0 0 0 5px;
  line-height: 35px;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2);
}
/* Mixins
----------------------------------------------------------------------------- */
.fixed-center {
  padding-left: 50%;
  margin-left: -480px;
}
/* General
----------------------------------------------------------------------------- */
h1 {
  font-family: 'Alfa Slab One', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  text-transform: uppercase;
  color: #412e20;
  font-size: 55px;
  text-shadow: 1px 1px 1px #ffffff;
  line-height: 60px;
  letter-spacing: 2px;
}
