<div class="featured-event">
  <div class="sec03-pic">
    <img src="/uploads/fetch/300/300x180" alt="Milwaukee Area Bike Swap">               
  </div>
  <div class="info">
    <div class="date">December 13, 2014</div>
    <div class="details"><a href="#" class="row-dialog-trigger" data-dialog-action="/events/view/145">Milwaukee Area Bike Swap</a></div>
    <div class="location">Riverside University High School Gym, Milwaukee, WI</div>
  </div>
  <div style="clear:both;"></div>               
</div><!-- /.featured-event -->