<tr class="evSearchResult odd" data-type="Event" data-id="26">
  <td class="date">Sun, Apr 26, 2015</td>
  <td class="search-info">
    <a href="#!/events/view/26">
      <h4>Cheesehead Roubaix</h4>
      <span class="location">Firemen’s Park, Newburg, WI</span>
    </a>
  </td>
</tr>
<tr class="evSearchResult even" data-type="Event" data-id="229">
  <td class="date">Sat, May 2, 2015</td>
  <td class="search-info">
    <a href="#!/events/view/229">
      <h4>Catch Wheel Fever! at Old World Wisconsin</h4>
      <span class="location">Old World Wisconsin, Eagle, WI</span>
    </a>
  </td>
</tr>
<tr class="evSearchResult odd" data-type="Event" data-id="13">
  <td class="date">Sat, May 16, 2015</td>
  <td class="search-info">
    <a href="#!/events/view/13">
      <h4>Tour de Cure - Madison</h4>
      <span class="location">American Family Insurance Headquarters , Madison, WI</span>
    </a>
  </td>
</tr>
<tr class="evSearchResult even" data-type="Event" data-id="230">
  <td class="date">Sat, Jun 6, 2015</td>
  <td class="search-info">
    <a href="#!/events/view/230">
      <h4>Gold Rush Gravel Grinder</h4>
      <span class="location">Spearfish City Park, Spearfish, WI</span>
    </a>
  </td>
</tr>
<tr class="evSearchResult odd" data-type="Event" data-id="231">
  <td class="date">Sat, Jun 20, 2015</td>
  <td class="search-info">
    <a href="#!/events/view/231">
      <h4>GRABAAWR®</h4>
      <span class="location">Eagle River to Prairie du Chien, Deerfield, WI</span>
    </a>
  </td>
</tr>
<tr class="evSearchResult even" data-type="Event" data-id="233">
  <td class="date">Sat, Jul 11, 2015</td>
  <td class="search-info">
    <a href="#!/events/view/233">
      <h4>Bike Northwoods Tour</h4>
      <span class="location">Superior to Bayfield Loop, Deerfield, WI</span>
    </a>
  </td>
</tr>
<tr class="evSearchResult odd" data-type="Event" data-id="22">
  <td class="date">Sun, Jul 12, 2015</td>
  <td class="search-info">
    <a href="#!/events/view/22">
      <h4>Flavors of Wisconsin Bicycle Tour</h4>
      <span class="location">Quality Inn (start and end location), Madison, WI</span>
    </a>
  </td>
</tr>
<tr class="evSearchResult even" data-type="Event" data-id="217">
  <td class="date">Sat, Jul 18, 2015</td>
  <td class="search-info">
    <a href="#!/events/view/217">
      <h4>Scenic Shore 150 Bike Tour</h4>
      <span class="location">MATC Mequon Campus, Mequon, WI</span>
    </a>
  </td>
</tr>
<tr class="evSearchResult odd" data-type="Event" data-id="232">
  <td class="date">Sat, Aug 1, 2015</td>
  <td class="search-info">
    <a href="#!/events/view/232">
      <h4>SAGBRAW®</h4>
      <span class="location">Oconto to Mishicot, Deerfield, WI</span>
    </a>
  </td>
</tr>
<tr class="evSearchResult even" data-type="Event" data-id="146">
  <td class="date">Sat, Aug 8, 2015</td>
  <td class="search-info">
    <a href="#!/events/view/146">
      <h4>Ride with Leinie</h4>
      <span class="location">Forest Lake Country Store, Land O Lakes, WI</span>
    </a>
  </td>
</tr>
<tr class="evSearchResult odd" data-type="Event" data-id="23">
  <td class="date">Sun, Aug 9, 2015</td>
  <td class="search-info">
    <a href="#!/events/view/23">
      <h4>Northern Woods and Waters Bicycle Tour</h4>
      <span class="location">Oneida Village Inn (start and end location), Three Lakes, WI</span>
    </a>
  </td>
</tr>
<tr class="evSearchResult even" data-type="Event" data-id="48">
  <td class="date">Sat, Sep 5, 2015</td>
  <td class="search-info">
    <a href="#!/events/view/48">
      <h4>Cross of the Century</h4>
      <span class="location">Door County Fairgrounds, Sturgeon Bay, WI</span>
    </a>
  </td>
</tr>
<tr class="evSearchResult odd" data-type="Event" data-id="47">
  <td class="date">Sun, Sep 6, 2015</td>
  <td class="search-info">
    <a href="#!/events/view/47">
      <h4>Door County Century</h4>
      <span class="location">Sturgeon Bay Fairgrounds, Sturgeon Bay, WI</span>
    </a>
  </td>
</tr>
<tr class="evSearchResult even" data-type="Event" data-id="234">
  <td class="date">Fri, Sep 18, 2015</td>
  <td class="search-info">
    <a href="#!/events/view/234">
      <h4>Provence and French Riviera bike Tour</h4>
      <span class="location">Provence France, Deerfield, WI</span>
    </a>
  </td>
</tr>
<tr class="evSearchResult odd" data-type="Event" data-id="142">
  <td class="date">Sun, Oct 4, 2015</td>
  <td class="search-info">
    <a href="#!/events/view/142">
      <h4>26th Annual Pumpkin Pie Bicycle Ride</h4>
      <span class="location">Ottawa YMCA, Ottawa, IL</span>
    </a>
  </td>
</tr>
<tr class="evSearchResult even" data-type="Event" data-id="235">
  <td class="date">Sun, Nov 1, 2015</td>
  <td class="search-info">
    <a href="#!/events/view/235">
      <h4>Day of the Dead Ride</h4>
      <span class="location">Colectivo, Madison, WI</span>
    </a>
  </td>
</tr>