<div class="dialog-wrap lrg">
	<div class="dl-header volunteer">
		<span aria-hidden="true" class="icon-volunteer"><h1>Volunteer</h1>
	</div><!-- /.dl-header -->
	<div class="dl-body first">
		<div class="section bot">
			<div class="col twelve">
				<div class="col-pad-right">
					<h2 class="orange">We are always seeking volunteers to help us make Wisconsin a better place to bicycle. Without the amazing support of our volunteers we would not be able to accomplish as much as we do.</h2>
					<blockquote>
						Ongoing volunteer needs include:

						<ul>
							<li>Assisting with mailings.</li>
							<li>Writing an article for our website or newsletter.</li>
							<li>Maintaining the Bike Fed database.</li>
						</ul>
					</blockquote>
					For more information or to volunteer for an ongoing or special event opportunity listed below, please contact Betsy Popelka. Get involved today! If you would like to be notified of upcoming volunteer opportunities, please click here to fill out an interest form.
				</div><!-- /.col-pad-right -->
			</div><!-- /.col .twelve -->
		</div><!-- /.section -->
	</div><!-- /.dl-body -->
	<div class="dl-body highlight">
		<a href="#" class="btn grey">Track Your Volunteer Hours Here</a>
		<p>We value your time and talents and want to be sure to acknowledge your immense contribution to our organization. Thank you!</p>
	</div><!-- /.dl-body -->
	<div class="dl-body">
		<div class="section bot">
			<div class="col twelve">
				<h2>Statewide Volunteer Opportunities</h2>

				<p>Ped &amp; Pedal Network Notetaker &mdash; The 2nd Tuesday of every month, 1-2 pm.  This is a great opportunity to support the Bike Fed and keep abreast of bicycling issues, all from the comfort of your home and/or office!  You will need a computer, internet connection, and a phone for this opportunity.   You will also need to be available to take notes for all calls.  For more information, contact Jessica Binder, jessica@bfw.org.</p>

				<p>Bike Fed Reporter &mdash; As a statewide bicycle advocacy organization, we strive to keep up on bicycling activities and issues all over Wisconsin, but we need your help! Are you going to a bicycling event in your community?  Let us know how it went! We want your photos and brief reports. For more information about this opportunity, contact Dave Schlabowske, dave.schlabowske@bfw.org.</p>
				
				<hr class="dashed">

				<h2>Madison-Area Volunteer Opportunities</h2>

				<p>Be a Bike Fed Booster! &mdash; Bike Fed Boosters are members of the Bike Fed who are energetic and enthusiastic supporters of bicycling in Wisconsin. We train a team of Bike Fed Boosters to help us share the Bike Fed’s mission and vision of world-class bicycling in Wisconsin. Bike Fed Boosters can be found helping to engage and recruit new Bike Fed members at many exciting and fun events. Boosters make a commitment of attending and supporting at least three events a year. Contact Betsy for more information and to apply.</p>
				
				<hr class="dashed">

				<h2>Milwaukee-Area Volunteer Opportunities</h2>

				<p>Tour de Fat &mdash; Saturday, July 14th, Milwaukee’s McKinley Marina. Don’t miss the summer’s greatest bike party!  The day kicks off at 10 am with a costumed bike parade, so prepare your craziest outfit for the ride of a lifetime! Registration for the ride begins at 9 am. After returning from the frolicking ride, you can</p> 
			</div>
		</div>
	</div><!-- /.dl-body -->
</div><!-- /.dialog-wrap-sm -->  