<div class="dialog-wrap lrg">
	<div class="dl-header donate">
	 	<div class="five header-btns-float-l"><span aria-hidden="true" class="icon-star"></span> <h1> Donate / Join</h1></div>
		<div class="three header-btns-float-r">
			<!--<a class="header-btns" href="#">My Account</a>
			<a class="header-btns" href="#">Edit</a>-->
		</div>	
	</div><!-- /.dl-header -->
	<div class="donate-nav">
		<ul>
			<li class="active"><a href="#" data-activates="pageDonate" class="changePages">Make a <br>Donation</a><img src="/images/arrow-donate-nav.png" alt="arrow" ></li>
			<li><a href="#" data-activates="pageMembership" class="changePages">Individual Membership</a><img src="/images/arrow-donate-nav.png" alt="arrow" ></li>
			<li class="last"><a href="#" data-activates="pageOrgMembership" class="changePages">Organizational Membership</a><img src="/images/arrow-donate-nav.png" alt="arrow" ></li>
		</ul>
	</div><!-- /.donate-nav -->
	
	
	<div class="pageContent" id="pageDonate">
		<div class="dl-body first">
			<div class="section bot">
				<div class="col twelve">
					<div class="col-pad-right">
						<h2 class="orange donate-header">
							Donations from people like you help the Bike Fed make Wisconsin a better place to ride a bike.</h2>
						<blockquote class="donate-block">
							With your help, we have already:
	
							<ul class="donate-list">
								<li>Passed the dooring-law and other safety legislation</li>
								<li>Saved $5 million in bicycle projects in the last state budget</li>
								<li>Taught more than 9,000 children and adults bicycle safety
								</li>
								<li>Educated thousands of motorists and bicyclists about sharing the road
								</li>
								<li>Helped dozens of Wisconsin businesses and communities become more bike-friendly.</li>
							</ul>
						</blockquote>
						
					</div><!-- /.col-pad-right -->
				</div><!-- /.col .twelve -->
			</div><!-- /.section -->
		</div><!-- /.dl-body -->
		<div class="dl-body highlight donate-highlight">
			<div class="highlight-text">
			<h2 class="crete">Help make Wisconsin a safer <br/>
				and more enjoyable place to ride a bicycle.</h2> 
			<p>You will receive a tax deductible receipt for your donation.</p>
		</div><!-- /.highlight-text -->
			<a class="donate-btn" href="https://bfw.memberclicks.net/index.php?option=com_mc&view=mc&mcid=form_88099" target="_blank">DONATE NOW</a>
		</div><!-- /.dl-body -->
		<div class="dl-body">
			<p class="mail-to">IF YOU PREFER, YOU CAN MAIL YOUR DONATION TO:</p>
			<ul class="bikelist">
				<li>Bicycle Federation of Wisconsin</li>
				<li>Attn: Development</li>
				<li>P.O. Box 1224</li>
				<li>Madison, WI 53701-1224</li>
			</ul>
		</div><!-- /.dl-body -->
	</div><!-- #pageDonate -->
	
	<!-- ******************************************************************************************************************************************** -->
	
	<div class="pageContent" id="pageMembership" style="display: none;">
		<div class="dl-body first">
			<div class="section bot">
				<div class="col twelve">
					<div class="col-pad-right">
						<h2 class="orange donate-header">
							Individual Membership</h2>
						<blockquote>
							<p>The more members we have, the easier it will be to make Wisconsin an even better place to ride a bicycle. In the world of transportation, you don’t count unless you can be counted, so membership does matter. Whether through advocacy at the local, state and national levels, education in Wisconsin schools and workplaces, events and outreach across the state, the Bicycle Federation of Wisconsin works to ensure that every ride you take in Wisconsin is fun, safe, and convenient.</p>
						</blockquote>
						
					</div><!-- /.col-pad-right -->
				</div><!-- /.col .twelve -->
			</div><!-- /.section -->
		</div><!-- /.dl-body -->
		<div class="dl-body highlight memb-highlight">
			<div class="ta-center bold-text memb-highlight-headline-wrap"><span class=memb-highlight-headline>INDIVIDUAL MEMBERSHIP LEVELS</span></div>
				<div class="three left ta-center memb-col-header">Basic Membership
					<p class="memb-col-lower">$35 Annually</p></div>
				
				<div class="three left ta-center memb-col-header">Advocate
					<p class="memb-col-lower">$50 Annually</p></div>
				
				<div class="three left ta-center memb-col-header">Benefactor<p class="memb-col-lower">$100 Annually</p></div>
				
				<div class="three left ta-center memb-col-header">Legacy<p class="memb-col-lower">$250 Annually</p></div>
				
	
			<div class="middle-btn"><a class="memb-orange-btn" href="https://bfw.memberclicks.net/index.php?option=com_mc&view=mc&mcid=form_86257" target="_blank">JOIN TODAY</a></div>
		</div><!-- /.dl-body -->
		
			<div class="middle-btn-two">
				<a href="http://wisconsinbikefed.org/join/org-members/" target="_blank" class="memb-grey-btn">RENEW</a>
				<a href="https://bfw.memberclicks.net/index.php?option=com_mc&view=mc&mcid=form_88275" class="memb-grey-btn" target="_blank">MANAGE PROFILE</a>
			</div>
		
		<div class="dl-body dl-b-no-padding-top">
			<span class="bold-text">Please note, if your membership has been expired for over a year, you will need to click “Join Today” instead of “Renew.”</span> Prefer to join offline? <a href="http://wisconsinbikefed.org/wp-content/uploads/2012/09/Bike-Fed-Purchase-Form-March-2013.pdf" target="_blank">Click here</a> to print out a membership form to mail in.
	For information about organizational membership, please <a href="http://wisconsinbikefed.org/join/org-members" target="_blank">click here.</a>
		<div class="dotted-line"></div>
		</div>
	
		<div class="dl-body dl-b-no-padding-top">
			<h2 class="crete">Membership Benefits</h2>
			<ul class="memb-ben-list">
				<li class="memb-li"><span class="bold-text sixteen"> Membership Packet:</span> Within a month or so, you’ll receive your Bike Fed membership in the mail.  If you are a new member, you are also given the option of receiving a complimentary bike map for your region of the state.</li>
	
				<li class="memb-li"><span class="bold-text sixteen">Bike Fed Discount:</span> A current list of over 100 businesses that offer a discount is available on our website, though check back frequently as we’re currently expanding the program to include everything from Bed &amp; Breakfasts to restaurants to events across the state. To see this list click here: <a href="http://wisconsinbikefed.org/wp-content/uploads/2012/09/List-of-Discount-Providers-for-Website-9.16.13.pdf" target="_blank">Member Card Discounts</a></li>
	
				<li class="memb-li"><span class="bold-text sixteen">Monthly e-newsletter:</span> Include your email address when you renew your membership and we’ll send you a monthly e-newsletter with an update on the work we’ve been doing as well as upcoming events in your area.</li>
	
				<li class="memb-li"><span class="bold-text sixteen">Ride Guide: </span>As our member, we’ll mail you a <a href="http://wisconsinbikefed.org/events/ride-guide/" target="_blank">Ride Guide</a> first thing in the spring which lists all biking events in Wisconsin for the year including races, events and rides as well as contact information for bike shops and clubs throughout the state.</li>
	
				<li class="memb-li"><span class="bold-text sixteen">Action Alerts:</span> We’ll keep you abreast of urgent advocacy issues in your area by sending you an email when there’s a critical opportunity in your area that you can take action on.</li>
	
				<li class="memb-li"><span class="bold-text sixteen">Quarterly Magazine: </span>Members also receive our beautiful <a href="http://www.wisconsinbikefed.org/events/magazine" target="_blank">Bike Fed</a> magazine mailed directly to their home. Featuring beautiful imagery of Wisconsin bicycling, as well as articles and stories that matter to you, this quarterly magazine is a fantastic perk of being a member.</li>
			</ul>
		</div>
		<div class="dotted-line"></div>
		<div class="dl-body dl-b-no-padding-top">
			
			<h2 class="crete">Membership Discounts</h2>
			
			<p>One of the perks of being a Bike Fed member is that you get to take advantage of discounts across Wisconsin. Bike shops, bed & breakfasts and coffee shops are included.</p>
	
			<p class="push-right"><span class="orange-text">New!</span> Bike Fed members have the opportunity to receive a 10% coupon off a <a href="http://www.burley.com/home/bur/page_416/travoy.html" target="_blank">Burley Travoy.</a>  To redeem your coupon, email <a href="mailto:membership@wisconsinbikefed.org">membership@wisconsinbikefed.org.</a></p>
	
			<p>Present your Bike Fed membership card in order to redeem your discount at the following participating businesses. Would you like to be alerted to Bike Fed Member discounts on your phone?  Try Vidappe! Vidappe is a free iPhone/Android app that will alert you of all the Bicycle Federation of Wisconsin discounts you can use in real-time. Get close to a discount, get an alert – “Step into this business to check out your discount! at Uphill Grind Bicycle & Coffee a block away”. Check it out at <a href="http://vidappe.com" target="_blank">Vidappe.com.</a></p>
			
			<p>Discounts are offered to people with memberships in the Bike Fed. For information about the benefits of organizational membership, <a href="http://wisconsinbikefed.org/join/org-members/" target="_blank">click here.</a></p>
		</div>
		<div class="dotted-line"></div>
	
		<div class="dl-body dl-b-no-padding-top">
			<h2 class="crete">Offer a Discount</h2>
			<p>Interested in offering a discount to Bike Fed members at your business?
				Contact: <a href="mailto:membership@wisconsinbikefed.org">membership@wisconsinbikefed.org</a> or call Betsy at (608) 251-4456</p>
		</div>
	</div><!-- #pageMembership -->
	
	<!-- ******************************************************************************************************************************************** -->
	
	<div class="pageContent" id="pageOrgMembership" style="display: none;">
		<div class="dl-body first">
			<div class="section bot">
				<div class="col twelve">
					<div class="col-pad-right">
						<h2 class="orange donate-header">
							Organizational Membership</h2>
						<blockquote>
							<p>The Bike Fed serves a community of thousands of individuals and organizations who are working tougher to make Wisconsin a better place to bike. Your organization can join this vibrant community by becoming a member of the Bike Fed.</p>
						</blockquote>
						
					</div><!-- /.col-pad-right -->
				</div><!-- /.col .twelve -->
			</div><!-- /.section -->
		</div><!-- /.dl-body -->
		<div class="dl-body highlight org-memb-highlight">			
			<a class="org-memb-orange-btn left" href="https://bfw.memberclicks.net/index.php?option=com_mc&view=mc&mcid=form_86252" target="_blank">JOIN TODAY</a>
			<a href="https://bfw.memberclicks.net/index.php?option=com_mc&view=mc&mcid=form_86253" class="org-memb-grey-btn left" target="_blank">RENEW</a>
			<span>You can also <a href="http://wisconsinbikefed.org/wp-content/uploads/2012/09/Bike-Fed-Purchase-Form-March-2013.pdf" target="_blank">click here</a> to print out a membership form to mail in.</span>
	
			
		</div><!-- /.dl-body -->
		
	
	
		<div class="dl-body dl-b-no-padding-top">
			<h2 class="crete">Organizational Membership Benefits</h2>
			<ul class="memb-ben-list">
				<li class="memb-li">Name/logo listed on the Bike Fed website
				</li>
				<li class="memb-li">Vinyl window sticker showing support of bicycling
				</li>
				<li class="memb-li">Bicycling supporter graphic for company website
				</li>
				<li class="memb-li">Name listed in annual Ride Guide (20,000+ circulation across Wisconsin)
				</li>
				<li class="memb-li">Discount on Bike Fed publications advertising
				</li>
				<li class="memb-li">Subscription to Wisconsin Bicyclist newspaper (1 per company three times/year)
			</ul>		
			<p class="pushleft memb-li">When your organization joins the Bike Fed, your employees can choose to receive:</p>
			<ul class="memb-ben-list">					
				<li class="memb-li">Monthly e-newsletter
				</li>
				<li class="memb-li">Periodic Action Alerts
				</li>
				<li class="memb-li"> Invitations to Bike Fed events
				</li>
			</ul>
		</div>
		<div class="dotted-line"></div>
		<div class="dl-body dl-b-no-padding-top">
			<h2 class="crete">Organizational Membership Levels</h2>
					<ul class="memb-ben-list">
						<li class="memb-li">Non-profit, government agency or advocacy organizvvation <br/><p class="org-memb-col-lower">$100 Annually</p>
						</li>
						<li class="memb-li">Independent bicycle dealer, club or team <br/><p class="org-memb-col-lower">$100 Annually</p>
						</li>					
						<li class="memb-li">Small Business Membership (50 employees or fewer)
						<br/><p class="org-memb-col-lower">$250 Annually</p>
						</li>					
						<li class="memb-li">Business Membership (more than 50 employees)
						<br/><p class="org-memb-col-lower">$500 Annually</p>
						</li>
			</ul>	
			
		</div>
		<div class="dotted-line"></div>
	
		<div class="dl-body dl-b-no-padding-top">
			<h2 class="crete">Contact Us</h2>
			<p>If you’d like to become an organizational member or discuss a bicycling services package, please email <a href="mailto:matt.gissibl@wisconsinbikefed.org">Matt Gissibl</a>, Development Coordinator, or contact him by phone at 414-271-9685.</p>
		</div>
		
		<div class="dl-body">
			<h2 class="crete">Organizational Members</h2>
				<div class="four ta-left left">
					<a href="http://www.2riversbicycle.com/index.htm" target="_blank"><p class="org-members">2 Rivers Bicycle &amp; Outdoor<br></p></a>
					 <a href="http://www.3rdcoastbikes.com/" target="_blank"><p class="org-members">3rd Coast Bicycles<br></p></a>
					<a href="http://www.super8adams.com/" target="_blank"><p class="org-members">Adams Development Corp/Super 8 Adams</p></a>
				</div>
				<div class="four ta-left left">
					<a href="http://www.allisbike.com/" target="_blank"><p class="org-members">Allis Bike &amp; Fitness<br></p></a>
					<a href="http://www.altaplanning.com/" target="_blank"><p class="org-members">Alta Planning &amp; Design<br></p></a>
					<a href="http://www.alverno.edu/" target="_blank"><p class="org-members">Alverno College<br></p></a>
					<a href="http://www.diabetes.org/" target="_blank"><p class="org-members">American Diabetes Association
						</p></a>
				</div>			
				<div class="four ta-left left">
					<a href="http://www.arnoldsenvironmental.com/" target="_blank"><p class="org-members">Arnold’s Environmental Services, Inc</p></a>	
					<p class="org-members">Art Doyle’s Spokes &amp; Pedals</p>
					<a href="http://www.attitudesports.com/" target="_blank"><p class="org-members">Attitude Sports</p></a>
				</div>
		</div><!-- /.dl-body -->
	</div><!-- #pageOrgMembership -->
	
	<script>
		$(function() {
			var $shown = $('#pageDonate');
			var $changePages = 	$('a.changePages');
			var $nav = $('.donate-nav li');
			
			$changePages.click(function(e) {
				var $this = $(this);
				
				$nav.removeClass('active');
				$this.closest('li').addClass('active');
				
				var activates = $this.data('activates');
				var $new = $('#' + activates);
				
				$shown.hide();
				$new.show();
				$shown = $new;
      
				
				if (e.preventDefault) { e.preventDefault(); }
				return false;
			});
		});
	</script>
	
	
</div><!-- /.dialog-wrap-sm -->  
