<div class="dialog-wrap lrg">
	<div class="dl-header merch">
		<span aria-hidden="true" class="bikefed-logo"><h1>Buy Merchandise</h1>
	</div><!-- /.dl-header -->
	<div class="dl-body first">
		<div class="section bot">
			<div class="col twelve">
				<div class="col-pad-right">
					<h2 class="orange">Buy Bike Fed merchandise, state trail passes or Wisconsin bicycle maps. You’ll enjoy our cool Bike Fed gear plus all the profit supports our work to improve bicycling across the state.</h2>
					
					<p>If you prefer, you can mail in your order. To purchase Bike Fed clothing, Wisconsin bike maps or Wisconsin trail passes, please download the Bike Fed Online Purchase form, fill it out and mail it in. You can browse our selections below.</p>

					<p>All merchandise prices include sales tax, except DNR Trail Passes, which are tax exempt. Want to give a gift membership or merchandise? Click here to print out a gift form to mail in.</p>
				</div><!-- /.col-pad-right -->
			</div><!-- /.col .twelve -->
		</div><!-- /.section -->
	</div><!-- /.dl-body -->
	<div class="dl-body highlight clear">
		<div class="col eight">
			<h2>Forward T-Shirt</h2>
			
			<p><strong>$25 each</strong></p>

			<p>New! The Forward shirt symbolizes our momentum as a bicycling community. We are united, strong, and moving “forward” together to make Wisconsin an even better place to live and bicycle.</p>

			<p>T-shirts come in mens and womens sizes and have the Bike Fed logo on the back.</p>
			<a href="#" class="btn submit">Buy Now</a>
		</div>
		<div class="col four">
			<div class="ta-center">
				<img src="/images/merch-fwi-tshirt.jpg" alt="Tshirt" class="pic-border">
				<div class="slide-control">
					<a href="" class="slide-prev btn left disabled"><img src="/images/arrow-left.png" alt="Previous"></a>
					<a href="" class="slide-next btn right"><img src="/images/arrow-right.png" alt="Next"></a>
				</div><!-- /.slide-control -->
			</div><!-- /.col-pad-left -->
		</div>
	</div><!-- /.dl-body -->
	<div class="dl-body clear margin-bot-30">
		<div class="col eight">
			<h2>Bike Fed Jersey</h2>
			
			<p><strong>$85 each</strong></p>

			<p>Bike Fed jerseys are custom made after you place your order. Allow four to eight weeks for delivery.</p>

			<a href="#" class="btn submit">Buy Now</a>
		</div>
		<div class="col four">
			<div class="ta-center">
				<img src="/images/merch-jersey.jpg" alt="Bike Fed Jersey" class="pic-border">
				<div class="slide-control">
					<a href="" class="slide-prev btn left disabled"><img src="/images/arrow-left.png" alt="Previous"></a>
					<a href="" class="slide-next btn right"><img src="/images/arrow-right.png" alt="Next"></a>
				</div><!-- /.slide-control -->
			</div><!-- /.col-pad-left -->
		</div>
	</div><!-- /.dl-body -->
	<div class="dl-body highlight clear">
		<div class="col eight">
			<h2>Forward T-Shirt</h2>
			
			<p><strong>$25 each</strong></p>

			<p>New! The Forward shirt symbolizes our momentum as a bicycling community. We are united, strong, and moving “forward” together to make Wisconsin an even better place to live and bicycle.</p>

			<p>T-shirts come in mens and womens sizes and have the Bike Fed logo on the back.</p>
			<a href="#" class="btn submit">Buy Now</a>
		</div>
		<div class="col four">
			<div class="ta-center">
				<img src="/images/merch-trail-pass.jpg" alt="Wisconsin State Trail Pass" class="pic-border">
				<div class="slide-control">
					<a href="" class="slide-prev btn left disabled"><img src="/images/arrow-left.png" alt="Previous"></a>
					<a href="" class="slide-next btn right disabled"><img src="/images/arrow-right.png" alt="Next"></a>
				</div><!-- /.slide-control -->
			</div><!-- /.col-pad-left -->
		</div>
	</div><!-- /.dl-body -->
</div><!-- /.dialog-wrap-sm -->  