<div class="dialog-wrap">
	<div class="dl-header donate">
		<div class="seven header-btns-float-l">
          <span aria-hidden="true" class="users users-login"></span>
          <h1>Error</h1>
     	</div>
		<div class="five header-btns-float-r">
	  	</div>	
	</div><!-- /.dl-header -->
  	<div class="dl-body first short">
	  <h2>Oh dear!</h2>
      Something's gone wrong; we apologize.  Please try your request again later.
	</div><!-- /.dl-body -->
</div>
<script>
  var readyFunc = function(DLG) {
	var height = 250;
	var width = 470;
	DLG.setMaxDim(width, height);
	DLG.resizeDialog(width, height);
  };
</script>