<h3>Riding Safety</h3>

<p>Safety is key when biking &mdash; whether you’re on a path or sharing the road with motorists. Follow these key safety tips for a safe, fun ride &mdash; whether you’re in the city or on a county road</p>

<dl>
  <dt><strong>Follow the Rules of the Road</strong></dt>
  <dd>
    <ul>
	  <li>Ride with traffic and obey the same laws as motorists</li>
	  <li>Use the rightmost lane that heads in the direction that you are traveling</li>
	  <li>Obey all traffic control devices, such as stop signs, lights, and lane markings</li>
	  <li>Always look back when changing lane position. Use hand and arm signals to indicate your intention to stop, merge, or turn</li>
	</ul>
  </dd>
  <dt><strong>Be Visible</strong></dt>
  <dd>
    <ul>
	  <li>Ride where drivers can see you, three feet from the edge of the roadway and parked cars</li>
	  <li>At night, use a white front light and red rear light or reflector. Wear reflective tape or clothing if practical</li>
	</ul>
  </dd>
  <dt><strong>Be Predictable</strong></dt>
  <dd>
    <ul>
	  <li>Ride in a straight line. Do not swerve between parked cars</li>
	  <li>Make eye contact with motorists to let them know you are there</li>
	  <li>Adults should not ride on the sidewalk</li>
	</ul>
  </dd>
  <dt><strong>Wear a Helmet Properly</strong></dt>
  <dd>
    <ul>
	  <li>Make sure that the helmet fits on top of your head, not tipped back or forward</li>
	  <li>After a crash or any impact that affects your helmet, replace it immediately, regardless of if there is visible damage or not</li>
	</ul>
  </dd>
  <dt><strong>Share and Be Aware</strong></dt>
  <dd>
    <ul>
	  <li>Be aware of traffic around you and be prepared to take evasive action</li>
	  <li>Be extra alert at intersections</li>
	  <li>Learn braking and turning techniques to avoid crashes</li>
	  <li>Yield to pedestrians on trails and in crosswalks</li>
	</ul>
  </dd>
</dl>

<p>For more tips and information on riding safety, please visit <a href="http://shareandbeaware.org" target="_blank">shareandbeaware.org</a></p>