<h3>Health Tips</h3>

<p>Making healthy choices before, during, and immediately after your ride is an important aspect of bicycle safety. Read below for some quick tips that will make your ride better!</p>

<dl>
  <dt><strong>Stay Hydrated</strong></dt>
  <dd>
	<ul>
	  <li>As with any physical activity, staying hydrated is important. By the time you feel thirsty, your body is already dehydrated</li>
	  <li>Try to drink small, frequent quantities of water</li>
	  <li>Invest in a water bottle that can be mounted on your bike</li>
	</ul>
  </dd>
  <dt><strong>Remember Proper Nutrition</strong></dt>
  <dd>
	<ul>
	  <li>Cycling will increase your body's need for energy. Try to eat small, frequent meals while on a ride to avoid running low</li>
	  <li>Consider taking small energy bars with you in a saddle bag on your bike</li>
	</ul>
  </dd>
  <dt><strong>Stretch Properly</strong></dt>
  <dd>
	<ul>
	  <li>Leaning downward on your bike can lead to poor chest flexibility. Spend a few minutes before and after a ride stretching, ideally including the chest every time</li>
	</ul>
  </dd>
  <dt><strong>Build Up Endurance</strong></dt>
  <dd>
	<ul>
	  <li>Long rides will help your body to build up endurance</li>
	  <li>Experiment with faster-paced riding in intervals. For example, ride faster for 10 minutes, then recover for 10 minutes, and repeat</li>
	</ul>
  </dd>
</dl>

<p>Source: <a href="http://www.realbuzz.com/articles/top-10-cycling-training-tips-us-en/#pagination-top" target="_blank">http://www.realbuzz.com/articles/top-10-cycling-training-tips-us-en/#pagination-top</a></p>
