<h3>Trail/Path Etiquette</h3>

<p>Wisconsin has hundreds of great bike trails to enjoy, from paved to dirt. Check out the map feature of this site to find one for your ride, and be a courteous trail user with these tips.</p>

<ul>
  <li>Ride in a single-file line. You may ride two abreast if you will not block other traffic on the path or trail. On curving or hilly trails, ride single-file</li>
  <li>Stay on the right except to pass other traffic</li>
  <li>When passing, pass on the left. Clearly alert others, typically by loudly declaring "On your left!" before passing</li>
  <li>Always look before changing positions on the trail</li>
  <li>Control your speed. Trails are not an appropriate place for high-speed riding</li>
  <li>Pack it in, pack it out. Please respect the trail and pick up all litter</li>
  <li>Enjoy! Wisconsin has miles and miles of beautiful trails. Use the Routes section of Ride On Wisconsin for more information</li>
</ul>


<p>For more tips and information on riding safety, please visit  <a href="http://shareandbeaware.org">shareandbeaware.org</a></p>
