<h3>Basic Maintenance</h3>

<p>You can make your bike last a lifetime with some basic maintenance. Learn the &ldquo;ABC Quick Check&rdquo; below and incorporate it into your pre-ride routine. If your bike needs repair, use the map feature on this site to find your nearest bike shop and take it in.</p>

<h4>The "ABC Quick Check"</h4>
<dl>
  <dt><strong>A is for air</strong></dt>
  <dd>
	<ul>
      <li>Inflate tires to rated pressure as listed on the tire wall</li>
      <li>Use a pressure gauge to ensure proper tire pressure (bicycle tires need to be re-inflated	more often than car tires)</li>
      <li>Check for damage to tire tread and sidewall. Replace tire if worn</li>
	</ul>
  <dd>
  <dt><strong>B is for brakes</strong></dt>
  <dd>
	<ul>
      <li>Rotate wheels to check that nothing is rubbing</li>
      <li>Inspect brake pads for wear. Replace if there is less than 1/4" of pad left</li>
      <li>Check adjustment on brake pads. Make sure pads do not rub tire or dive into spokes</li>
      <li>Check adjustment of brake levers. When applied, there should be at least 1" between each lever and the handlebar</li>
	</ul>
  <dd>
  <dt><strong>C is for cranks, chain, and cassette</strong></dt>
  <dd>
	<ul>
      <li>Chain should be clean, lubricated, and quiet &mdash; not chattering, squeaking, or squealing</li>
      <li>Use a lubricant that's specifically designed for bicycles</li>
      <li>If your chain skips while riding, you might need a new chain, a new cassette, and/or an adjustment</li>
      <li>Make sure that your crank bolts are tight</li>
	</ul>
  <dd>
  <dt><strong>Quick is for quick releases</strong></dt>
  <dd>
	<ul>
      <li>Wheels need to be tight in the frame, with the hub's quick-release lever fully engaged at a 90-degree angle</li>
      <li>Your hub's quick release lever should point back to insure that nothing catches on it</li>
      <li>Inspect brake quick releases to insure that they are engaged</li>
	</ul>
  <dd>
  <dt><strong>Check is for check it over</strong></dt>
  <dd>
	<ul>
      <li>Inspect the bike for loose or broken parts. Tighten, replace, or fix any that are found</li>
      <li>Check to make sure that your helmet is snug and level on your head, with straps snugly adjusted</li>
      <li>Take a quick ride to check if derailleurs and brakes are working properly</li>
      <li>Pay extra attention to your bike during the first few miles of the ride</li>
      <li>If your bike does not pass the ABC Quick Check, it needs repairs or service work. Take it in to your local bike dealer or bike shop for assistance</li>
	</ul>
  <dd>
</dl>
	 
<p>
  For more tips and information on riding safety, please visit <a href="http://shareandbeaware.org" target="_blank">shareandbeaware.org</a>
</p>
