<h3>Group Rides</h3>

<p>Group rides are a great way to enjoy biking in the Badger state! Find a ride using this site, and make sure you have a safe and enjoyable trip with these tips.</p>

<dl>
  <dt><strong>Be Predictable</strong></dt>
  <dd>
	<ul>
      <li>Follow all traffic laws</li>
      <li>Hold your line: Ride in a predictable manner at a close but safe distance slightly to the side of the rider in front of you</li>
      <li>It's not a race: Maintain an even speed. Don't "attack" when it is your turn at the front and don't brake suddenly</li>
      <li>Ride bar to bar: When riding two-by-two, it's dangerous to half-wheel your neighbor. Work to keep handlebars in the same line</li>
	</ul>
  </dd>
  <dt><strong>Don't Impede Traffic</strong></dt>
  <dd>
	<ul>
      <li>Under state law, bicyclists can ride two abreast unless traffic is impeded</li>
	  <li>On higher volume two-lane roads with little or no shoulder, you should ride single-file in one pace line, a few feet from the edge of the rightmost travel lane</li>
	  <li>On higher volume, multilane roads with wide shoulders, and on low volume town roads, you can ride two abreast</li>
      <li>Keep groups to around 20 riders or fewer. If your group exceeds 20 riders, break up into multiple groups. Larger groups make it difficult for motorists to find safe passing locations</li>
	</ul>
  </dd>
  <dt><strong>Communicate</strong></dt>
  <dd>
	<ul>
      <li>Point out road hazards with your fingers to alert the riders behind you.</li>
      <li>Use hand signals to indicate turns (left or right arm straight out), hazards (point), or stopping (arm down with palm to the rear)</li>
      <li>Announce turns and stops in advance of intersections to give riders a chance to position themselves</li>
	</ul>
  </dd>
  <dt><strong>Watch Out at Intersections</strong></dt>
  <dd>
	<ul>
      <li>Be aware that most crashes with motor vehicles occur at intersections</li>
      <li>Stop at all stop signs
      <li>Cyclists should NOT follow others through intersections without first scanning and following all traffic signs and signals</li>
      <li>Do not announce "clear" or "good" at intersections: It is the responsibility of all riders to determine if the intersection is clear</li>
	</ul>
  </dd>
  <dt><strong>Be a Strong Leader</strong></dt>
  <dd>
	<ul>
      <li>The safety of the group depends greatly on the eyes, ears, and behavior of the lead riders</li>
      <li>Be aware that riders in the back of the pack do not have full view of the roadway</li>
      <li>Proceed slowly through an intersection until all riders have rejoined the group</li>
	</ul>
  </dd>
  <dt><strong>Be a Strong Follower</strong></dt>
  <dd>
	<ul>
      <li>The riders at the back of the pack should announce the presence of a passing automobile with "Car back"</li>
      <li>The pack functions best when it stays together: If riders are dropping off the back, notify the front riders to adjust the pace</li>
	</ul>
  </dd>
  <dt><strong>Have Fun!</strong></dt>
  <dd>
	<ul>
      <li>Wisconsin is a premier state for cycling. Stay safe, and have fun on your ride</li>
	</ul>
  </dd>
</dl>

<p>For more safety information, visit <a href="http://shareandbeaware.org">shareandbeaware.org</a></p>
