<h3>Family Bicycling</h3>

<p>Family bicycling can be a fantastic way to have fun outdoors. Check out the trail section of this site for great family-friendly bike routes, and read below for tips on how to make sure your children have a safe, fun ride!</p>

<dl>
  <dt><strong>General Tips</strong></dt>
  <dd>
	<ul>
      <li>Children and adults should always wear a snugly fitting helmet with the chin strap buckled. For more information, visit <a href="http://helmet.org"><em>helmet.org</em></a></li>
	  <li>Don't carry a baby on a bicycle until the child can sit upright while supporting the weight of its own head and a helmet</li>
	  <li>Adults should teach by example: Wear a helmet every time you ride and obey all traffic laws</li>
	  <li>Be visible: Use flags, flashing lights, and reflectors on all types of child carriers, as well as on children's bikes</li>
	  <li>Check that small children and all equipment are secure and safely strapped in before each and every ride</li>
    </ul>
  <dt><strong>Riding With Children on Their Own Bikes</strong></dt>
  <dd>
	<ul>
	  <li>Children should ride in a single-file line</li>
	  <li>With one adult, ride behind and slightly to the left of children</li>
	  <li>With two adults, the more experienced biker rides in the back and the other in the front</li>
	  <li>Adults should communicate to the children where to go, and coach them on their position</li>
	</ul>
  </dd>
</dl>
    

<p>For more tips and information on riding safety, please visit <a href="http://shareandbeaware.org" target="_blank">shareandbeaware.org</a></p>