.hidden {
	display: none;
}

.HaS {
	display: none;
}

option.non-selectable {
	background-color: #999;
}


.panel {
	padding: 5px;
	border: 1px solid #ccc;
}

label, span.label {
	font-size: 14px;
	font-weight: bold;
	font-variant: small-caps;
}

label > span {
	font-variant: normal;
	font-weight: normal;
}


span.head {
	font-size: 16px;
}

ul.cbList, ul.rbList {
	list-style: none;
	margin: 0;
}

.fleft {
	float: left;
}

.fwl label {
	display: inline-block;
	width: 300px;
	text-align: left;
}

label.nfwl {
	width: auto !important;
	float: none !important;
}


.fwl label > input, .fwl label > select, .fwl label > textarea{
		float: right;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin-left: 10px;
		width: 150px;
}

.fwl textarea {
	height: 100px;
}

/* jQuery UI Tweaks */

.ui-widget { font-size: 0.7em !important; }

/* /jQuery UI Tweaks */


/* Route Editor */

.overlayPanel {
	position: absolute;
	z-index: 100;
	background: #fff;
	padding: 10px;
	border: 2px solid #555;
}

.overlayPanel h1 {
	width: auto;
	background: #555;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	padding: 2px;
	text-align: center;
	margin: 0;
}

.floating {
	z-index: 200;
}

.floating h1 {
	cursor: pointer;
}

button.showHide {
	float: right;
	width: 16px !important;
}

#routeMap {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}


#mapFrame {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	cursor: crosshair;
}

#routeDetail {
	left: 0;
	top: 0;
	width: 225px;
	left: 50px;
}

#routePalette {
	right: 200px;
	top: 150px;
	width: 225px;
}

#routeFooter {
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 50px;
	width: 100%;
}
/* /Route Editor */

/* Classifieds */

select > option.group {
	font-weight: bold;
	background-color: #888;
}

option.tier1 {
	padding-left: 15px;
}

option.tier2 {
	padding-left: 30px;
}

option.tier3 {
	padding-left: 45px;
}

option.tier4 {
	padding-left: 60px;
}

option.tier5 {
	padding-left: 75px;
}

option.tier6 {
	padding-left: 90px;
}

/* /Classifieds */

/* Events */


.location .city {
	width: 100px;
}

.location .state{
	width: 40px;
}

.location > .cityState {
	display: inline-block;
	width: 300px;
	text-align: left;
}

.location > .cityState > input {
	float: right;
}

#locationMap {
	width: 300px;
	height: 175px;
}

/* /Events */