.fleft {
  float: left;
  clear: none;
}

.locationMap {
  width: 100%;
  height: 200px;
  position: relative;
}

.topNav a {
  color: #fff !important;
}

/* Begin Custom CodeMirror Code Editor */
.CodeMirror {
  border: 1px solid black;
}

.cm-mustache {
  /*color: #0ca;*/
  color: #f0c;
}

.CodeMirror div {
  clear: none;
  margin-bottom: auto;
  padding: 0;
  vertical-align: baseline;
}

.CodeMirror pre {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
/* End Custom CodeMirror Code Editor */