@font-face {
  font-family: 'BFW-Icons';
  src: url('/fonts/BFW-Icons.eot');
  src: url('/fonts/BFW-Icons.eot?#iefix') format('embedded-opentype'), url('/fonts/BFW-Icons.svg#BFW-Icons') format('svg'), url('/fonts/BFW-Icons.woff') format('woff'), url('/fonts/BFW-Icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'BFW-Icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-wisconsin:before,
.icon-volunteer:before,
.icon-trees:before,
.icon-trail-sign:before,
.icon-star:before,
.icon-search:before,
.icon-road-rides:before,
.icon-road-bike:before,
.icon-restaurants:before,
.icon-print:before,
.icon-phone:before,
.icon-path:before,
.icon-mt-bike-rides:before,
.icon-milwaukee:before,
.icon-merch:before,
.icon-map-pin:before,
.icon-madison:before,
.icon-lodging:before,
.icon-local-chapters:before,
.icon-event:before,
.icon-email:before,
.icon-dutch-bike:before,
.icon-discount-providers:before,
.icon-calendar:before,
.icon-bike-wheel:before,
.icon-bike-shops:before,
.icon-bike-shop:before,
.icon-bike-gear:before,
.icon-add-ride-trail:before,
.icon-add-event:before,
.icon-bikefed-logo:before,
.icon-bikefed-logo-rev:before,
.icon-sunburst:before,
.icon-pin:before,
.icon-flag:before,
.icon-settings:before,
.icon-plus:before,
.icon-lock:before,
.icon-wheel-bike:before,
.icon-heart,
.icon-power,
span.users:before,
span.routes:before,
span.rides:before,
span.events:before,
span.volunteer:before,
span.locations:before,
span.merch:before,
span.classifieds:before,
span.groups:before {
  font-family: 'BFW-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-wisconsin:before {
  content: "\e000";
}
.icon-volunteer:before,
span.volunteer:before {
  content: "\e001";
}
.icon-trees:before {
  content: "\e002";
}
.icon-trail-sign:before,
span.routes:before {
  content: "\e003";
}
.icon-star:before {
  content: "\e004";
}
.icon-search:before {
  content: "\e005";
}
.icon-road-rides:before {
  content: "\e006";
}
.icon-road-bike:before {
  content: "\e007";
}
.icon-restaurants:before {
  content: "\e008";
}
.icon-print:before {
  content: "\e009";
}
.icon-phone:before {
  content: "\e00a";
}
.icon-path:before {
  content: "\e00b";
}
.icon-mt-bike-rides:before {
  content: "\e00c";
}
.icon-milwaukee:before {
  content: "\e00d";
}
.icon-merch:before {
  content: "\e00e";
}
.icon-map-pin:before {
  content: "\e00f";
}
.icon-madison:before {
  content: "\e010";
}
.icon-lodging:before {
  content: "\e011";
}
.icon-local-chapters:before {
  content: "\e012";
}
.icon-event:before {
  content: "\e013";
}
.icon-email:before {
  content: "\e014";
}
.icon-dutch-bike:before {
  content: "\e015";
}
.icon-discount-providers:before {
  content: "\e016";
}
.icon-calendar:before,
span.events:before {
  content: "\e017";
}
.icon-bike-wheel:before {
  content: "\e018";
}
.icon-bike-shops:before,
.icon-bike-shop:before {
  content: "\e019";
}
.icon-bike-gear:before {
  content: "\e01a";
}
.icon-add-ride-trail:before {
  content: "\e01b";
}
.icon-add-event:before {
  content: "\e01c";
}
.icon-bikefed-logo:before,
span.merch:before {
  content: "\e01d";
}
.icon-bikefed-logo-rev:before {
  content: "\e01e";
}
.icon-sunburst:before,
span.groups:before {
  content: "\e01f";
}
.icon-pin:before {
  content: "\e020";
}
.icon-flag:before,
span.rides:before,
span.locations:before {
  content: "\e021";
}
.icon-settings:before {
  content: "\e022";
}
.icon-plus:before {
  content: "\e023";
}
.icon-lock:before,
span.users:before {
  content: "\e024";
}
.icon-wheel-bike:before,
span.classifieds:before {
  content: "\e025";
}
.icon-heart:before {
  content: "\e026";
}
.icon-power:before {
  content: "\e027";
}
/* Variables 
----------------------------------------------------------------------------- */
/* Mixins
----------------------------------------------------------------------------- */
.fixed-center {
  padding-left: 50%;
  margin-left: -480px;
}
/* General
----------------------------------------------------------------------------- */
h1 {
  font-family: 'Alfa Slab One', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  text-transform: uppercase;
  color: #412e20;
  font-size: 55px !important;
  text-shadow: 1px 1px 1px #ffffff;
  line-height: 60px;
  letter-spacing: 2px;
  text-align: left;
}
h2 {
  font-family: 'Alfa Slab One', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  text-transform: uppercase;
  color: #412e20;
  font-size: 46px !important;
  text-shadow: 1px 1px 1px #ffffff;
  line-height: 50px;
  letter-spacing: 2px;
  text-align: left;
}
h4 {
  font-family: 'Crete Round', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-size: 21px;
  font-weight: 400;
  color: #000000;
  margin: 0 0 0px 0;
  line-height: 1.3em;
}
table.striped tbody tr:nth-child(even) {
  background-color: #e6e6e6;
}
table.striped tbody tr:nth-child(odd) {
  background-color: #fff;
}
a {
  text-decoration: none;
  color: #2c9235;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
a:hover {
  color: #206b27;
}
dd {
  margin-left: 0;
}
/* Generic Buttons
----------------------------------------------------------------------------- */
.btn {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  margin: 0;
  padding: 5px;
  border: 0;
  background: #999999;
  font-family: 'Jockey One', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}
.btn.search {
  background: #fb5933;
  color: #ffffff;
  width: 170px;
  height: 45px;
  border: 2px solid #ffffff;
  -webkit-box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
  font-family: 'Jockey One', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-size: 18px;
  line-height: 15px;
}
.btn.search:hover {
  background: #f63305;
  border: 2px solid #ffffff;
  color: #ffffff;
  -webkit-box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
}
.btn.share-ride {
  width: 265px;
  background: #92b574;
  display: inline-block;
  font-family: 'Jockey One', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  padding: 12px 0;
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -ms-border-radius: 0px 0px 5px 5px;
  -o-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  text-align: center;
  font-size: 18px;
  -webkit-box-shadow: inset 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  float: left;
}
.btn.share-ride:hover {
  background: #78a155;
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}
.btn.poi {
  width: 126px;
  display: inline-block;
  font-family: 'Jockey One', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  padding: 12px 0 11px;
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -ms-border-radius: 0px 0px 5px 5px;
  -o-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  text-align: center;
  font-size: 14px;
  -webkit-box-shadow: inset 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  float: left;
}
.btn.poi:hover {
  background: #78a155;
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}
.btn.share-event {
  width: 956px;
  background: #92b574;
  display: inline-block;
  padding: 12px 0;
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -ms-border-radius: 0px 0px 5px 5px;
  -o-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  text-align: center;
  font-size: 18px;
  -webkit-box-shadow: inset 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.btn.share-event:hover {
  background: #78a155;
  color: #ffffff;
  -webkit-box-shadow: inset 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}
.btn.support {
  background: #fb5933;
  color: #ffffff;
  padding: 10px 25px;
  border: 2px solid #ffffff;
  -webkit-box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
  font-family: 'Jockey One', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-size: 21px;
  text-shadow: none;
}
.btn.support:hover {
  background: #f63305;
  color: #ffffff;
  border: 2px solid #ffffff;
}
.btn.contact-us {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: #38b1b8;
  border: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #ffffff;
  margin-left: 70px;
  position: absolute;
  text-shadow: none;
  top: -7px;
}
.btn.contact-us:hover {
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
  color: #ffffff;
  border: 0;
  text-decoration: underline;
}
input[type=text] {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border: none;
  background-color: #ffffff;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
input[type=text]:hover {
  background-color: #dedede;
}
input[type=checkbox] {
  margin: 0 3px 0 0;
}
/************************* BEGIN **********************************/
/* Google WebFonts Used
-- 'Alfa Slab One', 'Jockey One', 'Crete Round', 'Montserrat' (Montserrat 400 and 700 weights)
----------------------------------------------------------------------------- */
body {
  text-align: center;
  background: #109ea6;
  font-family: 'Montserrat', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-weight: 400;
}
.container {
  width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
}
.content {
  width: 960px;
  position: relative;
  margin: 0 auto;
  /* .debug; */

}
.anim-layer {
  width: 960px;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 50%;
  margin-left: -480px;
}
.content-layer {
  width: 960px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  padding-left: 50%;
  margin-left: -480px;
}
/* Static Bicycles */
/* hide static cyclists when the browser supports SVG */
.svg .static-cyclist {
  display: none;
}
.static-cyclist {
  position: absolute;
  z-index: 20;
}
.lt-ie9 .sec01 .anim-layer .intro-aqua-rider,
.lt-ie9 .sec01 .anim-layer .orange-rider,
.lt-ie9 .sec01 .anim-layer .green-rider {
  z-index: 20;
  visibility: visible;
}
.lt-ie9 .sec01 .anim-layer .intro-aqua-rider {
  left: 15px;
  top: 57px;
  z-index: 20;
}
.cyclist01 {
  height: 95px;
  width: 95px;
  top: 15px;
  left: 500px;
}
.cyclist02 {
  height: 95px;
  width: 95px;
  top: 1670px;
  left: 40px;
}
.cyclist03 {
  height: 75.8px;
  width: 71.7px;
  top: 1682px;
  left: 145px;
}
.cyclist04 {
  height: 130px;
  width: 147.5px;
  top: 32px;
  left: 410px;
}
.cyclist05 {
  height: 107.5px;
  width: 105px;
  top: 67px;
  left: 470px;
}
.cyclist06 {
  height: 95px;
  width: 95px;
  top: 608px;
  left: 50px;
}
.cyclist07 {
  height: 95px;
  width: 95px;
  top: 520px;
  left: 200px;
}
.cyclist08 {
  height: 95.8px;
  width: 91.7px;
  top: 505px;
  left: 300px;
}
/* end Static Bicycles


/* Top Pop Menu */
.top-menu {
  position: fixed;
  width: 100%;
  height: 105px;
  background: url(/images/bg-top-menu.png) repeat-x;
  z-index: 200;
  text-align: center;
  visibility: hidden;
  pointer-events: none;
}
.top-menu .nav-list {
  list-style-type: none;
  font-family: 'Crete Round', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  line-height: 25px;
  margin: 0 auto;
  padding: 0;
  width: 960px;
  pointer-events: all;
}
.top-menu .nav-list li {
  display: inline;
  margin: 0;
  padding: 0;
  line-height: 25px;
  float: left;
}
.top-menu .nav-list li a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  height: 32px;
  padding: 8px 18px 0;
  margin: 0px 0 0 0;
  border-right: 1px solid #291D14;
  border-left: 1px solid #877967;
  line-height: 30px;
  text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.7);
}
.top-menu .nav-list li a.first {
  border-left: none;
}
.top-menu .nav-list li a.last {
  border-right: none;
  padding-right: 0;
  /* padding-top: 0;
						height: 40px; */

}
.top-menu .nav-list li a.last:hover {
  background: none;
  background-image: none;
}
.top-menu .nav-list li a:hover,
.top-menu .nav-list li a.active {
  background-color: #938072;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#938072), to(#412e20));
  background-image: -webkit-linear-gradient(top, #938072, #412e20);
  background-image: -moz-linear-gradient(top, #938072, #412e20);
  background-image: -o-linear-gradient(top, #938072, #412e20);
  background-image: -ms-linear-gradient(top, #938072, #412e20);
  background-image: linear-gradient(top, #938072, #412e20);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#938072', EndColorStr='#412e20');
}
.top-menu .nav-list li.logo img {
  width: 210px;
  padding: 0px 0 0 0;
  float: left;
}
.top-menu .nav-list li.logo span {
  display: inline-block;
}
.top-menu .nav-list li .icon-bikefed-logo {
  font-size: 31px;
  color: #109EA6;
  margin: 0 0 0px 8px;
  padding: 0;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2);
}
/* Footer
----------------------------------------------------------------------------- */
.footer {
  background: #412e20;
  position: fixed;
  width: 100%;
  height: 32px;
  left: 0;
  bottom: 0;
  display: none;
  z-index: 590;
  border-top: 1px solid #ffffff;
  text-align: center;
  font-family: 'Montserrat', Arial, Helvetica, Verdana, Tahoma, sans-serif;
}
.footer ul {
  padding: 2px;
  margin: 0px auto;
  width: 960px;
  text-align: center;
}
.footer ul li {
  height: 32px;
  display: inline-block;
  border-right: 1px solid #1f160f;
  border-left: 1px solid #a87752;
  padding: 2px 20px;
  margin: 0;
  width: auto;
  float: left;
  color: #ffffff;
  font-size: 14px;
  line-height: 25px;
}
.footer ul li:before {
  padding-right: 5px;
}
.footer a {
  color: #ffffff;
  font-family: 'Montserrat', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-weight: 700;
  text-shadow: none;
}
.footer a:hover {
  color: #fb5933;
}
.footer .loggedOut,
.footer .loggedIn {
  display: none;
}
/* Section Breakers
----------------------------------------------------------------------------- */
.zigzag {
  width: 100%;
  height: 50px;
}
.sec01-zigzag {
  background: url(/images/bg-zigzag-sec01.png) repeat-x #bbe3bf;
}
.sec02-zigzag {
  background: url(/images/bg-zigzag-sec02.png) repeat-x #412e20;
}
.sec03-zigzag {
  background: url(/images/bg-zigzag-sec03.png) repeat-x #fb5933;
}
.sec04-zigzag {
  background: url(/images/bg-zigzag-sec04.png) repeat-x #9dd0d8;
}
.sec05-zigzag {
  background: url(/images/bg-zigzag-sec05.png) repeat-x #109ea6;
  z-index: 20;
}
.sec01 {
  background: #109ea6;
  height: 800px;
}
.sec01 .anim-layer .scroll-tip {
  position: absolute;
  top: -40px;
  right: 10px;
  z-index: 15;
  cursor: pointer;
}
.sec01 .anim-layer .intro-aqua-rider {
  position: absolute;
  top: 55px;
  left: 5px;
  z-index: 10;
}
.sec01 .anim-layer .intro-aqua-rider img {
  width: 75px;
}
.sec01 .anim-layer .orange-rider {
  position: absolute;
  top: 228px;
  right: 155px;
  z-index: 10;
  visibility: hidden;
  z-index: 15;
}
.sec01 .anim-layer .orange-rider img {
  width: 75px;
}
.sec01 .anim-layer .green-rider {
  position: absolute;
  top: 473px;
  right: 265px;
  z-index: 10;
  visibility: hidden;
  z-index: 15;
}
.sec01 .anim-layer .green-rider img {
  width: 75px;
}
.sec01 .anim-layer .sec01-trees {
  position: absolute;
  top: 655px;
  right: -90px;
  z-index: 10;
  visibility: hidden;
  z-index: 15;
}
.sec01 .anim-layer .map {
  position: absolute;
  top: -25px;
  right: -71px;
  visibility: hidden;
  z-index: 14;
}
.sec01 .anim-layer .map img {
  width: 650px;
}
.sec01 .content-layer .content {
  text-align: left;
}
.sec01 .content-layer .content .ride-on {
  font-family: 'Montserrat', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: #ffffff;
  text-shadow: -1px -1px 3px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
}
.sec01 .content-layer .content .ride-on img {
  margin: 160px 0 17px 0;
  width: 575px;
}
.sec01 .content-layer .content .ride-on .sub-head {
  display: inline-block;
  margin-left: 16px;
}
/* Top Navigation
----------------------------------------------------------------------------- */
.nav-container {
  position: relative;
  left: -70px;
  width: 1014px;
  background: url(/images/bg-nav-ribbon.png) no-repeat;
  height: 216px;
  margin: 32px 0 0 0;
}
.nav-container .search-wrapper {
  width: 530px;
  height: 51px;
  margin: 0 0 0 70px;
  padding: 19px 0 0 0;
}
.nav-container .search-wrapper .city-search {
  margin: 0px 0 0 200px;
  padding: 0 0 0 8px;
  width: 240px;
  height: 40px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.4);
  box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.4);
  float: left;
}
.nav-container .search-wrapper .btn-go {
  width: 50px;
  height: 40px;
  background: #840E1D;
  text-align: center;
  color: #ffffff;
  font-family: 'Jockey One', Impact, Arial, Helvetica, Verdana, Tahoma, sans-serif;
  letter-spacing: 2px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 400;
  margin: 0px 0 0 8px;
  float: left;
}
.nav-container .nav-wrapper {
  width: 930px;
  height: 70px;
  margin: 20px 0 0 70px;
}
.nav-container .nav-wrapper .logo-tag {
  width: 220px;
  font-family: 'Montserrat', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
  text-align: right;
  margin: 0px 0 0 0;
  text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.5);
  float: left;
}
.nav-container .nav-wrapper .logo-tag td {
  padding: 14px 0 0 0;
}
.nav-container .nav-wrapper .logo-tag span {
  display: inline-block;
  margin: 0 20px 0 10px;
}
.nav-container .nav-wrapper .icon-bikefed-logo-rev {
  font-size: 40px;
  color: #ffffff;
}
.nav-container .nav-wrapper .nav-list {
  float: left;
  list-style-type: none;
  font-family: 'Jockey One', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 23px;
  letter-spacing: 2px;
  line-height: 25px;
  margin: 0 0 0 9px;
  padding: 0;
}
.nav-container .nav-wrapper .nav-list li {
  display: inline;
  margin: 0;
  padding: 0;
  line-height: 25px;
  float: left;
}
.nav-container .nav-wrapper .nav-list li a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  height: 38px;
  padding: 0px 20px 0;
  margin: 15px 0 0 0;
  border-right: 1px solid #291D14;
  border-left: 1px solid #877967;
  line-height: 38px;
  text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.7);
}
.nav-container .nav-wrapper .nav-list li a.first {
  border-left: none;
}
.nav-container .nav-wrapper .nav-list li a.last {
  border-right: none;
}
.nav-container .nav-wrapper .nav-list li a:hover {
  color: #fb5933;
}
.sec02 {
  background: #bbe3bf;
  height: 1770px;
}
.sec02 .anim-layer .sec02-trees {
  position: absolute;
  top: 100px;
  left: 290px;
  z-index: 10;
  visibility: hidden;
}
.sec02 .anim-layer .sec02-bike-cross {
  position: absolute;
  top: 60px;
  right: 20px;
}
.sec02 .anim-layer .sec02-tower {
  position: absolute;
  top: 1440px;
  right: -70px;
  z-index: 10;
}
.sec02 .anim-layer .sec02-logo {
  position: absolute;
  top: 1650px;
  right: 90px;
  z-index: 15;
}
.sec02 .content-layer .content {
  text-align: left;
  padding: 30px 0 0 0;
}
.sec02 .col1 {
  width: 325px;
  float: left;
}
.sec02 .col1 input {
  width: 275px;
  height: 35px;
  padding: 0 0 0 5px;
  margin: 0 0 10px 0;
}
.sec02 .col1 .sel-green {
  width: 223px;
}
.sec02 .col2 {
  width: 440px;
  float: left;
}
.sec02 .col2 .tbl-option-select {
  font-family: 'Montserrat', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-size: 14px;
  margin: 0 0 30px 0;
}
.sec02 .col2 .tbl-option-select td {
  padding: 4px;
  line-height: 25px;
  vertical-align: middle;
}
.sec02 .col2 .tbl-option-select td.centered {
  text-align: center;
}
.sec02 .col3 {
  width: 195px;
  float: left;
}
.sec02 .col3 input {
  margin: 25px 0 0 0;
}
.sec02 .col-search-results {
  width: 400px;
  height: 680px;
  float: left;
  margin: 0 15px 40px 0;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.sec02 .col-search-results .search-results-loc {
  padding: 20px 0 10px 20px;
  color: #2c9235;
  -webkit-box-shadow: 0 6px 3px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 6px 3px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 6px 3px -3px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #bfbfbf;
  margin: 0 0 0px 0;
}
.sec02 .col-map-view {
  width: 535px;
  height: 670px;
  float: left;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border: 5px solid #ffffff;
}
.sec02 .icon-add-ride-trail {
  font-size: 27px;
}
.tbl-search-results {
  width: 100%;
  font-size: 14px;
  -webkit-box-shadow: 0 -4px 2px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 -4px 2px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 -4px 2px -2px rgba(0, 0, 0, 0.2);
}
.tbl-search-results td {
  line-height: 17px;
}
.tbl-search-results td.icon {
  text-align: center;
  padding: 15px 10px 15px 20px;
  font-size: 17px;
}
.tbl-search-results td.search-info {
  padding: 15px 20px 15px 10px;
  cursor: pointer;
}
.result-type {
  font-size: 11px;
  text-transform: uppercase;
  color: #808080;
}
.search-pagination {
  text-align: center;
  padding: 10px;
}
/* Slideshow - Featured Rides
----------------------------------------------------------------------------- */
.ss-featured-rides-container {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: 0;
  left: 0px;
}
.ss-featured-rides-container .bg-slide {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.ss-featured-rides-container .btn-prev,
.ss-featured-rides-container .btn-next {
  background: #ffffff;
  width: 40px;
  height: 100px;
  display: inline-block;
  position: absolute;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  z-index: 5;
  font-size: 25px;
  line-height: 100px;
}
.ss-featured-rides-container .btn-prev:hover span,
.ss-featured-rides-container .btn-next:hover span {
  background-position-y: -15px;
}
.ss-featured-rides-container .btn-prev {
  top: 115px;
  left: 15px;
}
.ss-featured-rides-container .btn-next {
  top: 115px;
  right: 16px;
}
.ss-featured-rides-container .prev-arrow,
.ss-featured-rides-container .next-arrow {
  background: url(/images/arrows-slide.png) no-repeat;
  display: inline-block;
  width: 10px;
  height: 14px;
}
.ss-featured-rides-container .prev-arrow {
  background-position: 0 0;
}
.ss-featured-rides-container .next-arrow {
  background-position: -16px 0;
}
.ss-featured-rides-container .slide-container {
  border: 3px solid #fff;
  position: absolute;
  z-index: 2;
  width: 450px;
  height: 250px;
  top: 30px;
  left: 410px;
  overflow: hidden;
}
.ss-featured-rides-container .slides {
  position: relative;
  width: 100%;
  height: 100%;
}
.ss-featured-rides-container .slides img {
  display: none;
}
.ss-featured-rides-container .slides > * {
  position: absolute;
  top: 0;
  left: 0;
}
.ss-featured-rides-container .slides > *.active {
  left: 0;
  display: inline-block;
}
.ss-featured-rides-container .texts {
  position: absolute;
  top: 100px;
  left: 60px;
  width: 345px;
  height: 150px;
  color: #ffffff;
  text-align: center;
}
.ss-featured-rides-container .texts > div {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
}
.ss-featured-rides-container .texts > div.active {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
}
.ss-featured-rides-container .texts h3 {
  margin: 32px 0 20px 0;
  font-family: 'Crete Round', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 29px;
}
.ss-featured-rides-container .details {
  position: absolute;
  left: 160px;
  top: 270px;
  width: 150px;
  height: 30px;
  line-height: 30px;
  background-color: #840e1d;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
}
.ss-featured-rides-container .indexes {
  position: absolute;
  top: 315px;
  left: 410px;
  width: 450px;
  height: 20px;
}
.ss-featured-rides-container .indexes a {
  display: block;
  float: left;
  margin-right: 15px;
  background-color: #840e1d;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.ss-featured-rides-container .indexes a.active {
  background-color: #ffffff;
}
.ss-featured-rides-container .shadow-featured-rides {
  position: absolute;
  top: 340px;
  left: 25px;
}
/* Banner Ad - Featured Rides
----------------------------------------------------------------------------- */
.ad-featured {
  margin: 90px auto 0;
  position: relative;
  text-align: center;
  width: 738px;
  top: 20px;
}
.ad-featured .banner-ad {
  position: absolute;
  width: 728px;
  z-index: 17;
  margin: 0 auto;
  top: 5px;
  left: 5px;
}
.ad-featured .banner-bg {
  position: absolute;
  width: 738px;
  z-index: 5;
  margin: 0 auto;
  left: 0;
  top: 0;
}
.sec02-skyline {
  position: absolute;
  top: 1410px;
  left: 0;
  height: 208px;
  width: 100%;
  overflow: hidden;
}
.sec02-skyline .bg-skyline {
  background: url(/images/skyline-featured-rides.png) repeat-x;
  width: 1400px;
  height: 208px;
  position: absolute;
  top: 0;
  left: 50%;
}
.sec03 {
  background: #412e20;
  height: 1890px;
}
.sec03 .anim-layer .content .sec03-apt {
  position: absolute;
  top: 90px;
  right: -90px;
  z-index: 10;
}
.sec03 .anim-layer .content .sec03-bike-shop {
  position: absolute;
  top: 1790px;
  left: -110px;
  z-index: 10;
}
.sec03 .anim-layer .content .sec03-thumb-shadow {
  position: absolute;
  top: 420px;
  left: -15px;
}
.sec03 .anim-layer .content .sec03-logo {
  position: absolute;
  top: 1800px;
  left: 220px;
  z-index: 15;
}
.sec03 .content-layer .content {
  text-align: left;
}
.sec03 .content-layer h1 {
  color: #e1d9c4;
  text-shadow: 1px 1px 1px #000000;
  text-align: left;
  margin: 80px 0 40px 0;
}
.sec03 .events {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-top: 80px;
  margin-bottom: 50px;
  text-align: left;
  height: 848px;
}
.sec03 .events .location {
  color: #666666;
}
.sec03 .event-search {
  position: relative;
  margin: 0 auto;
  top: -70px;
  background-color: #544336;
  width: 840px;
  padding: 20px 20px 10px;
  color: #e1d9c4;
  text-shadow: 1px 1px 1px #000000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}
.sec03 .event-search table td {
  padding: 0 7px 10px 7px;
}
.sec03 .input-search-events {
  width: 230px;
  height: 35px;
  margin: 0 10px 0 0;
}
.sec03 .sel-brown {
  margin-bottom: 0;
}
.sec03 .sel-brown.cat {
  width: 243px;
  border: none;
}
.sec03 .sel-brown.reg {
  width: 230px;
}
.sec03 .event-date {
  width: 130px;
  height: 35px;
  margin: 0 0 0 10px;
  display: inline;
}
.sec03 .search-events {
  background: #fb5933;
  width: 120px;
  height: 80px;
  border: 2px solid #ffffff;
  margin: 0;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-family: 'Jockey One', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-size: 18px;
}
.sec03 .search-events:hover {
  border: 2px solid #ffffff;
  color: #ffffff;
  background: #fb451a;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.sec03 .search-results-content {
  overflow-y: scroll;
  height: 745px;
  background: url(/images/no-events.png) no-repeat 50% 10%;
  background-size: 200px auto;
  margin-top: -70px;
}
.sec03 .search-results-content.results {
  background: none;
}
.sec03 .tbl-search-results {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}
.sec03 .tbl-search-results .date {
  color: #fb5933;
  display: inline-block;
  margin: 15px 0 0 20px;
}
.featured-event {
  height: 240px;
}
.featured-event .sec03-pic {
  float: left;
  width: 290px;
  height: 170px;
  overflow: hidden;
  border: 5px solid #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.featured-event .info {
  text-align: left;
  margin: 30px;
  float: left;
  width: 500px;
  color: #e1d9c4;
  text-shadow: 1px 1px 1px #000000;
}
.featured-event .info a {
  color: #e1d9c4;
}
.featured-event .info a:hover {
  color: #fb5933;
}
.featured-event .info .date {
  color: #fb5933;
}
.featured-event .info .details {
  color: #e1d9c4;
  font-family: 'Crete Round', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-size: 33px;
  line-height: 1.2em;
  margin: 3px 0 7px;
}
.btn-ride-guide,
.btn-bike-summit {
  background: url(/images/event-btns.png) no-repeat;
  display: inline-block;
}
.btn-bike-summit {
  width: 307px;
  height: 175px;
  margin-right: 15px;
}
.btn-bike-summit:hover {
  background-position: 0 -178px;
}
.btn-ride-guide {
  width: 571px;
  height: 175px;
  background-position: -320px 0;
}
.btn-ride-guide:hover {
  background-position: -320px -178px;
}
/* Banner Ad
----------------------------------------------------------------------------- */
.ad-featured {
  margin: 90px auto 0;
  position: relative;
  text-align: center;
  width: 738px;
}
.ad-featured.sec03-ad {
  margin-top: 30px;
}
.ad-featured .banner-ad {
  position: absolute;
  width: 728px;
  z-index: 7;
  margin: 0 auto;
  top: 5px;
  left: 5px;
}
.ad-featured .banner-bg {
  position: absolute;
  width: 738px;
  z-index: 5;
  margin: 0 auto;
  left: 0;
  top: 0;
}
.sec03-skyline {
  position: absolute;
  top: 1620px;
  left: 0;
  height: 208px;
  width: 100%;
  overflow: hidden;
}
.sec03-skyline .bg-skyline {
  background: url(/images/sec03-skyline.png) repeat-x;
  width: 1400px;
  height: 208px;
  position: absolute;
  top: 0;
  right: 50%;
}
.sec04 {
  background: #fb5933;
  height: 1155px;
}
.sec04 .anim-layer .content .sec04-lake {
  position: absolute;
  top: 10px;
  right: -50px;
  z-index: 13;
}
.sec04 .anim-layer .content .sec04-rv {
  position: absolute;
  top: 1030px;
  right: -70px;
}
.sec04 .anim-layer .content .sec04-eagle {
  position: absolute;
  top: 897px;
  left: 140px;
  z-index: 15;
}
.sec04 .anim-layer .content .sec04-logo {
  position: absolute;
  top: 1070px;
  left: 220px;
  z-index: 15;
}
.sec04 .content-layer .content {
  text-align: left;
}
.sec04 .content-layer h1 {
  margin: 60px 0 40px 0;
}
.sec04 .tips-wrapper-wrapper {
  position: relative;
  margin: 0;
  width: 960px;
}
.sec04 .tips-wrapper {
  padding: 0px;
  background: url(/images/bg-riding-tips.png) no-repeat;
  width: 785px;
  height: 640px;
  float: right;
  margin: 0;
}
.sec04 .tips {
  background-color: #ede8d7;
  overflow: auto;
  width: 710px;
  height: 570px;
  margin: 30px 40px 30px 50px;
  padding: 0;
  text-align: left;
}
.sec04 .tips .body > div {
  display: none;
}
.sec04 .tips .body > div.active {
  display: block;
}
.sec04 .types {
  position: absolute;
  top: 50px;
  left: 0;
  width: 232px;
  overflow: visible;
  text-align: left;
}
.sec04 .types a {
  position: relative;
  z-index: 10;
  display: block;
  min-height: 51px;
  line-height: 51px;
  padding-left: 6px;
  cursor: pointer;
  float: left;
  clear: left;
  color: #ffffff;
}
.sec04 .active-bg {
  position: absolute;
  background: url(/images/bg-tips-nav.png) no-repeat;
  z-index: 5;
  top: 0;
  left: -20px;
  width: 232px;
  height: 51px;
}
.sec04 h3 {
  font-family: 'Jockey One', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  margin: 10px 0;
  color: #38b1b8;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
  letter-spacing: 1px;
}
/* Banner Ad
----------------------------------------------------------------------------- */
.ad-featured {
  margin: 70px auto 0;
  position: relative;
  text-align: center;
  width: 738px;
}
.ad-featured.sec04-ad {
  margin-top: 60px;
}
.sec04-skyline {
  position: absolute;
  top: 1610px;
  left: 0;
  height: 208px;
  width: 100%;
  overflow: hidden;
}
.sec04-skyline .bg-skyline {
  background: url(/images/sec03-skyline.png) repeat-x;
  width: 1400px;
  height: 208px;
  position: absolute;
  top: 0;
  right: 50%;
}
.sec05 {
  background: #9dd0d8;
  height: 1310px;
  overflow: hidden;
}
.sec05 .anim-layer .content .sec05-cow {
  position: absolute;
  top: 1200px;
  left: 620px;
  z-index: 16;
}
.sec05 .anim-layer .content .sec05-windmill {
  position: absolute;
  top: 520px;
  right: 140px;
  z-index: 11;
}
.sec05 .anim-layer .content .sec05-barn {
  position: absolute;
  top: 520px;
  right: -50px;
  z-index: 12;
}
.sec05 .anim-layer .content .sec05-logo {
  position: absolute;
  top: 1225px;
  left: 0px;
  z-index: 15;
}
.sec05 .content-layer .content {
  text-align: left;
}
.sec05 .content-layer h2 {
  margin: 80px 0 40px 0;
}
.get-involved table,
.get-connected table {
  width: 960px;
  margin: 60px 0 0 0;
}
.get-involved table td {
  width: 33%;
}
.get-involved table td.mid {
  padding: 0 0 0 30px;
}
.get-connected {
  margin: 200px 0 0 0;
}
.get-connected td {
  position: relative;
}
.coming-soon {
  position: absolute;
  top: 70px;
  left: 20%;
}
/* Banner Ad
----------------------------------------------------------------------------- */
.sec05-skyline {
  position: absolute;
  top: 410px;
  left: 0;
  height: 1450px;
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.sec05-skyline .bg-green {
  background: #92b574;
  width: 100%;
  position: absolute;
  top: 290px;
  height: 710px;
  z-index: 4;
}
.sec05-skyline .hill {
  z-index: 4;
  position: relative;
  top: 120px;
  margin: 0 auto;
  width: 100%;
  height: 188px;
  background: url(/images/sec05-hill-fence.png) no-repeat top center;
}
.sec05-skyline .bg-skyline {
  background: url(/images/sec05-skyline.png) repeat-x;
  width: 1600px;
  height: 350px;
  position: absolute;
  top: 0;
  left: 40%;
  z-index: 3;
}
.sec06 {
  background: url(/images/bg-sec06.png) repeat-x #109ea6;
  height: 550px;
}
.sec06 .anim-layer {
  text-align: left;
}
.sec06 .anim-layer .content .tent {
  position: absolute;
  top: 350px;
  left: 40px;
  z-index: 10;
}
.sec06 .anim-layer .content .fire {
  position: absolute;
  top: 390px;
  left: 0;
  z-index: 10;
}
.sec06 .content-layer {
  color: #01354a;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
}
.sec06 .content-layer .content {
  text-align: left;
}
.sec06 .content-layer .left-col {
  width: 300px;
  float: left;
  text-align: left;
  margin: 70px 0 0 0;
}
.sec06 .content-layer .right-col {
  width: 620px;
  float: left;
  text-align: left;
  font-size: 14px;
  margin: 90px 0 0 30px;
}
.sec06 .content-layer .more-info {
  color: #ffffff;
  font-size: 16px;
  margin-top: 5px;
  display: inline-block;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.sec06 .content-layer .more-info:hover {
  text-decoration: underline;
}
.sec06 .content-layer-bot {
  color: #01354a;
  position: absolute;
  width: 100%;
  padding: 70px 0 0 0;
  top: 225px;
  left: 0;
  text-align: left;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  z-index: 15;
}
.sec06 .content-layer-bot .left-col {
  width: 300px;
  float: left;
  padding-left: 50%;
  margin-left: -480px;
}
.sec06 .content-layer-bot .mid-col {
  width: 425px;
  float: left;
}
.sec06 .content-layer-bot .mid-col ul {
  margin: 0;
  padding: 0;
}
.sec06 .content-layer-bot .mid-col ul li {
  width: 170px;
  float: left;
  display: inline-block;
  background: url(/images/bull-footer.png) 0 50% no-repeat;
  padding: 0 0 0 10px;
  font-size: 15px;
}
.sec06 .content-layer-bot .mid-col ul li a {
  color: #01354a;
}
.sec06 .content-layer-bot .mid-col ul li a:hover {
  color: #000000;
}
.sec06 .content-layer-bot .right-col {
  width: 235px;
  float: left;
}
.sec06 #contact-us {
  background-color: #38b1b8;
  color: #ffffff;
  height: 360px;
  width: 100%;
  position: fixed;
  bottom: -360px;
  z-index: 560;
}
.sec06 #contact-us .contact {
  margin: auto;
  text-align: left;
  width: 80%;
}
.sec06 #contact-us .contact p {
  color: #fff;
  line-height: 22px;
}
.sec06 #contact-us .contact .contact-content {
  width: 100%;
}
.sec06 #contact-us .contact .contact-content .column {
  float: left;
  display: inline-block;
  width: 50%;
}
.sec06 #contact-us .contact .contact-content .contact-location-map {
  box-shadow: 0 0 0 5px white, 1px 1px 3px 5px #000;
  height: 180px;
  width: 180px;
}
.sec06 #contact-us .contact .contact-content .details {
  margin-left: 30px;
  display: inline-block;
  vertical-align: middle;
}
.sec06 #contact-us .contact .contact-content .details h4 {
  color: #fff;
  font-size: 21px;
  margin: 0;
  margin-bottom: 21px;
}
.sec06 #contact-us .contact .contact-content .details ul {
  color: #00344B;
  font-family: 'Montserrat', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-size: 16px;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 15px;
  padding-left: 0;
}
.sec06 #contact-us .contact .contact-headline {
  position: relative;
}
.sec06 #contact-us .contact .contact-headline h3 {
  color: #00344B;
  display: inline-block;
  font-family: 'Alfa Slab One', cursive;
  font-size: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.sec06 #contact-us .contact .contact-headline img {
  display: inline-block;
  height: 40px;
  width: 40px;
  vertical-align: middle;
  margin-bottom: 16px;
}
.sec06 #contact-us .contact .contact-headline #contact-exit {
  display: inline-block;
  float: right;
  right: 0;
  top: 0;
  margin-top: 32px;
}
.footer-logo {
  margin: 15px 0 0 25px;
}
.social-links {
  margin: 30px 0 0 0;
  padding: 0 17px 0 0;
  text-align: right;
}
.social-icon {
  width: 25px;
  height: 25px;
  background: #ffffff;
  padding: 2px;
  margin: 0 0 0 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.social-icon:hover {
  background: #cccccc;
}
.social-icon.fb:hover {
  background: #334974;
}
.social-icon.tw:hover {
  background: #027d9e;
}
.social-icon.yt:hover {
  background: #666666;
}
/**
 * Default DropKick theme
 *
 * Feel free to edit the default theme
 * or even add your own.
 *
 * See the readme for themeing help
 *
 */
/***** Begin Theme, feel free to edit in here! ******/
/* One container to bind them... */
.dk_container {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f5f5f5));
  background: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-color: #f5f5f5;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  /* margin-bottom: 18px; */

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.dk_container:focus {
  outline: 0;
}
.dk_container a {
  cursor: pointer;
  text-decoration: none;
}
/* Opens the dropdown and holds the menu label */
.dk_toggle {
  /**
   * Help: Arrow image not appearing
   * Try updating this property to your correct dk_arrows.png path
   */

  background-image: url('/images/dk_arrows.png');
  background-repeat: no-repeat;
  background-position: 95% center;
  border: 1px solid #ccc;
  color: #333;
  padding: 7px 45px 7px 10px;
  text-shadow: #fff 1px 1px 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-transition: border-color 0.5s;
  -moz-transition: border-color 0.5s;
  -o-transition: border-color 0.5s;
  transition: border-color 0.5s;
}
.dk_toggle:hover {
  border-color: #8c8c8c;
}
/* Applied when the dropdown is focused */
.dk_focus .dk_toggle {
  border-color: #40b5e2;
}
.dk_focus .dk_toggle {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
/* Applied whenever the dropdown is open */
.dk_open {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  /**
   * Help: Dropdown menu is covered by something
   * Try setting this value higher
   */

  z-index: 10;
}
.dk_open .dk_toggle {
  background-color: #ececec;
  border-color: #8c8c8c;
  color: #ccc;
  box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
}
/* The outer container of the options */
.dk_options {
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}
.dk_options a {
  background-color: #fff;
  border-bottom: 1px solid #999;
  font-weight: bold;
  padding: 8px 10px;
}
.dk_options li:last-child a {
  border-bottom: none;
}
.dk_options a:hover,
.dk_option_current a {
  background-color: #0084c7;
  border-bottom-color: #004c72;
  color: #fff;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
}
/* Inner container for options, this is what makes the scrollbar possible. */
.dk_options_inner {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom-width: 2px;
  border-bottom-color: rgba(0, 0, 0, 0.5);
  color: #333;
  max-height: 250px;
  text-shadow: #fff 0 1px 0;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* Set a max-height on the options inner */
.dk_options_inner,
.dk_touch .dk_options {
  max-height: 250px;
}
/******  End Theme ******/
/* Green Theme
--------------------------------------------------------------------- */
.dk_theme_green {
  background: #92b574;
}
.dk_theme_green .dk_toggle {
  border: 1px solid #92b574;
}
.dk_theme_green .dk_toggle:hover {
  border: 1px solid #6c904d;
}
.dk_theme_green .dk_toggle,
.dk_theme_green.dk_open .dk_toggle {
  background-color: transparent;
  color: #fff;
  text-shadow: none;
}
.dk_theme_green .dk_options a {
  background-color: #92b574;
  color: #fff;
  text-shadow: none;
}
.dk_theme_green .dk_options a:hover,
.dk_theme_green .dk_option_current a {
  background-color: #6c904d;
  color: #fff;
  text-shadow: #604A42 0 1px 0;
}
/* Brown Theme
--------------------------------------------------------------------- */
.dk_theme_brown {
  background: #735c4a;
}
.dk_theme_brown .dk_toggle {
  border: 1px solid #544336;
}
.dk_theme_brown .dk_toggle:hover {
  border: 1px solid #251e18;
}
.dk_theme_brown .dk_toggle,
.dk_theme_brown.dk_open .dk_toggle {
  background-color: transparent;
  color: #fff;
  text-shadow: none;
}
.dk_theme_brown .dk_options a {
  background-color: #544336;
  color: #fff;
  text-shadow: none;
}
.dk_theme_brown .dk_options a:hover,
.dk_theme_brown .dk_option_current a {
  background-color: #44372c;
  color: #fff;
  text-shadow: #604A42 0 1px 0;
}
/***** Critical to the continued enjoyment of working dropdowns ******/
.dk_container {
  display: none;
  float: left;
  position: relative;
}
.dk_container a {
  outline: 0;
}
.dk_toggle {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  position: relative;
  zoom: 1;
}
.dk_open {
  position: relative;
}
.dk_open .dk_options {
  display: block;
}
.dk_open .dk_label {
  color: inherit;
}
.dk_options {
  display: none;
  margin-top: -1px;
  position: absolute;
  right: 0;
  width: 100%;
}
.dk_options a,
.dk_options a:link,
.dk_options a:visited {
  display: block;
}
.dk_options_inner {
  overflow: auto;
  position: relative;
}
.dk_touch .dk_options {
  overflow: hidden;
}
.dk_touch .dk_options_inner {
  max-height: none;
  overflow: visible;
}
.dk_fouc select {
  position: relative;
  top: -99999em;
  visibility: hidden;
}
/***** End Critical to the continued enjoyment of working dropdowns ******/
