@media print
	{
		.dl-header span {
			color: #000000;
		}

		.dl-header h1 {
			color: #000000;
		}

		.header-btns-float-r {
			display: none;
		}

		.bot {
			display: none;
		}

		.col-pad-right {
			font-size: 21px;
		}

		.fb-like iframe{
			display: none;
		}

		.pic-border {
			box-shadow: none;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
		}

	}