div.row-dialog-shadow {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 550;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: none;
  
  opacity: 0.7;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);  
}

img.spinner {
  z-index: 560;
  width: 170px;
  height: 84px;
  position: fixed;
  opacity: 1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  display: none;
}

div.row-dialog-wrapper {
  position: fixed;
  left: 10px;
  top: 10px;
  width: 450px;
  height: 300px;
  z-index: 600;
  padding: 0px;
  display: none;
}

div.row-dialog-content {
  background-color: #fff;
  /*overflow-x: hidden;
  overflow-y: scroll;*/
  /*width: 100%;*/
  height: 100%;
}

div.row-dialog-closer {
  width: 25px;
  height: 24px;
  background: #000;
  border: 3px solid #fff;
  color: #fff;
  font-weight: normal;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  float: right;
  cursor: pointer;
  position: absolute;
  right: -12px;
  top: -12px;
  border-radius: 50% 52%;
  text-align: center;
  vertical-align: middle;
  padding: 3px 0 0 0;
}

div.row-dialog-closer:hover{
  background: #444;
}

iframe.row-dialog-frame {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  border: none;
  
}
