<html>
  <head>
	<title>Page</title>
  </head>
  <body>
	
	<img src="<?php WWW_ROOT; ?>images/logo-top-menu.png">
	
	<div>
	<?php
	
	echo $this->fetch('content');
	
	?>
	</div>
	
	<img src="<?php WWW_ROOT; ?>images/logo-post-bikefed-r.png">
  </body>
</html>