<tr class="rtSearchResult route odd" data-type="Route" data-id="74">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/74">
        <h4>SW Path/Capital City Trail/Lake Monona Trail Loop </h4>
		<span class="result-type">Easy Ride/Trail 17.6 miles</span> <br>
		Madison, WI - 0.69 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route even" data-type="Route" data-id="63">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/63">
        <h4>Monona Lake Loop </h4>
		<span class="result-type">Medium Ride/Trail 12.9 miles</span> <br>
		Madison, WI - 0.72 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route odd" data-type="Route" data-id="71">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/71">
        <h4>East-side Ride </h4>
		<span class="result-type">Easy Ride/Trail 8.0 miles</span> <br>
		Madison, WI - 2.30 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route even" data-type="Route" data-id="30">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/30">
        <h4>Evening roll with custard </h4>
		<span class="result-type">Easy Ride/Trail 6.3 miles</span> <br>
		Madison, WI - 2.67 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route odd" data-type="Route" data-id="44">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/44">
        <h4>Verona/Riley Pancake Ride </h4>
		<span class="result-type">Easy Ride/Trail 5.9 miles</span> <br>
		Verona, WI - 8.92 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route even" data-type="Route" data-id="18">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/18">
        <h4>Grumpy Troll 1C </h4>
		<span class="result-type">Medium Ride/Trail 28.6 miles</span> <br>
		Mount Horeb, WI - 17.61 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route odd" data-type="Route" data-id="19">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/19">
        <h4>Grumpy Troll 8C </h4>
		<span class="result-type">Medium Ride/Trail 26.2 miles</span> <br>
		Mount Horeb, WI - 17.61 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route even" data-type="Route" data-id="17">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/17">
        <h4>Grumpy Troll 2A Tyrol 10 </h4>
		<span class="result-type">Easy Ride/Trail 10.7 miles</span> <br>
		Mount Horeb, WI - 17.61 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route odd" data-type="Route" data-id="85">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/85">
        <h4>BREW (Bicycle Ride Exploring Wisconsin) </h4>
		<span class="result-type">Medium Ride/Trail 104.3 miles</span> <br>
		Mount Horeb, WI - 18.09 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route even" data-type="Route" data-id="81">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/81">
        <h4>Tour Da Goose </h4>
		<span class="result-type">Medium Ride/Trail 0.0 miles</span> <br>
		Aztalan, WI - 29.31 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route odd" data-type="Route" data-id="47">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/47">
        <h4>MS 150 Day 2 </h4>
		<span class="result-type">Medium Ride/Trail 105.9 miles</span> <br>
		Whitewater, WI - 36.47 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route even" data-type="Route" data-id="86">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/86">
        <h4>Wine &amp; Cheese Wisconsin </h4>
		<span class="result-type">Medium Ride/Trail 110.0 miles</span> <br>
		Dodgeville, WI - 37.55 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route odd" data-type="Route" data-id="50">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/50">
        <h4>St Paul to MKE Day 3 </h4>
		<span class="result-type">Medium Ride/Trail 88.1 miles</span> <br>
		Reedsburg, WI - 43.32 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route even" data-type="Route" data-id="41">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/41">
        <h4>Reedsburg to Wisconsin Dells Amtrak Station </h4>
		<span class="result-type">Easy Ride/Trail 15.5 miles</span> <br>
		Reedsburg, WI - 43.67 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route odd" data-type="Route" data-id="77">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/77">
        <h4>Lac LaBelle loop </h4>
		<span class="result-type">Easy Ride/Trail 8.8 miles</span> <br>
		Oconomowoc, WI - 45.44 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route even" data-type="Route" data-id="78">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/78">
        <h4>Lake Country bike trail loop </h4>
		<span class="result-type">Easy Ride/Trail 20.2 miles</span> <br>
		Oconomowoc, WI - 45.44 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route odd" data-type="Route" data-id="58">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/58">
        <h4>Richland Center Revenge </h4>
		<span class="result-type">Hard Ride/Trail 20.7 miles</span> <br>
		Richland Center, WI - 52.65 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route even" data-type="Route" data-id="46">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/46">
        <h4>MS 150 Day 1 </h4>
		<span class="result-type">Medium Ride/Trail 95.3 miles</span> <br>
		Pewaukee, WI - 57.80 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route odd" data-type="Route" data-id="40">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/40">
        <h4>The 400 Trail </h4>
		<span class="result-type">Medium Ride/Trail 23.0 miles</span> <br>
		Elroy, WI - 63.54 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route even" data-type="Route" data-id="92">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/92">
        <h4>Men Falls Scenic Road Ride - 45-60min </h4>
		<span class="result-type">Medium Ride/Trail 11.9 miles</span> <br>
		Menomonee Falls, WI - 64.60 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route odd" data-type="Route" data-id="29">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/29">
        <h4>Big Bend loop </h4>
		<span class="result-type">Medium Ride/Trail 27.7 miles</span> <br>
		New Berlin, WI - 66.68 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route even" data-type="Route" data-id="55">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/55">
        <h4>Lake Mills </h4>
		<span class="result-type">Medium Ride/Trail 51.3 miles</span> <br>
		New Berlin, WI - 66.75 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route odd" data-type="Route" data-id="52">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/52">
        <h4>Marsh road loop </h4>
		<span class="result-type">Medium Ride/Trail 41.9 miles</span> <br>
		New Berlin, WI - 66.77 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route even" data-type="Route" data-id="51">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/51">
        <h4>Sod Farms </h4>
		<span class="result-type">Medium Ride/Trail 38.2 miles</span> <br>
		New Berlin, WI - 66.79 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route odd" data-type="Route" data-id="34">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/34">
        <h4>Menomonee River MTB Trails </h4>
		<span class="result-type">Easy Ride/Trail 8.8 miles</span> <br>
		Milwaukee, WI - 68.85 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route even" data-type="Route" data-id="79">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/79">
        <h4>Ride on the Wild Side </h4>
		<span class="result-type">Medium Ride/Trail 17.2 miles</span> <br>
		Milwaukee, WI - 69.04 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route odd" data-type="Route" data-id="10">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/10">
        <h4>Hoyt Park </h4>
		<span class="result-type">Easy Ride/Trail 2.1 miles</span> <br>
		Wauwatosa, WI - 69.37 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route even" data-type="Route" data-id="15">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/15">
        <h4>Tosa Roubaix </h4>
		<span class="result-type">Easy Ride/Trail 45.9 miles</span> <br>
		Milwaukee, WI - 69.99 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route odd" data-type="Route" data-id="13">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/13">
        <h4>Networking Ride </h4>
		<span class="result-type">Easy Ride/Trail 67.5 miles</span> <br>
		Milwaukee, WI - 70.00 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route even" data-type="Route" data-id="43">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/43">
        <h4>Milwaukee County Alpha Mountain Bike Trail </h4>
		<span class="result-type">Medium Ride/Trail 3.2 miles</span> <br>
		Franklin, WI - 70.15 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route odd" data-type="Route" data-id="14">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/14">
        <h4>South </h4>
		<span class="result-type">Easy Ride/Trail 29.7 miles</span> <br>
		Milwaukee, WI - 70.28 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route even" data-type="Route" data-id="11">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/11">
        <h4>Lake </h4>
		<span class="result-type">Easy Ride/Trail 40.9 miles</span> <br>
		Wauwatosa, WI - 70.30 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route odd" data-type="Route" data-id="12">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/12">
        <h4>Pewaukee </h4>
		<span class="result-type">Easy Ride/Trail 42.6 miles</span> <br>
		Wauwatosa, WI - 70.34 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route even" data-type="Route" data-id="45">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/45">
        <h4>Milwaukee to Jefferson via Glacial Drumlin and other trails </h4>
		<span class="result-type">Medium Ride/Trail 52.6 miles</span> <br>
		Milwaukee, WI - 71.36 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route odd" data-type="Route" data-id="33">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/33">
        <h4>Oak Leaf to Ozaukee Urban and back </h4>
		<span class="result-type">Easy Ride/Trail 40.9 miles</span> <br>
		,  - 71.86 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route even" data-type="Route" data-id="36">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/36">
        <h4>Milwaukee to Caledonia </h4>
		<span class="result-type">Easy Ride/Trail 22.6 miles</span> <br>
		,  - 72.04 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route odd" data-type="Route" data-id="53">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/53">
        <h4>Scenic Shore Day 1 </h4>
		<span class="result-type">Medium Ride/Trail 100.6 miles</span> <br>
		Mequon, WI - 72.75 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route even" data-type="Route" data-id="80">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/80">
        <h4>MKEBKE Monthly Group Bike Ride </h4>
		<span class="result-type">Easy Ride/Trail 2.3 miles</span> <br>
		Milwaukee, WI - 75.00 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route odd" data-type="Route" data-id="31">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/31">
        <h4>Riverwest 24  </h4>
		<span class="result-type">Easy Ride/Trail 4.3 miles</span> <br>
		Milwaukee, WI - 75.63 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route even" data-type="Route" data-id="32">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/32">
        <h4>Bay View to Miller Park </h4>
		<span class="result-type">Easy Ride/Trail 6.8 miles</span> <br>
		Milwaukee, WI - 75.99 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route odd" data-type="Route" data-id="75">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/75">
        <h4>Virmond Park - Newburg - Cedarburg </h4>
		<span class="result-type">Medium Ride/Trail 58.3 miles</span> <br>
		Mequon, WI - 76.30 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route even" data-type="Route" data-id="89">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/89">
        <h4>SS to S </h4>
		<span class="result-type">Medium Ride/Trail 15.1 miles</span> <br>
		Viroqua, WI - 78.60 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route odd" data-type="Route" data-id="91">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/91">
        <h4>SS Scott to Gore S </h4>
		<span class="result-type">Medium Ride/Trail 22.3 miles</span> <br>
		Viroqua, WI - 78.62 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route even" data-type="Route" data-id="90">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/90">
        <h4>M to J </h4>
		<span class="result-type">Medium Ride/Trail 23.2 miles</span> <br>
		Franklin, WI - 79.87 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route odd" data-type="Route" data-id="72">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/72">
        <h4>Port Washington to Harrington Beach </h4>
		<span class="result-type">Medium Ride/Trail 32.0 miles</span> <br>
		Port Washington, WI - 80.40 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route even" data-type="Route" data-id="56">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/56">
        <h4>Port Washington to Covered Bridge </h4>
		<span class="result-type">Easy Ride/Trail 19.3 miles</span> <br>
		Port Washington, WI - 80.61 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route odd" data-type="Route" data-id="39">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/39">
        <h4>Sparta to Elroy </h4>
		<span class="result-type">Medium Ride/Trail 34.8 miles</span> <br>
		Sparta, WI - 92.25 to route start
      </a>
	</td>
</tr>
<tr class="rtSearchResult route even" data-type="Route" data-id="35">
	<td class="icon"><span aria-hidden="true" class="icon-path"></span></td>
	<td class="search-info">
      <a href="#!/routes/view/35">
        <h4>Elroy Sparta Trail </h4>
		<span class="result-type">Medium Ride/Trail 33.9 miles</span> <br>
		Sparta, WI - 92.25 to route start
      </a>
	</td>
</tr>