<div class="ss-featured-rides-container">
	<a href="#" class="btn-prev">&lt;</a><a href="#" class="btn-next">&gt;</a>
	<img src="/images/bg-featured-rides.svgz" alt="">
	<div class="slide-container">
		<div class="slides">
          <img src="/uploads/fetch/93/450x250" class="slide active" data-route-id="32" alt="Slide" >
<img src="/uploads/fetch/94/450x250" class="slide" data-route-id="39" alt="Slide" >
<img src="/uploads/fetch/95/450x250" class="slide" data-route-id="40" alt="Slide" >
		</div><!-- /.slides -->
	</div><!-- /.slide-container -->
	<div class="texts">
		<div class="routeDetail active" data-route-id="32">
  <h3>Bay View to Miller Park</h3>
  <span class="location">Milwaukee, WI</span>
</div>
<div class="routeDetail" data-route-id="39">
  <h3>Sparta to Elroy</h3>
  <span class="location">Sparta, WI</span>
</div>
<div class="routeDetail" data-route-id="40">
  <h3>The 400 Trail</h3>
  <span class="location">Elroy, WI</span>
</div>
	</div><!-- .texts -->
  <a href="#" class="details row-dialog-trigger" data-dialog-action="/routes/view/32">View Details</a>
	<div class="indexes">
      <a class="index active" data-route-id="32"></a>
<a class="index" data-route-id="39"></a>
<a class="index" data-route-id="40"></a>
	</div><!-- /.indexes -->
	<div class="shadow-featured-rides">
		<img src="/images/shadow-featured-rides.png">
	</div>                  
</div>