
html, body, div {
	margin: 0;
	padding: 0;
}

.canvas {
	width: 800px;
	height: 600px;
	position: relative;
	background-color: #000;

	overflow: visible;
}
	
	.canvas canvas {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
	}

.discard {
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 600px;
	background-color: #f00;
	z-index: 2;
	border-right: 2px solid white;
}

.point {
	position: absolute;
	top: 50px;
	left: 50px;
	z-index: 10;
	width: 10px;
	height: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: yellow;
	cursor: pointer;
}

.canvas .clear {
	height: 610px;
	width: 10px;
}
.controls {
	
}

.code {
	
}

input[name=curve] {
	width: 800px;
}
input[type=number] {
	width: 60px;
}