<head>
<body>
	<table cellpadding="0" cellspacing="0" style="border: 0; width: 600px;">
 		<tr>
 			<td>
 				<img src="images/row-email-header.png" alt="Ride on Wisconsin">
 			</td>
 		</tr>
 		<tr>
 			<td style="background: #EEE8D8; padding: 35px 30px;">
 				<h1 style="color: #412E1F; font-family: Arial, Helvetica, sans-serif; font-size: 27px; font-weight: normal;">Your account is activited. <br>
 				Welcome to Ride On Wisconsin!</h1>
				
				<div style="color: #412E1F; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; line-height: 21px;">
					Fugias estiae. Tur seque cus eserit remqui ullam, sam haritae por adit aut volorem perferiatium is explace provita il ius nis duntiis itibus pa conem fugiam ipsunda inulpar umquamu sandundiam. Exerum volor ma sum reperrorum quas id uta vernam quas dolo beaqui ut event int pliqui sundi dolutatium as aut ad molorionem verupta ectibea sit idem fugit as ius reprorit, idi dolore officip sumquam qui ute dollestrum quos a que corrovid quam fuga. 

					<p>Ut voloria cora plaut labore non perchil minissi debissequam, quis aut quodis aut voluptu sandit plandio nsequame alit aut earum quo blabo. Tur seque cus eserit remqui ullam, sam haritae por adit aut volorem perferiatium.</p>
				</div>
				<table cellspacing="0" cellspacing="0" style="border: 0; width: 100%;">
					<tr>
						<td style="padding-top: 15px;">
							<a href="http://www.rideonwisconsin.org" target="_blank"><img src="images/btn-row.png" alt="Visit Ride on Wisconsin"></a>
						</td>
						<td style="text-align: right; padding-top: 15px;">
							<a href="https://www.facebook.com/bike.fed.wi" target="_blank"><img src="images/btn-fb.png" alt="Find us on Facebook"></a>
							<a href="https://twitter.com/BikeFed" target="_blank"><img src="images/btn-twitter.png" alt="Follow us on Twitter"></a>
							<a href="https://www.youtube.com/user/WisconsinBikeFed" target="_blank"><img src="images/btn-yt.png" alt="See us on YouTube"></a>
						</td>
					</tr>
				</table>
 			</td>
 		</tr>
 		<tr>
 			<td style="background: #412E1F; color: #fff; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; line-height: 18px; padding: 35px 30px;">
 				&copy; 2013 Wisconsin Bike Fed. RideOnWisconsin.org is a project brought to you by the Wisconsin Bike Fed. We&rsquo;re an organization committed to making Wisconsin a better, more bike-friendly state.

 				<p>
 					This email was sent to welterdesign@gmail.com by The Wisconsin Bike Fed. <br>
					<a href="http://wisconsinbikefed.org/privacy/" target="_blank" style="color: #009EA7; text-decoration: none;">Privacy Policy</a> | <a href="http://wisconsinbikefed.org" target="_blank" style="color: #009EA7; text-decoration: none;">WisconsinBikeFed.org</a>
 				</p>
 				<p style="border-top: 1px solid #4B392B; padding-top: 10px;">
 					<em>Wisconsin Bike Fed Milwaukee Office</em> <br>
					3618 W. Pierce Street  &bull;  Milwaukee, WI 53215  &bull;  <a href="mailto:info@wisconsinbikefed.org" target="_blank" style="color: #009EA7; text-decoration: none;">Info@WisconsinBikeFed.org</a>
 				</p>
 				<p>
 					<em>Wisconsin Bike Fed Madison Office</em> <br>
					409 E Main Street, Suite 203  &bull;  Madison, WI 53703  &bull;  <a href="mailto:info@wisconsinbikefed.org" target="_blank" style="color: #009EA7; text-decoration: none;">Info@WisconsinBikeFed.org</a>
 				</p>
 			</td>
 		</tr>
 	</table> 	
</body>
</html>