@font-face {
	font-family: 'BFW-Icons';
	src:url('/fonts/BFW-Icons.eot');
	src:url('/fonts/BFW-Icons.eot?#iefix') format('embedded-opentype'),
		url('/fonts/BFW-Icons.svg#BFW-Icons') format('svg'),
		url('/fonts/BFW-Icons.woff') format('woff'),
		url('/fonts/BFW-Icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'BFW-Icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-wisconsin:before,
.icon-volunteer:before,
.icon-trees:before,
.icon-trail-sign:before,
.icon-star:before,
.icon-search:before,
.icon-road-rides:before,
.icon-road-bike:before,
.icon-restaurants:before,
.icon-print:before,
.icon-phone:before,
.icon-path:before,
.icon-mt-bike-rides:before,
.icon-milwaukee:before,
.icon-merch:before,
.icon-map-pin:before,
.icon-madison:before,
.icon-lodging:before,
.icon-local-chapters:before,
.icon-event:before,
.icon-email:before,
.icon-dutch-bike:before,
.icon-discount-providers:before,
.icon-calendar:before,
.icon-bike-wheel:before,
.icon-bike-shops:before,
.icon-bike-shop:before,
.icon-bike-gear:before,
.icon-add-ride-trail:before,
.icon-add-event:before,
.icon-bikefed-logo:before,
.icon-bikefed-logo-rev:before,
.icon-sunburst:before, 
.icon-pin:before, 
.icon-flag:before, 
.icon-settings:before, 
.icon-plus:before, 
.icon-lock:before, 
.icon-wheel-bike:before,
.icon-heart,
.icon-power,
span.users:before,
span.routes:before,
span.rides:before,
span.events:before,
span.volunteer:before,
span.locations:before,
span.merch:before, 
span.classifieds:before,
span.groups:before
 {
	font-family: 'BFW-Icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-wisconsin:before {
	content: "\e000";
}
.icon-volunteer:before, span.volunteer:before {
	content: "\e001";
}
.icon-trees:before {
	content: "\e002";
}
.icon-trail-sign:before, span.routes:before {
	content: "\e003";
}
.icon-star:before {
	content: "\e004";
}
.icon-search:before {
	content: "\e005";
}
.icon-road-rides:before {
	content: "\e006";
}
.icon-road-bike:before {
	content: "\e007";
}
.icon-restaurants:before {
	content: "\e008";
}
.icon-print:before {
	content: "\e009";
}
.icon-phone:before {
	content: "\e00a";
}
.icon-path:before {
	content: "\e00b";
}
.icon-mt-bike-rides:before {
	content: "\e00c";
}
.icon-milwaukee:before {
	content: "\e00d";
}
.icon-merch:before {
	content: "\e00e";
}
.icon-map-pin:before {
	content: "\e00f";
}
.icon-madison:before {
	content: "\e010";
}
.icon-lodging:before {
	content: "\e011";
}
.icon-local-chapters:before {
	content: "\e012";
}
.icon-event:before {
	content: "\e013";
}
.icon-email:before {
	content: "\e014";
}
.icon-dutch-bike:before {
	content: "\e015";
}
.icon-discount-providers:before {
	content: "\e016";
}
.icon-calendar:before, span.events:before {
	content: "\e017";
}
.icon-bike-wheel:before {
	content: "\e018";
}
.icon-bike-shops:before, .icon-bike-shop:before {
	content: "\e019";
}
.icon-bike-gear:before {
	content: "\e01a";
}
.icon-add-ride-trail:before {
	content: "\e01b";
}
.icon-add-event:before {
	content: "\e01c";
}
.icon-bikefed-logo:before, span.merch:before {
	content: "\e01d";
}
.icon-bikefed-logo-rev:before {
	content: "\e01e";
}
.icon-sunburst:before, span.groups:before {
	content: "\e01f";
}
.icon-pin:before {
	content: "\e020";
}
.icon-flag:before, span.rides:before, span.locations:before {
	content: "\e021";
}
.icon-settings:before {
	content: "\e022";
}
.icon-plus:before {
	content: "\e023";
}
.icon-lock:before, span.users:before {
	content: "\e024";
}
.icon-wheel-bike:before, span.classifieds:before {
	content: "\e025";
}
.icon-heart:before {
	content: "\e026";
}
.icon-power:before {
	content: "\e027";
}
