@import "bfw-icons.less";

/* Variables 
----------------------------------------------------------------------------- */
@bg-sec01:          #109EA6;
@bg-sec02:          #BBE3BF;
@bg-sec03:          #412E20;
@bg-sec04:          #FB5933;
@bg-sec05:          #9DD0D8;
@bg-sec06:          #109EA6;
@white:             #fff;
@off-white:			#EDE8D7;
@black:             #000;
@dark-brown:        #412E20;
@gray-brown:        #544336;
@orange:            #FB5933;
@dark-orange:       #840E1D;
@blue:              #109EA6;
@light-blue:        #38B1B8;
@green:             #2C9235;
@grey:              #808080;
@light-green:       #92B574;
@tan:               #E1D9C4;
@footer-font:       #01354a;
@red:               #B82025;

@full-width:        100%;
@fixed-width:       960px;
@fixed-center:      @fixed-width / 2;


@default-fonts:     Arial, Helvetica, Verdana, Tahoma, sans-serif;


/* Mixins
----------------------------------------------------------------------------- */
.fixed-prop(@width: @fixed-width, @pos: relative){
	width: @width;
	position: @pos;
}

.fixed-center{
	padding-left: 50%;
	margin-left: -@fixed-center;
}

.rounded-corners (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	-ms-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}

.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
	text-shadow: @string;
}
.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}
.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:		@x @y @blur @spread rgba(0, 0, 0, @alpha);
}
.inner-shadow (@x: 1px, @y: 1px, @blur: 3px, @spread: 0, @alpha: 0.40) {
	-webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:    inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:         inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}
.transition(@transition) {
  -webkit-transition: @transition;
     -moz-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}

.debug(@color: red){
	outline: 1px solid @color;
}



/* General
----------------------------------------------------------------------------- */
h1{
	font-family: 'Alfa Slab One', @default-fonts;
	text-transform: uppercase;
	color: @dark-brown;
	font-size: 55px !important;
	.text-shadow(1px 1px 1px rgba(255, 255, 255, 1));
	line-height: 60px;
	letter-spacing: 2px;
	text-align: left;
}

h2{
	font-family: 'Alfa Slab One', @default-fonts;
	text-transform: uppercase;
	color: @dark-brown;
	font-size: 46px !important;
	.text-shadow(1px 1px 1px rgba(255, 255, 255, 1));
	line-height: 50px;
	letter-spacing: 2px;
	text-align: left;	
}

h4{
	font-family: 'Crete Round', @default-fonts;
	font-size: 21px;
	font-weight: 400;
	color: @black;
	margin: 0 0 0px 0;
	line-height: 1.3em;
}

table{
	&.striped{
		tbody tr:nth-child(even) {
		   background-color: lighten(@black, 90%);
		}
		tbody tr:nth-child(odd) {
		   background-color: #fff;
		}
	}
}

a{
	text-decoration: none;
	color: @green;
	.transition(color .3s);
	
	&:hover{
		color: darken(@green, 10%);
	}
}

dd{
	margin-left: 0;
}


/* Generic Buttons
----------------------------------------------------------------------------- */
.btn{
	.rounded-corners(8px);
	margin: 0;
	padding: 5px;
	border: 0;
	background: lighten(@black, 60%);
	font-family: 'Jockey One', @default-fonts;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
	color: @white;
	text-decoration: none;
	&.search{
		background: @orange;
		color: @white;
		width: 170px;
		height: 45px;
		border: 2px solid @white;
		.box-shadow(1px 3px 10px rgba(0, 0, 0, .3));
		font-family: 'Jockey One', @default-fonts;
		font-size: 18px;
		line-height: 15px;

		&:hover{
			background: darken(@orange, 10%);
			border: 2px solid @white;
			color: @white;
			.box-shadow(1px 3px 10px rgba(0, 0, 0, .3));
		}
	}
	&.share-ride{
		width: 265px;
		background: @light-green;
		display: inline-block;
		font-family: 'Jockey One', @default-fonts;
		padding: 12px 0;
		.rounded-corners(0px 0px 5px 5px);
		text-align: center;
		font-size: 18px;
		.box-shadow(inset 0 4px 2px -2px rgba(0,0,0,0.2));
		border-bottom: 2px solid @white;
		border-right: 2px solid @white;
		border-left: 2px solid @white;
		color: @white;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
		float: left;

		&:hover{
			background: darken(@light-green, 10%);
			color: @white;
			border-bottom: 2px solid @white;
			border-right: 2px solid @white;
			border-left: 2px solid @white;
		}
	}
	&.poi{
		width: 126px;
		display: inline-block;
		font-family: 'Jockey One', @default-fonts;
		padding: 12px 0 11px;
		.rounded-corners(0px 0px 5px 5px);
		text-align: center;
		font-size: 14px;
		.box-shadow(inset 0 4px 2px -2px rgba(0,0,0,0.2));
		border-bottom: 2px solid @white;
		border-right: 2px solid @white;
		border-left: 2px solid @white;
		color: @white;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
		float: left;
		&:hover{
			background: darken(@light-green, 10%);
			color: @white;
			border-bottom: 2px solid @white;
			border-right: 2px solid @white;
			border-left: 2px solid @white;
		}
	}
	&.share-event{
		width: 956px;
		background: @light-green;
		display: inline-block;
		padding: 12px 0;
		.rounded-corners(0px 0px 5px 5px);
		text-align: center;
		font-size: 18px;
		.box-shadow(inset 0 4px 2px -2px rgba(0,0,0,0.2));
		border-bottom: 2px solid @white;
		border-right: 2px solid @white;
		border-left: 2px solid @white;
		color: @white;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);

		&:hover{
			background: darken(@light-green, 10%);
			color: @white;
			.box-shadow(inset 0 4px 2px -2px rgba(0,0,0,0.2));
			border-bottom: 2px solid @white;
			border-right: 2px solid @white;
			border-left: 2px solid @white;
		}
	}
	&.support{
		background: @orange;
		color: @white;
		padding: 10px 25px;
		border: 2px solid @white;
		.box-shadow(1px 3px 10px rgba(0, 0, 0, .3));
		font-family: 'Jockey One', @default-fonts;
		font-size: 21px;
		text-shadow: none;

		&:hover{
			background: darken(@orange, 10%);
			color: @white;
			border: 2px solid @white;
		}
	}
	&.contact-us{
		.rounded-corners(0);
		background: @light-blue;
		border: 0;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		color:@white;
		margin-left: 70px;
		position: absolute;
		text-shadow: none;
		top: -7px;
		&:hover {
			.box-shadow(0 0 0);
			color: @white;
			border: 0;
			text-decoration: underline;
		}
	}
}

input[type=text]{
	.rounded-corners(0px);
	border: none;
	background-color: @white;
	.transition(background-color .5s);

	&:hover{
		background-color: lighten(@black, 87%);
	}
}
input[type=checkbox]{
	margin: 0 3px 0 0;
}


/************************* BEGIN **********************************/

/* Google WebFonts Used
-- 'Alfa Slab One', 'Jockey One', 'Crete Round', 'Montserrat' (Montserrat 400 and 700 weights)
----------------------------------------------------------------------------- */


body{
	text-align: center;
	background: @blue;
	font-family: 'Montserrat', @default-fonts;
	font-weight: 400;
}

.container{
	width: @full-width;
	margin: 0;
	position: relative;
	text-align: center;
}

.content{
	.fixed-prop(@fixed-width, relative);
	margin: 0 auto;
	/* .debug; */
}

.anim-layer{
	.fixed-prop(@fixed-width, absolute);
	top: 0;
	left: 0;
	.fixed-center;
}

.content-layer{
	.fixed-prop(@fixed-width, absolute);
	top: 0;
	left: 0;
	z-index: 15;
	.fixed-center;
}


/* Static Bicycles */

/* hide static cyclists when the browser supports SVG */
.svg .static-cyclist {
    display: none;
}

.static-cyclist {
    position: absolute;
    z-index: 20;
}

.lt-ie9 .sec01 .anim-layer {
    .intro-aqua-rider, .orange-rider, .green-rider {
        z-index: 20;
        visibility: visible;
    }
    
    .intro-aqua-rider {
        left: 15px;
        top: 57px;
        z-index: 20;
    }
    
    .orange-rider {
    
    }
    
    .green-rider {
    
    }
}

.cyclist01 {
    height: 95px;
    width: 95px;
    top: 15px;
    left: 500px;
}

.cyclist02 {
    height: 95px;
    width: 95px;
    top: 1670px;
    left: 40px;
}

.cyclist03 {
    height: 75.8px;
    width: 71.7px;
    top: 1682px;
    left: 145px;
}

.cyclist04 {
    height: 130px;
    width: 147.5px;
    top: 32px;
    left: 410px;
}

.cyclist05 {
    height: 107.5px;
    width: 105px;
    top: 67px;
    left: 470px;
}

.cyclist06 {
    height: 95px;
    width: 95px;
    top: 608px;
    left: 50px;
}

.cyclist07 {
    height: 95px;
    width: 95px;
    top: 520px;
    left: 200px;
}

.cyclist08 {
    height: 95.8px;
    width: 91.7px;
    top: 505px;
    left: 300px;
}

/* end Static Bicycles


/* Top Pop Menu */
.top-menu{
	position: fixed;
	width: 100%;
	height: 105px;
	background: url(/images/bg-top-menu.png) repeat-x;
	z-index: 200;
	text-align: center;
	visibility: hidden;
	pointer-events:none;
	
	.nav-list{
			list-style-type: none;
			font-family: 'Crete Round', @default-fonts;
			font-weight: 400;
			color: @white;
			text-transform: uppercase;
			font-size: 13px;
			letter-spacing: 2px;
			line-height: 25px;
			margin: 0 auto;
			padding: 0;
			width: 960px;
			pointer-events:all;
	
			li{
				display: inline;
				margin: 0;
				padding: 0;
				line-height: 25px;
				float: left;
				a{
					color: @white;
					text-decoration: none;
					display: inline-block;
					height: 32px;
					padding: 8px 18px 0;
					margin: 0px 0 0 0;
					border-right: 1px solid #291D14;
					border-left: 1px solid #877967;
					line-height: 30px;
					.text-shadow(-1px -1px 2px rgba(0, 0, 0, .7));
					&.first{
						border-left: none;
					}
					&.last{
						border-right: none;
						padding-right: 0;
						/* padding-top: 0;
						height: 40px; */
						&:hover{
							background: none;
							background-image: none;
						}
					}
					&:hover, &.active{
						background-color: #938072;
						background-image: -webkit-gradient(linear, left top, left bottom, from(#938072), to(#412e20));
						background-image: -webkit-linear-gradient(top, #938072, #412e20);
						background-image: -moz-linear-gradient(top, #938072, #412e20);
						background-image: -o-linear-gradient(top, #938072, #412e20);
						background-image: -ms-linear-gradient(top, #938072, #412e20);
						background-image: linear-gradient(top, #938072, #412e20);
						filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#938072', EndColorStr='#412e20');
					}
				}
				&.logo img{
					width: 210px;
					padding: 0px 0 0 0;
					float: left;
				}
				&.logo span{
					display: inline-block;
				}
				.icon-bikefed-logo{
					font-size: 31px;
					color: #109EA6;
					margin: 0 0 0px 8px;
					padding: 0;
					.text-shadow(0px 1px 1px rgba(255, 255, 255, .2));
				}
			}
		}
}




/* Footer
----------------------------------------------------------------------------- */
.footer{
	background: @dark-brown;
	position: fixed;
	width: 100%;
	height: 32px;
	left: 0;
	bottom: 0;
	display: none;
	z-index: 590;
	border-top: 1px solid @white;
	text-align: center;
	font-family: 'Montserrat', @default-fonts;


	ul {
		padding: 2px;
		margin: 0px auto;
		width: 960px; 
		text-align: center;
		
		

		li {
			height: 32px;
			display: inline-block;
			border-right: 1px solid darken(@dark-brown, 10%);
			border-left: 1px solid lighten(@dark-brown, 30%);
			padding: 2px 20px;
			margin: 0;
			width: auto;
			float: left;
			color: @white;
			font-size: 14px;
			line-height: 25px;

			&:before{
				padding-right: 5px;
			}
		}
	}
	a{
		color: @white;
		font-family: 'Montserrat', @default-fonts;
		font-weight: 700;
		.text-shadow(none);

		&:hover{
			color: @orange;
		}
	}
	.loggedOut, .loggedIn {
		display: none;
	}
}



/* Section Breakers
----------------------------------------------------------------------------- */
.zigzag {
	width: 100%;
	height: 50px;
}
.sec01-zigzag{
	background: url(/images/bg-zigzag-sec01.png) repeat-x @bg-sec02;
}
.sec02-zigzag{
	background: url(/images/bg-zigzag-sec02.png) repeat-x @bg-sec03;
}
.sec03-zigzag{
	background: url(/images/bg-zigzag-sec03.png) repeat-x @bg-sec04;
}
.sec04-zigzag{
	background: url(/images/bg-zigzag-sec04.png) repeat-x @bg-sec05;
}
.sec05-zigzag{
	background: url(/images/bg-zigzag-sec05.png) repeat-x @bg-sec06;
	z-index: 20;
}

@import "section01.less";
@import "section02.less";
@import "section03.less";
@import "section04.less";
@import "section05.less";
@import "section06.less";
@import "dropkick.less";