@import "bfw-icons.less";   //Import icon font

// Setup Typography         Fonts
@baseFont:                  arial, helvetica, clean, sans-serif;
@codeFont:                  Monaco, Andale Mono, "Courier New", monospace;
@quoteFont:                 "Georgia", "Times";
@serif:                     "Georgia", "Times", serif;
@sansSerif:                 arial, helvetica, clean, sans-serif;
@headlineSerif:             "Georgia", "Times";
@headlineSans:              arial, helvetica, sans-serif;
@crete:                     'Crete Round', "Georgia", "Times";


@fontSize:                  14; // default font size
@lineHeight:                22; // default line height size

// Headings                 Fonts
@headingFont:               arial, helvetica, clean, sans-serif;

// Heading                  Size
@h1:                        40;
@h2:                        32;
@h3:                        26;
@h4:                        20;

// Setup Color

// Grey Scale
@black:                     #000;
@darkestGrey:               #222;
@darkerGrey:                #333;
@darkGrey:                  #666;
@grey:                      #999;
@lightGrey:                 #ddd;
@lighterGrey:               #eee;
@lightestGrey:              #f1f1f1;
@white:                     #fff;
@tan:                       #AB998A;
@tan-light:                 #EEE8D9;

// Custom Color 1:          Blues
@blueGreen:                 #109ea6;

// Custom Color 2:          Yellows
@lightestYellow:            #ffc;

// Custom Color 3:          Oranges
@orange:                    #FB5933;
@midOrange:                 #FE9E59;
@lightOrange:               #ffc9b3;
@lighterOrange:             #fddfd3;
@lightestOrange:            #fee9cc;
@darkOrange:                #E24129;

// Custom Color 4:          Greens
@light-green:               #92B574;
@green:                     #2C9235;
@red:                       #B71F28;
@red-dark:                  #B82025;

// Button Color             Custom
@buttonOrange:              #ffe0b5;
@activeOrange:              #fdeed8;
@buttonGrey:                #808080;
@slate:                     #ADA39E;

@default-fonts:     Arial, Helvetica, Verdana, Tahoma, sans-serif;

/* Common Classes + mixins */
.left { float: left; }
.right { float: right; }
.block { display: block; }
.inline-block {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}
.inline { display: inline; }
.ta-right{
    text-align: right;
}
.ta-left{
    text-align: left;
}
.ta-center{
    text-align: center;
}

.push-right{
    margin-left: 35px;
}

.dl-b-no-padding-top{
    padding:0 40px!important;
}

.no-padding{
    padding:0!important;
    padding-top:0!important;
    padding-bottom:0!important;
    padding-right:0!important;
    padding-left:0!important;
}

.no-margin{
    margin:0!important;
    margin-top:0!important;
    margin-bottom:0!important;
    margin-right:0!important;
    margin-left:0!important;
}

.bold-text {
    font-weight: bold;
}

.orange-text{
    color: @orange;
}

.sixteen{
    font-size: 16px;
}

.eighteen{
    font-size: 18px;
}

/* Micro Clearfix */
.clear:before, .clear:after { content: ""; display: table; } .clear:after { clear: both; } .clear { zoom: 1; }
.section:before, .section:after { content: ""; display: table; } .section:after { clear: both; } .section { zoom: 1; }
.checkbox:before, .checkbox:after { content: ""; display: table; } .checkbox:after { clear: both; } .checkbox { zoom: 1; }


.rounded-corners (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}

.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
    text-shadow: @string;
}
.box-shadow (@string) {
    -webkit-box-shadow: @string;
    -moz-box-shadow:    @string;
    box-shadow:         @string;
    //border: 1px solid blue;
}

/* Horizontal Rule */
hr {
    border: 0;
    background: none;
    outline: 0;
    height: 1px;
    background-color: @lightGrey;
    margin: 2em 0;

    &.dashed{
        border-bottom: 1px dashed @grey;
        background-color: @white;
    }
    &.min{
        margin: 1em 0;
    }
    &.solid{
        border-bottom: 1px solid @lightGrey;
        background-color: @white;
    }
}

.tbl-pad{
    width: 100%;
    font-size: 14px;
    margin-bottom: 10px;

    th{
        text-align: left;
        background-color: @white;
    }
    td{
        padding: 4px 10px 4px 0;
        vertical-align: top;

        &.title{
            font-size: 11px;
            padding-right: 20px;
            text-transform: uppercase;
        }
    }
}

table{
    &.striped{
        tbody tr:nth-child(odd) {
            background-color: @white;
        }
        tbody tr:nth-child(even) {
            background-color: lighten(@black, 90%);
        }
    }
    &.dashed{
        td {
            border-bottom: 1px dashed lighten(@black, 80%);
        }
    }
    &.full-width{
        width: 100%;
    }
}

.contentPage{
    th{
        padding: 5px;
    }
    td{
        //padding: 7px 10px;
        vertical-align: middle;
        
        &:first-child{
            padding-left: 10px
        }
    }
}

.sm-caps{
    font-size: 11px;
    text-transform: uppercase;
}

 a{
    color:rgb(0,150,167);
    text-decoration: none;
 }

 .dotted-line {
    border-bottom: 1px dashed @grey;
    width:100%;
    margin-top:20px;
 }

/* Dialog CSS 
 ----------------------------------------------------------- */
.dialog-wrap{
    background: @white;
    border-right: 5px solid @white;
    border-bottom: 5px solid @white;
    border-left: 5px solid @white;
    border-top: 1px solid @white;
    //.box-shadow(1px 1px 7px rgba(0, 0, 0, .5));
    .rounded-corners(3px);

    &.lrg{
        width: 860px;
    }
}
.dialog-wrap-sm{
    width: 440px;
    background: @white;
    border: 5px solid @white;

    input[type=text], select{
        width: 350px;
    }
}



.row-dialog-content{
    .box-shadow(1px 1px 7px rgba(0, 0, 0, .5));
    .rounded-corners(3px);
}

.dl-scroll{
    width: 100%;
    max-height: 600px;
    overflow: auto;
}

legend.dl-header{
    margin: 0 0 0 0px;
    font-family: 'Crete Round', @default-fonts;
    font-weight: 400;
    color: @white;
    font-size: 26px;
    line-height: 75px;
}

.dl-header, legend.dl-header{
    height: 75px;
    width: 100%;
    .rounded-corners(3px);

    &.user-login, &.users{
        background: @blueGreen;
    } //.user-login
    &.rides, &.routes{
        background: @light-green;
    }
    h1{
        margin: 0 0 0 10px;
        font-family: 'Crete Round', @default-fonts;
        font-weight: 400;
        color: @white;
        font-size: 26px;
        line-height: 75px;
        display: inline-block;
    }
    &.locations{
        background: @slate;
    }
    &.events{
        background: @orange;
    }
    &.volunteer{
        background: @midOrange;
    }
    &.donate{
        background: @orange;
    }
    &.merch{
        background: @red-dark;
    }
    &.classifieds{
        background: @tan-light;
        h1, span{
            color: @black;
        }
    }
    &.classifieds-internal{
        background: @tan-light;

        h1{
            color: @black;
        }
    }
    &.groups{
        background: @blueGreen;
    }
    span{
        display: inline-block;
        margin: 0 0 0 25px;
        font-size: 19px;
        color: @white;
    }
} // .dl-header
.dl-header{
    position: fixed;
    width: 860px;
    z-index: 30;
    border-top: 5px solid @white;
    top: -1px;
}
.dl-body{
    //margin-top: 70px;
}
.donate-body{
    margin-top: 140px;
}

.dl-body{
    padding: 30px 40px 0;
    font-family: 'Montserrat', @default-fonts;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    &.first{
        margin-top: 70px;
    }

    &.short{  //Width for Shorter User Login Dialog
        input[type=text], input[type=password], textarea{
            width: 350px;
        }
    }
    &.sub{
    padding-top: 10px;
    }
    h1{
        font-size: 24px;
        font-weight: 400;
        margin: 0;
    }
    h2{
        font-family: 'Crete Round', @default-fonts;
        font-weight: 400;
        line-height: 25px;

        .small{
            font-family: 'Montserrat', @default-fonts;
            font-weight: 400;
            font-size: 14px;
        }
    }
    .lrg-txt{
        font-size: 16px;
    }
    .title{
        font-size: 11px;
        font-weight: 700;
    }
    &.dashed{
        background: url(/images/bg-dashed.png) repeat-y 50% 0;
    }
    input[type=text], input[type=password], input[type=email], textarea{
        width: 320px;

        &.short{
            width: 140px;
        }
    }
    select{
        width: 330px;

        &.short{
            width: 160px;
        }
    }
    textarea{
        height: 70px;
    }
    h3{
        font-size: 16px;
        font-weight: 400;
        margin: 0 0 5px 0;

        .small{
            font-size: 12px;
        }
    }
    &.highlight{
        background: @lightestGrey;
        padding-bottom: 20px;
        padding-top: 20px;
    }
} // /.dl-body



.dl-footnote{
    background: @lightestGrey;
    // width: 100%;
    margin: 25px 0 0 0;
    padding: 15px 25px 10px;
    font-size: 14px;
    font-family: 'Montserrat', @default-fonts;
    font-weight: 400;
    font-size: 13px;
    color: @black;
}

.bot{
    margin-bottom: 40px;
}

.btn{
    .rounded-corners(4px);
    margin: 0;
    padding: 10px 15px;
    background: lighten(@black, 80%);
    background-image: -o-linear-gradient(-90deg, #D5D6D7 0%, #BEC0C2 100%);
    background-image: -moz-linear-gradient(-90deg, #D5D6D7 0%, #BEC0C2 100%);
    background-image: -webkit-linear-gradient(-90deg, #D5D6D7 0%, #BEC0C2 100%);
    background-image: -ms-linear-gradient(-90deg, #D5D6D7 0%, #BEC0C2 100%);
    background-image: linear-gradient(-180deg, #D5D6D7 0%, #BEC0C2 100%);
    border: 1px solid #B1B2B2;
    .text-shadow(1px 1px 1px rgba(255, 255, 255, .5));
    font-family: 'Montserrat', @default-fonts;
    font-weight: 400;
    font-size: 13px;
    color: @darkGrey;
    text-decoration: none;
    display: inline-block;

    &:hover{
        .box-shadow(inset 0 0 15px rgba(0, 0, 0, .3));
        color: @darkestGrey;
        border: 1px solid @darkGrey;
    }
    &.reset{
        margin: 10px 0 0 0;
    }
    &.login{
        background: @orange;
        font-family: 'Jockey One', @default-fonts;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 20px;
        color: @white;
        width: 120px;
        height: 45px;
        border: 2px solid @white;
        .box-shadow(1px 3px 10px rgba(0, 0, 0, .3));

        &:hover{
            background: darken(@orange, 10%);
        }
    } //.login

    &.submit{
        background: @orange;
        font-family: 'Jockey One', @default-fonts;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 20px;
        color: @white;
        margin: 20px 0 0 0;
        border: 2px solid @white;
        .box-shadow(1px 3px 10px rgba(0, 0, 0, .3));

        &:hover{
            background: darken(@orange, 10%);
        }  
    }
    &.utility{
        background-color: #d5d6d7;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#d5d6d7), to(#bec0c2));
        background-image: -webkit-linear-gradient(top, #d5d6d7, #bec0c2);
        background-image: -moz-linear-gradient(top, #d5d6d7, #bec0c2);
        background-image: -o-linear-gradient(top, #d5d6d7, #bec0c2);
        background-image: -ms-linear-gradient(top, #d5d6d7, #bec0c2);
        background-image: linear-gradient(top, #d5d6d7, #bec0c2);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#d5d6d7', EndColorStr='#bec0c2');
        font-family: 'Montserrat', @default-fonts;
        color: @darkGrey;
        font-size: 13px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        letter-spacing: 0px;
        text-transform: none;
        padding: 8px 15px;
        border: 1px solid #b2b2b2;
        &:hover{
            .box-shadow(inset 0px 0px 15px rgba(0, 0, 0, .2));
            color: darken(@darkGrey, 10%);
        }
    }//.utility
    &.slide-next, &.slide-prev{
        width: 70px;
        height: 32px;
        padding: 0;
        line-height: 40px;
        background: @buttonGrey;
    }
    &.grey{
        background: #ADA39E;
        border: 2px solid @white;
        .box-shadow(1px 3px 10px rgba(0, 0, 0, .3));
        font-family: 'Jockey One', @default-fonts;
        font-weight: 400;
        color: @white;
        text-transform: uppercase;
        text-shadow: none;
        letter-spacing: 2px;
        font-size: 17px;
        margin: 15px 0 0 0;
        &:hover{
         background: darken(#ADA39E, 10%);
        }
    }
    &.disabled{
        background: lighten(@buttonGrey, 30%);
        border: 1px solid lighten(@buttonGrey, 30%);
        &:hover{
            .box-shadow(none);
        }
    }
}//.btn

.submit input{
    .rounded-corners(4px);
    margin: 0;
    padding: 5px 15px;
    border: 0;
    background: @orange;
    font-family: 'Jockey One', @default-fonts;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    color: @white;
    text-decoration: none;
    border: 2px solid @white;
    .box-shadow(1px 3px 10px rgba(0, 0, 0, .3));
    float: right;

    &:hover{
        background: darken(@orange, 10%);
    }
}

.pic-border{
    border: 4px solid @white;
    .box-shadow( 1px 1px 5px rgba(0, 0, 0, .3));

    &.bot-margin{
        margin-bottom: 20px;
    }
}

.slide-control{
    margin: 12px 0;
    padding: 0 8px 0 8px;
    line-height: 30px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.map-detail{
    margin: 10px 0;
}




/* = Routes
----------------------------------------------------------------------------- */
.gpx-import{
    label{
        display: inline-block !important;
        margin-right: 15px;
    }
}




/* = Add / Share Ride
----------------------------------------------------------------------------- */
div.mapWrapper{
    height: auto !important;
    margin-bottom: 20px;
}

.mapHeader{
    float: right;
}

.uploadList{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ride-details{
    height: 420px;
}
.route-distance{
    font-size: 24px;
}
.actions{
    margin: 10px 0;
}


/* = Donate
----------------------------------------------------------------------------- */
.donate-nav{
    background: @darkOrange;
    margin-top: 70px;
    position: fixed;
    width: 860px;
    z-index: 30;

    ul{
        margin: 0;
        list-style-type: none;
        height: 90px;

        li{
            display: inline-block;
            width: 32%;
            text-align: center;
            border-right: 1px dashed @white;
            font-family: 'Crete Round', @default-fonts;
            font-size: 26px;
            font-weight: 400;
            height: 55px;
            float: left;
            margin: 17px 0 0px 0;
            position: relative;
            //.debug(yellow);

            a{
                color: @black;
                text-decoration: none;
                line-height: 26px;
                display: inline-block;
                height: 55px;

                &:hover{
                    color: @white;
                }
            }

            img{
                display: none;
            }

            &.active{

                a{
                    color: @white;
                }

                img{
                    position: absolute;
                    top: 72px;
                    left: 50%;
                    margin: 0 0 0 -15px;
                    display: block;
                }
            }

            &.last{
                border-right: none;
            }
        } 
    }
}//.donate-nav




/* =Classifieds
----------------------------------------------------------------------------- */
#searchResults{

    tr{
        cursor: pointer;
    }

    td{
        &.thumb{
            width: 80px;
            padding: 15px 20px 15px 40px;

            img{
                border: 2px solid @white;
                .box-shadow(1px 1px 3px rgba(0, 0, 0, .5));
            }
        }
    }

    h2{
        margin: 0;
    }
}




/* =Cycling Groups
----------------------------------------------------------------------------- */
.cg-search{
    h2{
        color: @blueGreen;
        margin: 5px 5px 5px 30px;
    }
}
.depart-info{
    text-align: left;
    margin: 0 0 0 13px;
}

.no-results{
    background: url(/images/no-results.png) no-repeat 50% 10%;
    background-size: 200px auto;
    min-height: 300px;
}
.results{
    background: none;
}


/* Forms, Labels and Inputs 
 -------------------------------------------------------------------------- */
fieldset {
    //margin: 1.5em 0;
    border: 0;
    margin: 0;
    padding: 0;
}
legend {
    font-family: 'Montserrat', @default-fonts;
    font-size: 14px;
    line-height: normal;
    font-weight: bold;
    //width: 100%;
    .block();
    border: 0;
    *margin-left: -5px; //fix alignment for ie7
}
label, legend {
    font-weight: 400;
    cursor: pointer;
    font-size: 16px;
    margin: 0 0 5px 0;

    .small, &.small{
        font-size: 13px;
    }
}
.inline-field label {
    .inline-block();
    margin-right: 1em;
}
.field, .input {
    padding: 0.2em 0;

    label {
        .block();
    } // end label
}

.checkbox {
    .block();
    position: relative;
    line-height: normal;
    padding: 0.25em 0;

    label {
        display: table-cell;
        font-size: 14px;
        line-height: 14px;
        *zoom: 1;
    } // end label
}
.checkbox input[type=checkbox],
.checkbox input[type=radio], fieldset input[type=radio] {
    float: left;
    //top: -2px;
    position: relative;
    margin: 2px 7px 0 0;
}
/* Inputs (Text, Search, Email, etc) */
input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel] {
//input[type=file] {
    outline: 0;
    padding: 2px 5px;
    height: 25px;
    -webkit-appearance: none; // Remove Default Browser Behaviour for Safari
    -moz-appearance: none; // Remove Default Browser Behaviour for Firefox
    .rounded-corners(3px);
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    background-color: @lightestGrey;
    color: @darkGrey;
    border: 1px solid @lightGrey;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin-bottom: 8px;
}
input[type=file] {
    border: 0;
    height: 20px;
    margin: 10px 0;
}
input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner {
    padding: 0;
    border: 0;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
input[type=submit],
input[type=button],
input[type=reset] {
    line-height: normal;
    cursor: pointer;
    -webkit-appearance: none;
    /* Remove Default Browser Behaviour for Safari */

    -moz-appearance: none;
    /* Remove Default Browser Behaviour for Firefox */

}
textarea {
    font-size: 14px;
    font-weight: bold;
    outline: 0;
    padding: 2px 5px;
    vertical-align: top;
    background-color: @lightestGrey;
    color: @darkGrey;
    border: 1px solid @lightGrey;
    resize: none; // disable user resizing
    .rounded-corners(3px);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
select {
    font-size: 14px;
    outline: 0;
    border: 0;
    padding: 7px;
    height: 30px;
    line-height: normal;
    .inline-block();
    vertical-align: middle;
    //*border: 10px solid @white;
    //outline: 1px solid @lightGrey;
    margin-bottom: 9px;
    .rounded-corners(5px);
    }
    select[multiple] {
    min-height: 100px;
    border: 1px solid @lightGrey;
    vertical-align: top;
    border: 1px solid @lightGrey;
}

select,
input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel] {
    width: 280px;
}
textarea { width: 260px; }

.searchBox, .cg-form{
   input[type=text], select{
    width: 95%;
   } 
}

/* Buttons */



.buttons {
    padding: 1em 0;
}
.button {
    font-size: 14px;
    line-height: normal;
    cursor: pointer;
    border: 0;
    padding: 0.8em 3em;
    color: @darkestGrey;
    text-decoration: none;
    text-align: center;
}

.orange-button {
    background-color: @lightestOrange;

    &:hover {
        background-color: @buttonOrange;
        -webkit-tap-highlight-color: @activeOrange;
    } // end hover
    &:active {
        background-color: @activeOrange;
    } // end hover
}
.button[disabled],
.button.disabled {
    color: @grey;
    background-color: @lightestGrey;
}

.no-style-button {
    font-size: 14px;
    color: @orange;
    text-decoration: underline;
    border: 0;
    background: transparent;
    height: auto;
    padding: 0;

    &:hover {
        text-decoration: none;
    } // end hover
}
.no-style-button[disabled],
.no-style-button.disabled {
    text-decoration: none;
    color: @grey;
}

.donate-btn {
        background: @orange;
        font-family: 'Jockey One', @default-fonts;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 21px;
        color: @white;
        margin: 20px 0 0 0;
        padding: 10px 20px;
        text-decoration: none;
        border: 2px solid @white;
        .rounded-corners(4px);
        .box-shadow(1px 3px 10px rgba(0, 0, 0, .3));
        position:absolute;
        right:70px;
        bottom:55px;



        &:hover{
            background: darken(@orange, 10%);
}

}

.memb-orange-btn {
        background: @orange;
        font-family: 'Jockey One', @default-fonts;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 21px;
        color: @white;
        margin: 20px 0 0 0;
        padding: 10px 20px;
        text-decoration: none;
        border: 2px solid @white;
        .rounded-corners(4px);
        .box-shadow(1px 3px 10px rgba(0, 0, 0, .3));



        &:hover{
            background: darken(@orange, 10%);
}

}

.memb-grey-btn{
    background: @grey;
        font-family: 'Jockey One', @default-fonts;
        font-weight: normal;
        letter-spacing: 2px;
        font-size: 17px;
        color: @white;
        margin: 20px 0 0 0;
        padding: 11px 15px;
        text-decoration: none;
        border: 2px solid @white;
        float: left;
        display: block;
        width:140px;
        text-align: center;
        .rounded-corners(8px);
        .box-shadow(1px 3px 10px rgba(0, 0, 0, .3));



        &:hover{
            background: darken(@orange, 10%);
}

}

.middle-btn-two a:first-child {
    margin-right: 20px;
}

.middle-btn {
    margin: 0 auto;
    width:155px;
    display: block;
}

.middle-btn-two {
    margin: 0 auto;
    height:90px;
    width:370px;
    display: block;
}

.org-memb-grey-btn{
    background: @grey;
        font-family: 'Jockey One', @default-fonts;
        font-weight: normal;
        letter-spacing: 2px;
        font-size: 17px;
        color: @white;
        margin: 13px 0 0 10px;
        padding: 11px 8px;
        text-decoration: none;
        border: 2px solid @white;
        float: left;
        display: block;
        width:140px;
        text-align: center;
        .rounded-corners(4px);
        .box-shadow(1px 3px 10px rgba(0, 0, 0, .3));



        &:hover{
            background: darken(@orange, 10%);
}
}

.org-memb-orange-btn {
        background: @orange;
        font-family: 'Jockey One', @default-fonts;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 21px;
        color: @white;
        margin: 5px 0 0 0;
        padding: 15px 25px;
        text-decoration: none;
        border: 2px solid @white;
        .rounded-corners(4px);
        .box-shadow(1px 3px 10px rgba(0, 0, 0, .3));



        &:hover{
            background: darken(@orange, 10%);
}

}

/* Grid Layout 
 -------------------------------------------------------------------------- */
/* Sections & Content Blocks */
.section { 
    position: relative; 
    //.debug();
}

.row { margin-bottom: 1em; }

.dashed-mid{
    background: url(/images/bg-dashed.png) repeat-y 50% 0;
}

/* Fluid Grid */
.col {
    margin-left: 2%;
    *margin-left: 1.7%; // ie7 fix
    float: left;
    //.debug;

    &.dashed-right{
        background: url(/images/bg-dashed.png) repeat-y 100% 0;
    }
    &.dashed-left{
        background: url(/images/bg-dashed.png) repeat-y 0 0;
    }
    .col-pad-right{
        padding: 0 40px 0 0;
    }
    .col-pad-left{
        padding: 0 0 0 25px;
    }
    .no-margin{
        margin: 0;
    }
}//.col
.col:first-child { margin-left: 0; }

/* Columns */
.one { width: 6.5%; }
.two { width: 15%; }
.three { width: 23.5%; }
.four { width: 32%; }
.five { width: 40.5%; }
.six { width: 49.0%; }
.seven { width: 57.5%; }
.eight { width: 66%; }
.nine { width: 74.5%; }
.ten { width: 83%; }
.eleven { width: 91.5%; }
.twelve { width: 100%; }

.quarter { .three(); }
.half { .six(); }
.one-third { .four(); }




/* =Header Icons
----------------------------------------------------------------------------- */
span{

    &.users{
        
    }
    &.routes{
        font-size: 26px;
    }
    &.rides{
        font-size: 26px;
    }
    &.events, &.groups{
        font-size: 25px;
    }
    &.volunteer, &.icon-volunteer{
        font-size: 25px;
    }
    &.icon-star{
        margin-bottom: 3px;
        font-size: 23px;
    }
    &.icon-bikefed-logo, &.merch{
        font-size: 26px;
    }
    &.classifieds{
        font-size: 27px;
    }
}




/* =Slideshows
----------------------------------------------------------------------------- */
.slides, .contentSlideShowWrapper {
    position: relative;
    left: 0;
    top: 0;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .hiddenSlide {
    display: none;
  }

.merch{
    .slide-control{
        padding-left: 0;
        padding-right: 15px;
        font-size: 9px;
    }
    .content{
        padding: 10px 15px 10px 0;
    }
    .btn.submit{
        display: block;
        width: 20%;
        text-align: center;
    }
}




/* Color Fills
----------------------------------------------------------------------------- */
.black{
    color: @black;
}
.orange{
    color: @orange;
}
.red{
    color: @red;
}
.green{
    color: @green;
}


.h-pad-top{
    margin-top: 20px !important;
}


/* Imported -- Clean This Up
----------------------------------------------------------------------------- */
.fleft {
    float: left;
}

.dialog {
    // position: fixed;
    // left: 50px;
    // right: 50px;
    // top: 50px;
    // bottom: 50px;
    // z-index: 10000;
    // background: #fff;
    // text-align: left;
}


.dialog .header {
    width: 100%;
    //background-color: #00f;
    //height: 20px;
}

.dialog iframe {
    width: 100%;
    height: 100%;
    border: none;
}

a.dialogClose {
    position: absolute;
    display: inline-block;
    right: -15px;
    top: -15px;
    width: 29px;
    height: 29px;
    background-image: url(/images/dlg-close-button.png);
}


#dialogShadow {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #000;
    opacity: 0.75;
    display: none;
    z-index: 9999;
}

#footerPanel {
    opacity: 0.5;
    background: #000;
    padding: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 32px;
    z-index: 9999;
    color: #fff;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    text-align: left;
}

#footerPanel * {
    color: rgba(255, 255, 255, 1) !important;
}

#footerPanel a {
    /*color: #fff;*/
    font-weight: bold;
    text-decoration: none;
}

#footerPanel:hover {
    opacity: 0.75;
}

.loggedIn {
    display: none;
}

.error {
    background: #ffcc00;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
    background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#E6B800));
    background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
    background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
    background-image: linear-gradient(top, #ffcc00, #E6B800);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 18px;
    padding: 7px 14px;
    color: #404040;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

#footerPanel {
    display: none;
}




/*un-classified donate page styles */

.crete {font-family: @crete;}

.donate-list{
    list-style-type: none;
}

.donate-list li {
    margin-bottom: 5px;
}

.donate-highlight-text {
    width:500px;
}

.mail-to{
    font-size: 11px;
    font-weight: bold;
    margin-left: 0px;
}

.bikelist{
    list-style-type: none;
    margin: 0 0 0 0px;
}

.bikelist li{
    margin-bottom: 5px;
}

.donate-header {
    width:500px;
    margin-top: 90px;
}

.donate-block {
    margin-left: 0!important;
}

.donate-highlight {
    padding-left:80px;
    position: relative;
}


/*Buttons for Don*/

.header-btns{
    .rounded-corners(4px);
    margin: 20px 0 0 10px;
    padding: 10px 15px;
    background: @grey;
    border: 1px solid #fff;
    .text-shadow(1px 1px 1px rgba(0, 0, 0, .5));
    font-family: 'Montserrat', @default-fonts;
    font-weight: 400;
    font-size: 13px;
    color: @lightestGrey;
    text-decoration: none;
    display: inline-block;
    float: right;

    &:hover{
        .box-shadow(inset 0 0 15px rgba(0, 0, 0, .3));
        color: @lightestGrey;
        border: 1px solid @lightestGrey;
        }
}

.header-btns-float-l {
    float: left;
}

.header-btns-float-r {
    float: right;
    margin-right: 15px;
}

/*Individual Membership*/

.memb-highlight-headline-wrap {
    font-size: 13px;
    color: #202f3c;
    border-bottom:1px solid @grey;
    text-align: center;
    margin-bottom: 30px;
}

.memb-highlight-headline {
    position: relative;
    top: 9px;
    padding: 0 20px;
    background-color: @lightestGrey;
    
}

.memb-col-header {
    font-size: 18px;
    color: #202f3c;
    text-align: center;
    margin-bottom: 30px;
}

.memb-col-lower {
    font-size: 14px;
    color: @grey;
}

.memb-ben-list {
    list-style-type:none;
    position: relative;
}

.memb-li {
    margin-bottom: 20px;
}

.memb-highlight{
    padding-bottom: 40px!important;
}

/*Organizational Membership styles*/

.org-memb-highlight {
    height:115px;
    padding-bottom: 50px;
    position: relative;
}

.org-memb-highlight span{
    float:left;
    margin-top: 10px;
    position: absolute;
    left:30px;
    top:100px;
}

.org-memb-col-lower {
    font-size: 14px;
    color: @grey;
    margin:5px 0 0 0;
}

.org-members{
    margin-right: 50px;
    font-size: 13px;
}




/* =My Account
----------------------------------------------------------------------------- */
.controls{
    margin: 0 0 15px 0;
    label{
        margin: 0 15px 0 10px;
    }
}



/* =Helper classes
----------------------------------------------------------------------------- */
.margin-bot-30{
    margin-bottom: 30px;
}

#flashMessage{
    padding: 10px 35px 10px 15px;
    margin: 30px 40px 0;
    color: #c09853;
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    border-radius: 4px;
    display: block;
    width: 100%;
}

.debug(@color: red){
    outline: 1px solid @color;
}


.dialog-wrap.lrg {
    td.truncate {
        display: block;
        width: 320px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}














