@font-face {
  font-family: 'BFW-Icons';
  src: url('/fonts/BFW-Icons.eot');
  src: url('/fonts/BFW-Icons.eot?#iefix') format('embedded-opentype'), url('/fonts/BFW-Icons.svg#BFW-Icons') format('svg'), url('/fonts/BFW-Icons.woff') format('woff'), url('/fonts/BFW-Icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'BFW-Icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-wisconsin:before,
.icon-volunteer:before,
.icon-trees:before,
.icon-trail-sign:before,
.icon-star:before,
.icon-search:before,
.icon-road-rides:before,
.icon-road-bike:before,
.icon-restaurants:before,
.icon-print:before,
.icon-phone:before,
.icon-path:before,
.icon-mt-bike-rides:before,
.icon-milwaukee:before,
.icon-merch:before,
.icon-map-pin:before,
.icon-madison:before,
.icon-lodging:before,
.icon-local-chapters:before,
.icon-event:before,
.icon-email:before,
.icon-dutch-bike:before,
.icon-discount-providers:before,
.icon-calendar:before,
.icon-bike-wheel:before,
.icon-bike-shops:before,
.icon-bike-shop:before,
.icon-bike-gear:before,
.icon-add-ride-trail:before,
.icon-add-event:before,
.icon-bikefed-logo:before,
.icon-bikefed-logo-rev:before,
.icon-sunburst:before,
.icon-pin:before,
.icon-flag:before,
.icon-settings:before,
.icon-plus:before,
.icon-lock:before,
.icon-wheel-bike:before,
.icon-heart,
.icon-power,
span.users:before,
span.routes:before,
span.rides:before,
span.events:before,
span.volunteer:before,
span.locations:before,
span.merch:before,
span.classifieds:before,
span.groups:before {
  font-family: 'BFW-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-wisconsin:before {
  content: "\e000";
}
.icon-volunteer:before,
span.volunteer:before {
  content: "\e001";
}
.icon-trees:before {
  content: "\e002";
}
.icon-trail-sign:before,
span.routes:before {
  content: "\e003";
}
.icon-star:before {
  content: "\e004";
}
.icon-search:before {
  content: "\e005";
}
.icon-road-rides:before {
  content: "\e006";
}
.icon-road-bike:before {
  content: "\e007";
}
.icon-restaurants:before {
  content: "\e008";
}
.icon-print:before {
  content: "\e009";
}
.icon-phone:before {
  content: "\e00a";
}
.icon-path:before {
  content: "\e00b";
}
.icon-mt-bike-rides:before {
  content: "\e00c";
}
.icon-milwaukee:before {
  content: "\e00d";
}
.icon-merch:before {
  content: "\e00e";
}
.icon-map-pin:before {
  content: "\e00f";
}
.icon-madison:before {
  content: "\e010";
}
.icon-lodging:before {
  content: "\e011";
}
.icon-local-chapters:before {
  content: "\e012";
}
.icon-event:before {
  content: "\e013";
}
.icon-email:before {
  content: "\e014";
}
.icon-dutch-bike:before {
  content: "\e015";
}
.icon-discount-providers:before {
  content: "\e016";
}
.icon-calendar:before,
span.events:before {
  content: "\e017";
}
.icon-bike-wheel:before {
  content: "\e018";
}
.icon-bike-shops:before,
.icon-bike-shop:before {
  content: "\e019";
}
.icon-bike-gear:before {
  content: "\e01a";
}
.icon-add-ride-trail:before {
  content: "\e01b";
}
.icon-add-event:before {
  content: "\e01c";
}
.icon-bikefed-logo:before,
span.merch:before {
  content: "\e01d";
}
.icon-bikefed-logo-rev:before {
  content: "\e01e";
}
.icon-sunburst:before,
span.groups:before {
  content: "\e01f";
}
.icon-pin:before {
  content: "\e020";
}
.icon-flag:before,
span.rides:before,
span.locations:before {
  content: "\e021";
}
.icon-settings:before {
  content: "\e022";
}
.icon-plus:before {
  content: "\e023";
}
.icon-lock:before,
span.users:before {
  content: "\e024";
}
.icon-wheel-bike:before,
span.classifieds:before {
  content: "\e025";
}
.icon-heart:before {
  content: "\e026";
}
.icon-power:before {
  content: "\e027";
}
/* Common Classes + mixins */
.left {
  float: left;
}
.right {
  float: right;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.inline {
  display: inline;
}
.ta-right {
  text-align: right;
}
.ta-left {
  text-align: left;
}
.ta-center {
  text-align: center;
}
.push-right {
  margin-left: 35px;
}
.dl-b-no-padding-top {
  padding: 0 40px!important;
}
.no-padding {
  padding: 0!important;
  padding-top: 0!important;
  padding-bottom: 0!important;
  padding-right: 0!important;
  padding-left: 0!important;
}
.no-margin {
  margin: 0!important;
  margin-top: 0!important;
  margin-bottom: 0!important;
  margin-right: 0!important;
  margin-left: 0!important;
}
.bold-text {
  font-weight: bold;
}
.orange-text {
  color: #fb5933;
}
.sixteen {
  font-size: 16px;
}
.eighteen {
  font-size: 18px;
}
/* Micro Clearfix */
.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
.clear {
  zoom: 1;
}
.section:before,
.section:after {
  content: "";
  display: table;
}
.section:after {
  clear: both;
}
.section {
  zoom: 1;
}
.checkbox:before,
.checkbox:after {
  content: "";
  display: table;
}
.checkbox:after {
  clear: both;
}
.checkbox {
  zoom: 1;
}
/* Horizontal Rule */
hr {
  border: 0;
  background: none;
  outline: 0;
  height: 1px;
  background-color: #dddddd;
  margin: 2em 0;
}
hr.dashed {
  border-bottom: 1px dashed #999999;
  background-color: #ffffff;
}
hr.min {
  margin: 1em 0;
}
hr.solid {
  border-bottom: 1px solid #dddddd;
  background-color: #ffffff;
}
.tbl-pad {
  width: 100%;
  font-size: 14px;
  margin-bottom: 10px;
}
.tbl-pad th {
  text-align: left;
  background-color: #ffffff;
}
.tbl-pad td {
  padding: 4px 10px 4px 0;
  vertical-align: top;
}
.tbl-pad td.title {
  font-size: 11px;
  padding-right: 20px;
  text-transform: uppercase;
}
table.striped tbody tr:nth-child(odd) {
  background-color: #ffffff;
}
table.striped tbody tr:nth-child(even) {
  background-color: #e6e6e6;
}
table.dashed td {
  border-bottom: 1px dashed #cccccc;
}
table.full-width {
  width: 100%;
}
.contentPage th {
  padding: 5px;
}
.contentPage td {
  vertical-align: middle;
}
.contentPage td:first-child {
  padding-left: 10px;
}
.sm-caps {
  font-size: 11px;
  text-transform: uppercase;
}
a {
  color: #0096a7;
  text-decoration: none;
}
.dotted-line {
  border-bottom: 1px dashed #999999;
  width: 100%;
  margin-top: 20px;
}
/* Dialog CSS 
 ----------------------------------------------------------- */
.dialog-wrap {
  background: #ffffff;
  border-right: 5px solid #ffffff;
  border-bottom: 5px solid #ffffff;
  border-left: 5px solid #ffffff;
  border-top: 1px solid #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.dialog-wrap.lrg {
  width: 860px;
}
.dialog-wrap-sm {
  width: 440px;
  background: #ffffff;
  border: 5px solid #ffffff;
}
.dialog-wrap-sm input[type=text],
.dialog-wrap-sm select {
  width: 350px;
}
.row-dialog-content {
  -webkit-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.dl-scroll {
  width: 100%;
  max-height: 600px;
  overflow: auto;
}
legend.dl-header {
  margin: 0 0 0 0px;
  font-family: 'Crete Round', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 26px;
  line-height: 75px;
}
.dl-header,
legend.dl-header {
  height: 75px;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.dl-header.user-login,
legend.dl-header.user-login,
.dl-header.users,
legend.dl-header.users {
  background: #109ea6;
}
.dl-header.rides,
legend.dl-header.rides,
.dl-header.routes,
legend.dl-header.routes {
  background: #92b574;
}
.dl-header h1,
legend.dl-header h1 {
  margin: 0 0 0 10px;
  font-family: 'Crete Round', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 26px;
  line-height: 75px;
  display: inline-block;
}
.dl-header.locations,
legend.dl-header.locations {
  background: #ada39e;
}
.dl-header.events,
legend.dl-header.events {
  background: #fb5933;
}
.dl-header.volunteer,
legend.dl-header.volunteer {
  background: #fe9e59;
}
.dl-header.donate,
legend.dl-header.donate {
  background: #fb5933;
}
.dl-header.merch,
legend.dl-header.merch {
  background: #b82025;
}
.dl-header.classifieds,
legend.dl-header.classifieds {
  background: #eee8d9;
}
.dl-header.classifieds h1,
legend.dl-header.classifieds h1,
.dl-header.classifieds span,
legend.dl-header.classifieds span {
  color: #000000;
}
.dl-header.classifieds-internal,
legend.dl-header.classifieds-internal {
  background: #eee8d9;
}
.dl-header.classifieds-internal h1,
legend.dl-header.classifieds-internal h1 {
  color: #000000;
}
.dl-header.groups,
legend.dl-header.groups {
  background: #109ea6;
}
.dl-header span,
legend.dl-header span {
  display: inline-block;
  margin: 0 0 0 25px;
  font-size: 19px;
  color: #ffffff;
}
.dl-header {
  position: fixed;
  width: 860px;
  z-index: 30;
  border-top: 5px solid #ffffff;
  top: -1px;
}
.donate-body {
  margin-top: 140px;
}
.dl-body {
  padding: 30px 40px 0;
  font-family: 'Montserrat', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.dl-body.first {
  margin-top: 70px;
}
.dl-body.short input[type=text],
.dl-body.short input[type=password],
.dl-body.short textarea {
  width: 350px;
}
.dl-body.sub {
  padding-top: 10px;
}
.dl-body h1 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}
.dl-body h2 {
  font-family: 'Crete Round', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-weight: 400;
  line-height: 25px;
}
.dl-body h2 .small {
  font-family: 'Montserrat', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.dl-body .lrg-txt {
  font-size: 16px;
}
.dl-body .title {
  font-size: 11px;
  font-weight: 700;
}
.dl-body.dashed {
  background: url(/images/bg-dashed.png) repeat-y 50% 0;
}
.dl-body input[type=text],
.dl-body input[type=password],
.dl-body input[type=email],
.dl-body textarea {
  width: 320px;
}
.dl-body input[type=text].short,
.dl-body input[type=password].short,
.dl-body input[type=email].short,
.dl-body textarea.short {
  width: 140px;
}
.dl-body select {
  width: 330px;
}
.dl-body select.short {
  width: 160px;
}
.dl-body textarea {
  height: 70px;
}
.dl-body h3 {
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 5px 0;
}
.dl-body h3 .small {
  font-size: 12px;
}
.dl-body.highlight {
  background: #f1f1f1;
  padding-bottom: 20px;
  padding-top: 20px;
}
.dl-footnote {
  background: #f1f1f1;
  margin: 25px 0 0 0;
  padding: 15px 25px 10px;
  font-size: 14px;
  font-family: 'Montserrat', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #000000;
}
.bot {
  margin-bottom: 40px;
}
.btn {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin: 0;
  padding: 10px 15px;
  background: #cccccc;
  background-image: -o-linear-gradient(-90deg, #d5d6d7 0%, #bec0c2 100%);
  background-image: -moz-linear-gradient(-90deg, #d5d6d7 0%, #bec0c2 100%);
  background-image: -webkit-linear-gradient(-90deg, #d5d6d7 0%, #bec0c2 100%);
  background-image: -ms-linear-gradient(-90deg, #d5d6d7 0%, #bec0c2 100%);
  background-image: linear-gradient(-180deg, #d5d6d7 0%, #bec0c2 100%);
  border: 1px solid #B1B2B2;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  font-family: 'Montserrat', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #666666;
  text-decoration: none;
  display: inline-block;
}
.btn:hover {
  -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
  color: #222222;
  border: 1px solid #666666;
}
.btn.reset {
  margin: 10px 0 0 0;
}
.btn.login {
  background: #fb5933;
  font-family: 'Jockey One', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  color: #ffffff;
  width: 120px;
  height: 45px;
  border: 2px solid #ffffff;
  -webkit-box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
}
.btn.login:hover {
  background: #f63305;
}
.btn.submit {
  background: #fb5933;
  font-family: 'Jockey One', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  color: #ffffff;
  margin: 20px 0 0 0;
  border: 2px solid #ffffff;
  -webkit-box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
}
.btn.submit:hover {
  background: #f63305;
}
.btn.utility {
  background-color: #d5d6d7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d5d6d7), to(#bec0c2));
  background-image: -webkit-linear-gradient(top, #d5d6d7, #bec0c2);
  background-image: -moz-linear-gradient(top, #d5d6d7, #bec0c2);
  background-image: -o-linear-gradient(top, #d5d6d7, #bec0c2);
  background-image: -ms-linear-gradient(top, #d5d6d7, #bec0c2);
  background-image: linear-gradient(top, #d5d6d7, #bec0c2);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#d5d6d7', EndColorStr='#bec0c2');
  font-family: 'Montserrat', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  color: #666666;
  font-size: 13px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  letter-spacing: 0px;
  text-transform: none;
  padding: 8px 15px;
  border: 1px solid #b2b2b2;
}
.btn.utility:hover {
  -webkit-box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.2);
  color: #4d4d4d;
}
.btn.slide-next,
.btn.slide-prev {
  width: 70px;
  height: 32px;
  padding: 0;
  line-height: 40px;
  background: #808080;
}
.btn.grey {
  background: #ADA39E;
  border: 2px solid #ffffff;
  -webkit-box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
  font-family: 'Jockey One', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: none;
  letter-spacing: 2px;
  font-size: 17px;
  margin: 15px 0 0 0;
}
.btn.grey:hover {
  background: #968982;
}
.btn.disabled {
  background: #cdcdcd;
  border: 1px solid #cdcdcd;
}
.btn.disabled:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.submit input {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin: 0;
  padding: 5px 15px;
  border: 0;
  background: #fb5933;
  font-family: 'Jockey One', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  border: 2px solid #ffffff;
  -webkit-box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
  float: right;
}
.submit input:hover {
  background: #f63305;
}
.pic-border {
  border: 4px solid #ffffff;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.pic-border.bot-margin {
  margin-bottom: 20px;
}
.slide-control {
  margin: 12px 0;
  padding: 0 8px 0 8px;
  line-height: 30px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
.map-detail {
  margin: 10px 0;
}
/* = Routes
----------------------------------------------------------------------------- */
.gpx-import label {
  display: inline-block !important;
  margin-right: 15px;
}
/* = Add / Share Ride
----------------------------------------------------------------------------- */
div.mapWrapper {
  height: auto !important;
  margin-bottom: 20px;
}
.mapHeader {
  float: right;
}
.uploadList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.ride-details {
  height: 420px;
}
.route-distance {
  font-size: 24px;
}
.actions {
  margin: 10px 0;
}
/* = Donate
----------------------------------------------------------------------------- */
.donate-nav {
  background: #e24129;
  margin-top: 70px;
  position: fixed;
  width: 860px;
  z-index: 30;
}
.donate-nav ul {
  margin: 0;
  list-style-type: none;
  height: 90px;
}
.donate-nav ul li {
  display: inline-block;
  width: 32%;
  text-align: center;
  border-right: 1px dashed #ffffff;
  font-family: 'Crete Round', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-size: 26px;
  font-weight: 400;
  height: 55px;
  float: left;
  margin: 17px 0 0px 0;
  position: relative;
}
.donate-nav ul li a {
  color: #000000;
  text-decoration: none;
  line-height: 26px;
  display: inline-block;
  height: 55px;
}
.donate-nav ul li a:hover {
  color: #ffffff;
}
.donate-nav ul li img {
  display: none;
}
.donate-nav ul li.active a {
  color: #ffffff;
}
.donate-nav ul li.active img {
  position: absolute;
  top: 72px;
  left: 50%;
  margin: 0 0 0 -15px;
  display: block;
}
.donate-nav ul li.last {
  border-right: none;
}
/* =Classifieds
----------------------------------------------------------------------------- */
#searchResults tr {
  cursor: pointer;
}
#searchResults td.thumb {
  width: 80px;
  padding: 15px 20px 15px 40px;
}
#searchResults td.thumb img {
  border: 2px solid #ffffff;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
#searchResults h2 {
  margin: 0;
}
/* =Cycling Groups
----------------------------------------------------------------------------- */
.cg-search h2 {
  color: #109ea6;
  margin: 5px 5px 5px 30px;
}
.depart-info {
  text-align: left;
  margin: 0 0 0 13px;
}
.no-results {
  background: url(/images/no-results.png) no-repeat 50% 10%;
  background-size: 200px auto;
  min-height: 300px;
}
.results {
  background: none;
}
/* Forms, Labels and Inputs 
 -------------------------------------------------------------------------- */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
legend {
  font-family: 'Montserrat', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-size: 14px;
  line-height: normal;
  font-weight: bold;
  display: block;
  border: 0;
  *margin-left: -5px;
}
label,
legend {
  font-weight: 400;
  cursor: pointer;
  font-size: 16px;
  margin: 0 0 5px 0;
}
label .small,
legend .small,
label.small,
legend.small {
  font-size: 13px;
}
.inline-field label {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  margin-right: 1em;
}
.field,
.input {
  padding: 0.2em 0;
}
.field label,
.input label {
  display: block;
}
.checkbox {
  display: block;
  position: relative;
  line-height: normal;
  padding: 0.25em 0;
}
.checkbox label {
  display: table-cell;
  font-size: 14px;
  line-height: 14px;
  *zoom: 1;
}
.checkbox input[type=checkbox],
.checkbox input[type=radio],
fieldset input[type=radio] {
  float: left;
  position: relative;
  margin: 2px 7px 0 0;
}
/* Inputs (Text, Search, Email, etc) */
input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel] {
  outline: 0;
  padding: 2px 5px;
  height: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
  background-color: #f1f1f1;
  color: #666666;
  border: 1px solid #dddddd;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-bottom: 8px;
}
input[type=file] {
  border: 0;
  height: 20px;
  margin: 10px 0;
}
input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
input[type=submit],
input[type=button],
input[type=reset] {
  line-height: normal;
  cursor: pointer;
  -webkit-appearance: none;
  /* Remove Default Browser Behaviour for Safari */

  -moz-appearance: none;
  /* Remove Default Browser Behaviour for Firefox */

}
textarea {
  font-size: 14px;
  font-weight: bold;
  outline: 0;
  padding: 2px 5px;
  vertical-align: top;
  background-color: #f1f1f1;
  color: #666666;
  border: 1px solid #dddddd;
  resize: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
select {
  font-size: 14px;
  outline: 0;
  border: 0;
  padding: 7px;
  height: 30px;
  line-height: normal;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  vertical-align: middle;
  margin-bottom: 9px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
select[multiple] {
  min-height: 100px;
  vertical-align: top;
  border: 1px solid #dddddd;
}
select,
input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel] {
  width: 280px;
}
textarea {
  width: 260px;
}
.searchBox input[type=text],
.cg-form input[type=text],
.searchBox select,
.cg-form select {
  width: 95%;
}
/* Buttons */
.buttons {
  padding: 1em 0;
}
.button {
  font-size: 14px;
  line-height: normal;
  cursor: pointer;
  border: 0;
  padding: 0.8em 3em;
  color: #222222;
  text-decoration: none;
  text-align: center;
}
.orange-button {
  background-color: #fee9cc;
}
.orange-button:hover {
  background-color: #ffe0b5;
  -webkit-tap-highlight-color: #fdeed8;
}
.orange-button:active {
  background-color: #fdeed8;
}
.button[disabled],
.button.disabled {
  color: #999999;
  background-color: #f1f1f1;
}
.no-style-button {
  font-size: 14px;
  color: #fb5933;
  text-decoration: underline;
  border: 0;
  background: transparent;
  height: auto;
  padding: 0;
}
.no-style-button:hover {
  text-decoration: none;
}
.no-style-button[disabled],
.no-style-button.disabled {
  text-decoration: none;
  color: #999999;
}
.donate-btn {
  background: #fb5933;
  font-family: 'Jockey One', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 21px;
  color: #ffffff;
  margin: 20px 0 0 0;
  padding: 10px 20px;
  text-decoration: none;
  border: 2px solid #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 70px;
  bottom: 55px;
}
.donate-btn:hover {
  background: #f63305;
}
.memb-orange-btn {
  background: #fb5933;
  font-family: 'Jockey One', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 21px;
  color: #ffffff;
  margin: 20px 0 0 0;
  padding: 10px 20px;
  text-decoration: none;
  border: 2px solid #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
}
.memb-orange-btn:hover {
  background: #f63305;
}
.memb-grey-btn {
  background: #999999;
  font-family: 'Jockey One', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 17px;
  color: #ffffff;
  margin: 20px 0 0 0;
  padding: 11px 15px;
  text-decoration: none;
  border: 2px solid #ffffff;
  float: left;
  display: block;
  width: 140px;
  text-align: center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
}
.memb-grey-btn:hover {
  background: #f63305;
}
.middle-btn-two a:first-child {
  margin-right: 20px;
}
.middle-btn {
  margin: 0 auto;
  width: 155px;
  display: block;
}
.middle-btn-two {
  margin: 0 auto;
  height: 90px;
  width: 370px;
  display: block;
}
.org-memb-grey-btn {
  background: #999999;
  font-family: 'Jockey One', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 17px;
  color: #ffffff;
  margin: 13px 0 0 10px;
  padding: 11px 8px;
  text-decoration: none;
  border: 2px solid #ffffff;
  float: left;
  display: block;
  width: 140px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
}
.org-memb-grey-btn:hover {
  background: #f63305;
}
.org-memb-orange-btn {
  background: #fb5933;
  font-family: 'Jockey One', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 21px;
  color: #ffffff;
  margin: 5px 0 0 0;
  padding: 15px 25px;
  text-decoration: none;
  border: 2px solid #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
}
.org-memb-orange-btn:hover {
  background: #f63305;
}
/* Grid Layout 
 -------------------------------------------------------------------------- */
/* Sections & Content Blocks */
.section {
  position: relative;
}
.row {
  margin-bottom: 1em;
}
.dashed-mid {
  background: url(/images/bg-dashed.png) repeat-y 50% 0;
}
/* Fluid Grid */
.col {
  margin-left: 2%;
  *margin-left: 1.7%;
  float: left;
}
.col.dashed-right {
  background: url(/images/bg-dashed.png) repeat-y 100% 0;
}
.col.dashed-left {
  background: url(/images/bg-dashed.png) repeat-y 0 0;
}
.col .col-pad-right {
  padding: 0 40px 0 0;
}
.col .col-pad-left {
  padding: 0 0 0 25px;
}
.col .no-margin {
  margin: 0;
}
.col:first-child {
  margin-left: 0;
}
/* Columns */
.one {
  width: 6.5%;
}
.two {
  width: 15%;
}
.three {
  width: 23.5%;
}
.four {
  width: 32%;
}
.five {
  width: 40.5%;
}
.six {
  width: 49.0%;
}
.seven {
  width: 57.5%;
}
.eight {
  width: 66%;
}
.nine {
  width: 74.5%;
}
.ten {
  width: 83%;
}
.eleven {
  width: 91.5%;
}
.twelve {
  width: 100%;
}
.quarter {
  width: 23.5%;
}
.half {
  width: 49.0%;
}
.one-third {
  width: 32%;
}
/* =Header Icons
----------------------------------------------------------------------------- */
span.routes {
  font-size: 26px;
}
span.rides {
  font-size: 26px;
}
span.events,
span.groups {
  font-size: 25px;
}
span.volunteer,
span.icon-volunteer {
  font-size: 25px;
}
span.icon-star {
  margin-bottom: 3px;
  font-size: 23px;
}
span.icon-bikefed-logo,
span.merch {
  font-size: 26px;
}
span.classifieds {
  font-size: 27px;
}
/* =Slideshows
----------------------------------------------------------------------------- */
.slides,
.contentSlideShowWrapper {
  position: relative;
  left: 0;
  top: 0;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
}
.hiddenSlide {
  display: none;
}
.merch .slide-control {
  padding-left: 0;
  padding-right: 15px;
  font-size: 9px;
}
.merch .content {
  padding: 10px 15px 10px 0;
}
.merch .btn.submit {
  display: block;
  width: 20%;
  text-align: center;
}
/* Color Fills
----------------------------------------------------------------------------- */
.black {
  color: #000000;
}
.orange {
  color: #fb5933;
}
.red {
  color: #b71f28;
}
.green {
  color: #2c9235;
}
.h-pad-top {
  margin-top: 20px !important;
}
/* Imported -- Clean This Up
----------------------------------------------------------------------------- */
.fleft {
  float: left;
}
.dialog .header {
  width: 100%;
}
.dialog iframe {
  width: 100%;
  height: 100%;
  border: none;
}
a.dialogClose {
  position: absolute;
  display: inline-block;
  right: -15px;
  top: -15px;
  width: 29px;
  height: 29px;
  background-image: url(/images/dlg-close-button.png);
}
#dialogShadow {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #000;
  opacity: 0.75;
  display: none;
  z-index: 9999;
}
#footerPanel {
  opacity: 0.5;
  background: #000;
  padding: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 32px;
  z-index: 9999;
  color: #fff;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  text-align: left;
}
#footerPanel * {
  color: #ffffff !important;
}
#footerPanel a {
  /*color: #fff;*/

  font-weight: bold;
  text-decoration: none;
}
#footerPanel:hover {
  opacity: 0.75;
}
.loggedIn {
  display: none;
}
.error {
  background: #ffcc00;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #ffcc00, #e6b800);
  background-image: -ms-linear-gradient(top, #ffcc00, #e6b800);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#e6b800));
  background-image: -webkit-linear-gradient(top, #ffcc00, #e6b800);
  background-image: -o-linear-gradient(top, #ffcc00, #e6b800);
  background-image: linear-gradient(top, #ffcc00, #e6b800);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 18px;
  padding: 7px 14px;
  color: #404040;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
#footerPanel {
  display: none;
}
/*un-classified donate page styles */
.crete {
  font-family: 'Crete Round', "Georgia", "Times";
}
.donate-list {
  list-style-type: none;
}
.donate-list li {
  margin-bottom: 5px;
}
.donate-highlight-text {
  width: 500px;
}
.mail-to {
  font-size: 11px;
  font-weight: bold;
  margin-left: 0px;
}
.bikelist {
  list-style-type: none;
  margin: 0 0 0 0px;
}
.bikelist li {
  margin-bottom: 5px;
}
.donate-header {
  width: 500px;
  margin-top: 90px;
}
.donate-block {
  margin-left: 0!important;
}
.donate-highlight {
  padding-left: 80px;
  position: relative;
}
/*Buttons for Don*/
.header-btns {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin: 20px 0 0 10px;
  padding: 10px 15px;
  background: #999999;
  border: 1px solid #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-family: 'Montserrat', Arial, Helvetica, Verdana, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #f1f1f1;
  text-decoration: none;
  display: inline-block;
  float: right;
}
.header-btns:hover {
  -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
  color: #f1f1f1;
  border: 1px solid #f1f1f1;
}
.header-btns-float-l {
  float: left;
}
.header-btns-float-r {
  float: right;
  margin-right: 15px;
}
/*Individual Membership*/
.memb-highlight-headline-wrap {
  font-size: 13px;
  color: #202f3c;
  border-bottom: 1px solid #999999;
  text-align: center;
  margin-bottom: 30px;
}
.memb-highlight-headline {
  position: relative;
  top: 9px;
  padding: 0 20px;
  background-color: #f1f1f1;
}
.memb-col-header {
  font-size: 18px;
  color: #202f3c;
  text-align: center;
  margin-bottom: 30px;
}
.memb-col-lower {
  font-size: 14px;
  color: #999999;
}
.memb-ben-list {
  list-style-type: none;
  position: relative;
}
.memb-li {
  margin-bottom: 20px;
}
.memb-highlight {
  padding-bottom: 40px!important;
}
/*Organizational Membership styles*/
.org-memb-highlight {
  height: 115px;
  padding-bottom: 50px;
  position: relative;
}
.org-memb-highlight span {
  float: left;
  margin-top: 10px;
  position: absolute;
  left: 30px;
  top: 100px;
}
.org-memb-col-lower {
  font-size: 14px;
  color: #999999;
  margin: 5px 0 0 0;
}
.org-members {
  margin-right: 50px;
  font-size: 13px;
}
/* =My Account
----------------------------------------------------------------------------- */
.controls {
  margin: 0 0 15px 0;
}
.controls label {
  margin: 0 15px 0 10px;
}
/* =Helper classes
----------------------------------------------------------------------------- */
.margin-bot-30 {
  margin-bottom: 30px;
}
#flashMessage {
  padding: 10px 35px 10px 15px;
  margin: 30px 40px 0;
  color: #c09853;
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  border-radius: 4px;
  display: block;
  width: 100%;
}
