@height-sec04: 1155px;

.sec04{
	background: @bg-sec04;
	height: @height-sec04;
	
	.anim-layer{		
		.content{
			.sec04-lake{
				position: absolute;
				top: 10px;
				right: -50px;
				z-index: 13;
			}
			.sec04-rv{
				position: absolute;
				top: 1030px;
				right: -70px;
			}
			.sec04-eagle{
				position: absolute;
				top: 897px;
				left: 140px;
				z-index: 15;
			}
			.sec04-logo{
				position: absolute;
				top: 1070px;
				left: 220px;
				z-index: 15;
			}
		}
	}
	
	.content-layer{
		.content{
			text-align: left;
		}
		h1{
			margin: 60px 0 40px 0;
		}
	}
	
	.tips-wrapper-wrapper {
		position: relative;
		margin: 0;
		width: 960px;
	}
	.tips-wrapper {
		padding: 0px;
		background: url(/images/bg-riding-tips.png) no-repeat;
		width: 785px;
		height: 640px;
		float: right;
		margin: 0;
	}
		.tips {
			background-color: @off-white;
			overflow: auto;
			width: 710px;
			height: 570px;
			margin: 30px 40px 30px 50px;
			padding: 0;
			text-align: left;
			
			.body > div {
				display: none;
			}
			.body > div.active {
				display: block;
			}
		}
			
		
	.types {
		position: absolute;
		top: 50px;
		left: 0;
		width: 232px;
		overflow: visible;
		text-align: left;
		
		a {
			position: relative;
			z-index: 10;
			display: block;
			min-height: 51px;
			line-height: 51px;
			padding-left: 6px;
			cursor: pointer;
			float: left;
			clear: left;
			color: @white;
		}
	}
	.active-bg {
		position: absolute;
		background: url(/images/bg-tips-nav.png) no-repeat;
		z-index: 5;
		top: 0;
		left: -20px;
		width: 232px;
		height: 51px;
	}

	h3{
		font-family: 'Jockey One', @default-fonts;
		text-transform: uppercase;
		text-align: center;
		font-size: 40px;
		margin: 10px 0;
		color: @light-blue;
		text-shadow: 1px 1px 1px rgba(255, 255, 255, .8);
		letter-spacing: 1px;
	}
}





/* Banner Ad
----------------------------------------------------------------------------- */
.ad-featured{
	text-align: center;
	margin: 70px auto 0;
	position: relative;
	text-align: center;
	width: 738px;
	
	&.sec04-ad{
		margin-top: 60px;
	}
}

.sec04-skyline{
	position: absolute;
	top: 1610px;
	left: 0;
	height: 208px;
	width: 100%;
	overflow: hidden;
	
	.bg-skyline{
		background: url(/images/sec03-skyline.png) repeat-x;
		width: 1400px;
		height: 208px;
		position: absolute;
		top: 0;
		right: 50%;
	}
}