@height-sec02: 1770px;

.sec02{
	background: @bg-sec02;
	height: @height-sec02;
	
	.anim-layer{		
		.content{
			
		}
		.sec02-trees{
			position: absolute;
			top: 100px;
			left: 290px;
			z-index: 10;
			visibility: hidden; 
		}	
		.sec02-bike-cross{
			position: absolute;
			top: 60px;
			right: 20px;
		}
		.sec02-tower{
			position: absolute;
			top: 1440px;
			right: -70px;
			z-index: 10;
		}
		.sec02-logo{
			position: absolute;
			top: 1650px;
			right: 90px;
			z-index: 15;
		}
	}
	
	.content-layer{
		
		.content{
			text-align: left;
			padding: 30px 0 0 0;
		}
	}
	
	
	.col1{
		width: 325px;
		float: left;
		
		input{
			width: 275px;
			height: 35px;
			padding: 0 0 0 5px;
			margin: 0 0 10px 0;
		}
		.sel-green{
			width: 223px;
		}
	}
	.col2{
		width: 440px;
		float: left;
		
		.tbl-option-select{
			font-family: 'Montserrat', @default-fonts;
			font-size: 14px;
			margin: 0 0 30px 0;
			td{
				padding: 4px;
				line-height: 25px;
				vertical-align: middle;
				
				&.centered{
					text-align: center;
				}
			}
		}
	}
	.col3{
		width: 195px;
		float: left;
		
		input{
			margin: 25px 0 0 0;
		}
	}

	.col-search-results{
		width: 400px;
		height: 680px;
		float: left;
		margin: 0 15px 40px 0;
		background: @white;
		.rounded-corners;
		.box-shadow(0 1px 3px  rgba(0,0,0,0.2));
		
		.search-results-loc{
			padding: 20px 0 10px 20px;
			color: @green;
			.box-shadow(0 6px 3px -3px rgba(0, 0, 0, .5));
			border-bottom: 1px solid lighten(@black, 75%);
			margin: 0 0 0px 0;
		}
	}

	
	.col-map-view{
		width: 535px;
		height: 670px;
		float: left;
		background: @white;
		.rounded-corners;
		.box-shadow(0 1px 3px  rgba(0,0,0,0.2));
		border: 5px solid @white;
	}

	.icon-add-ride-trail{
		font-size: 27px;
	}
	
}

.tbl-search-results{
	width: 100%;
	font-size: 14px;
	.box-shadow(0 -4px 2px -2px rgba(0,0,0,0.2));
	td{
		line-height: 17px;
		&.icon{
			text-align: center;
			padding: 15px 10px 15px 20px;
			font-size: 17px;
		}
		&.search-info{
			padding: 15px 20px 15px 10px;
			cursor: pointer;
		}
	}
}
.result-type{
	font-size: 11px;
	text-transform: uppercase;
	color: @grey;
}
.search-pagination{
	text-align: center;
	padding: 10px;
}




/* Slideshow - Featured Rides
----------------------------------------------------------------------------- */
	
.ss-featured-rides-container{
	text-align: center;
	margin: 0 auto;
	padding: 0;	
	position: relative;
	top: 0;
	left: 0px;
	.bg-slide{
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
	}
	.btn-prev, .btn-next{
		background: @white;
		width: 40px;
		height: 100px;
		display: inline-block;
		position: absolute;
		.rounded-corners;
		z-index: 5;
		
		font-size: 25px;
		line-height: 100px;

		&:hover span{
			background-position-y: -15px;
		}
	}
	.btn-prev{
		top: 115px;
		left: 15px;
	}
	.btn-next{
		top: 115px;
		right: 16px;
	}
	.prev-arrow, .next-arrow{
		background: url(/images/arrows-slide.png) no-repeat;
		display: inline-block;
		width: 10px;
		height: 14px;
	}
	.prev-arrow{
		background-position: 0 0;
	}
	.next-arrow{
		background-position: -16px 0;
	}
	
	.slide-container {
		border: 3px solid #fff;
		position: absolute;
		z-index: 2;
		width: 450px;
		height: 250px;
		top: 30px;
		left: 410px;
		overflow: hidden;
	}	
		.slides {
			position: relative;
			width: 100%;
			height: 100%;

			img {
				display: none;
			}
		
			> * {
				position: absolute;
				top: 0;
				left: 0;
				
				&.active {
					left: 0;
					display: inline-block;
				}
			}
		}
		
	.texts {
		position: absolute;
		top: 100px;
		left: 60px;
		width: 345px;
		height: 150px;
		color: @white;
		text-align: center;
		
		> div {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			margin: 0 auto;
			width: 100%;
		}
		> div.active {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			margin: 0 auto;
			width: 100%;
		}
		
		h3 {
			margin: 32px 0 20px 0;
			font-family: 'Crete Round', @default-fonts;
			color: @white;
			font-weight: 400;
			font-size: 25px;
			letter-spacing: 1px;
			line-height: 29px;
		}
	}
	
	.details {
		position: absolute;
		left: 160px;
		top: 270px;
		width: 150px;
		height: 30px;
		line-height: 30px;
		background-color: @dark-orange;
		.rounded-corners;
		border: 1px solid @white;
		color: @white;
		font-weight: normal;
		font-size: 12px;
		text-transform: uppercase;
		
	}
	
	.indexes {
		position: absolute;
		top: 315px;
		left: 410px;
		width: 450px;
		height: 20px;
		
		a {
			display: block;
			float: left;
			margin-right: 15px;
			background-color: @dark-orange;
			width: 10px;
			height: 10px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			
			cursor: pointer;

			&.active{
				background-color: @white;
			}
		}
	}
	.shadow-featured-rides{
		position: absolute;
		top: 340px;
		left: 25px;
	}
}





/* Banner Ad - Featured Rides
----------------------------------------------------------------------------- */
.ad-featured{
	text-align: center;
	margin: 90px auto 0;
	position: relative;
	text-align: center;
	width: 738px;
	top: 20px;
	
	.banner-ad{
		position: absolute;
		width: 728px;
		z-index: 17;
		margin: 0 auto;
		top: 5px;
		left: 5px;
	}
	.banner-bg{
		position: absolute;
		width: 738px;
		z-index: 5;
		margin: 0 auto;
		left: 0;
		top: 0;
		
	}
}




.sec02-skyline{
	position: absolute;
	top: 1410px;
	left: 0;
	height: 208px;
	width: 100%;
	overflow: hidden;
	
	.bg-skyline{
		background: url(/images/skyline-featured-rides.png) repeat-x;
		width: 1400px;
		height: 208px;
		position: absolute;
		top: 0;
		left: 50%;
	}
}















