@height-sec01: 800px;

.sec01{
	background: @bg-sec01;
	height: @height-sec01;
	
	.anim-layer{		
		.content{
			
		}
		.scroll-tip{
			position: absolute;
			top: -40px;
			right: 10px;
			z-index: 15;
			cursor: pointer;
		}
		.intro-aqua-rider{
			position: absolute;
			top: 55px;
			left: 5px;
			z-index: 10;
			//visibility: hidden;
			img{
				width: 75px;
			}
		}
		.orange-rider{
			position: absolute;
			top: 228px;
			right: 155px;
			z-index: 10;
			visibility: hidden;
			z-index: 15;
			img{
				width: 75px;
			}
		}
		.green-rider{
			position: absolute;
			top: 473px;
			right: 265px;
			z-index: 10;
			visibility: hidden;
			z-index: 15;
			img{
				width: 75px;
			}	
		}
		.sec01-trees{
			position: absolute;
			top: 655px;
			right: -90px;
			z-index: 10;
			visibility: hidden;
			z-index: 15;
		}	
		.map{
			position: absolute;
			top: -25px;
			right: -71px;
			visibility: hidden;
			z-index: 14;
			img{
				width: 650px;
			}
		}
	}

	.content-layer{		
		.content{
			text-align: left;
			
			.ride-on{
				font-family: 'Montserrat', @default-fonts;
				font-size: 19px;
				font-weight: 400;
				color: @white;
				text-shadow: -1px -1px 3px rgba(0, 0, 0, .5);
				letter-spacing: 1px;
				img{
					margin: 160px 0 17px 0;
					width: 575px;
				}

				.sub-head{
					display: inline-block;
					margin-left: 16px;
				}
			}
		}
	}

}

/* Top Navigation
----------------------------------------------------------------------------- */
.nav-container{
	position: relative;
	left: -70px;
	width: 1014px;
	background: url(/images/bg-nav-ribbon.png) no-repeat;
	height: 216px;
	margin: 32px 0 0 0;
	
	.search-wrapper{
		width: 530px;
		height: 51px;
		margin: 0 0 0 70px;
		padding: 19px 0 0 0;
		
		.city-search{
			margin: 0px 0 0 200px;
			padding: 0 0 0 8px;
			width: 240px;
			height: 40px;
			border: none;
			.rounded-corners;
			.inner-shadow;
			float: left;
		}
		.btn-go{
			width: 50px;
			height: 40px;
			background: #840E1D;
			text-align: center;
			color: @white;
			font-family: 'Jockey One', Impact, @default-fonts;
			letter-spacing: 2px;
			border: none;
			.rounded-corners;
			text-transform: uppercase;
			font-size: 21px;
			font-weight: 400;
			margin: 0px 0 0 8px;
			float: left;
		}
	}
	.nav-wrapper{
		width: 930px;
		height: 70px;
		margin: 20px 0 0 70px;
		//.debug(@white);
		
		.logo-tag{
			width: 220px;
			font-family: 'Montserrat', @default-fonts;
			font-size: 12px;
			font-weight: 400;
			line-height: 16px;
			color: @white;
			text-align: right;
			margin: 0px 0 0 0;
			.text-shadow(-1px -1px 2px rgba(0, 0, 0, .5));
			float: left;
			td{
				padding: 14px 0 0 0;
			}
			span{
				display: inline-block;
				margin: 0 20px 0 10px;
			}
		}
		.icon-bikefed-logo-rev{
			font-size: 40px;
			color: @white;
		}
		.nav-list{
			float: left;
			list-style-type: none;
			font-family: 'Jockey One', @default-fonts;
			font-weight: 400;
			color: @white;
			text-transform: uppercase;
			font-size: 23px;
			letter-spacing: 2px;
			line-height: 25px;
			margin: 0 0 0 9px;
			padding: 0;
	
			li{
				display: inline;
				margin: 0;
				padding: 0;
				line-height: 25px;
				float: left;
				a{
					color: @white;
					text-decoration: none;
					display: inline-block;
					height: 38px;
					padding: 0px 20px 0;
					margin: 15px 0 0 0;
					border-right: 1px solid #291D14;
					border-left: 1px solid #877967;
					line-height: 38px;
					.text-shadow(-1px -1px 2px rgba(0, 0, 0, .7));

					&.first{
						border-left: none;
					}
					&.last{
						border-right: none;
					}
					&:hover{
						color: @orange;
					}
				}
			}
		}
	}
}
