@height-sec03: 1890px;

.sec03{
	background: @bg-sec03;
	height: @height-sec03;
	
	.anim-layer{		
		.content{
			.sec03-apt{
				position: absolute;
				top: 90px;
				right: -90px;
				z-index: 10;
			}
			.sec03-bike-shop{
				position: absolute;
				top: 1790px;
				left: -110px;
				z-index: 10;
			}
			.sec03-thumb-shadow{
				position: absolute;
				top: 420px;
				left: -15px;
			}
			.sec03-logo{
				position: absolute;
				top: 1800px;
				left: 220px;
				z-index: 15;
			}
		}
	}
	
	.content-layer{
		.content{
			text-align: left;
		}
		h1{
			color: @tan;
			.text-shadow(1px 1px 1px rgba(0, 0, 0, 1));
			text-align: left;
			margin: 80px 0 40px 0;
		}
	}
	
	.events {
		background: @white;
		.rounded-corners;
		margin-top: 80px;
		margin-bottom: 50px;
		text-align: left;
		height: 848px;
		
		.tbl-search-results {
			//margin-top: -70px;
		}
		.location{
			color: lighten(@black, 40%);
		}
	}
	.event-search {
		position: relative;
		margin: 0 auto;
		top: -70px;
		background-color: @gray-brown;
		width: 840px;
		//height: 60px;
		padding: 20px 20px 10px;
		color: @tan;
		.text-shadow(1px 1px 1px rgba(0, 0, 0, 1));
		.rounded-corners;
		.box-shadow(1px 1px 5px rgba(0, 0, 0, .6));
		
		table{
			td{
				padding: 0 7px 10px 7px;
			}
		}
	}
	.input-search-events{
		width: 230px;
		height: 35px;
		margin: 0 10px 0 0;
	}
	.sel-brown{
		margin-bottom: 0;
		&.cat{
			width: 243px;
			border: none;
		}
		&.reg{
			width: 230px;
		}
	}	
	.event-date{
		width: 130px;
		height: 35px;
		margin: 0 0 0 10px;
		display: inline;
	}
	.search-events{
		background: @orange;
		width: 120px;
		height: 80px;
		border: 2px solid @white;
		margin: 0;
		color: @white;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
		font-family: 'Jockey One', @default-fonts;
		font-size: 18px;

		&:hover{
			border: 2px solid @white;
			color: @white;
			background: darken(@orange, 5%);
			.box-shadow(none);
		}
	}
	
	.search-results-content{
		overflow-y: scroll;
		height: 745px; 
		background: url(/images/no-events.png) no-repeat 50% 10%;
		background-size: 200px auto;
		margin-top: -70px;

		&.results{
			background: none;
		}
	}
	.tbl-search-results{
		.drop-shadow(0);
		
		.date{
			color: @orange;
			display: inline-block;
			margin: 15px 0 0 20px;
		}
	}
	
}

.featured-event{
	height: 240px;

	.sec03-pic{
		float: left;
		width: 290px;
		height: 170px;
		overflow: hidden;
		border: 5px solid @white;
		.rounded-corners(2px);
	}
	.info{
		text-align: left;
		margin: 30px;
		float: left;
		width: 500px;
		color: @tan;
		.text-shadow(1px 1px 1px rgba(0, 0, 0, 1));

		a{
			color: @tan;

			&:hover{
				color: @orange;
			}
		}
		
		.date{
			color: @orange;
		}
		.details{
			color: @tan;
			font-family: 'Crete Round', @default-fonts;
			font-size: 33px;
			line-height: 1.2em;
			margin: 3px 0 7px;
		}
	}
}

.btn-ride-guide, .btn-bike-summit{
	background: url(/images/event-btns.png) no-repeat;
	display: inline-block;
}

.btn-bike-summit{
	width: 307px;
	height: 175px;
	margin-right: 15px;
	&:hover{
		background-position: 0 -178px;
	}
}
.btn-ride-guide{
	width: 571px;
	height: 175px;
	background-position: -320px 0;
	&:hover{
		background-position: -320px -178px;
	}
}





/* Banner Ad
----------------------------------------------------------------------------- */
.ad-featured{
	text-align: center;
	margin: 90px auto 0;
	position: relative;
	text-align: center;
	width: 738px;

	&.sec03-ad{
		margin-top: 30px;
	}
	
	.banner-ad{
		position: absolute;
		width: 728px;
		z-index: 7;
		margin: 0 auto;
		top: 5px;
		left: 5px;
	}
	.banner-bg{
		position: absolute;
		width: 738px;
		z-index: 5;
		margin: 0 auto;
		left: 0;
		top: 0;
		
	}
}


.sec03-skyline{
	position: absolute;
	top: 1620px;
	left: 0;
	height: 208px;
	width: 100%;
	overflow: hidden;
	
	.bg-skyline{
		background: url(/images/sec03-skyline.png) repeat-x;
		width: 1400px;
		height: 208px;
		position: absolute;
		top: 0;
		right: 50%;
	}
}