@height-sec05: 1310px;

.sec05{
	background: @bg-sec05;
	height: @height-sec05;
	overflow: hidden;
	
	.anim-layer{		
		.content{
			.sec05-cow{
				position: absolute;
				top: 1200px;
				left: 620px;
				z-index: 16;
			}
			.sec05-windmill{
				position: absolute;
				top: 520px;
				right: 140px;
				z-index: 11;
			}
			.sec05-barn{
				position: absolute;
				top: 520px;
				right: -50px;
				z-index: 12;
			}
			.sec05-logo{
				position: absolute;
				top: 1225px;
				left: 0px;
				z-index: 15;
			}
		}
	}
	
	.content-layer{
		.content{
			text-align: left;
		}
		h2{
			margin: 80px 0 40px 0;
		}
	}
	
}

.get-involved, .get-connected{
	
	table{
		width: 960px;
		margin: 60px 0 0 0;
	}
}
.get-involved{
	table{
		td{
			width: 33%;

			&.mid{
				padding: 0 0 0 30px;
			}
		}
	}
}

.get-connected{
	margin: 200px 0 0 0;
	
	td{
		position: relative;
	}
}

.coming-soon{
	position: absolute;
	top: 70px;	
	left: 20%;
}




/* Banner Ad
----------------------------------------------------------------------------- */

.sec05-skyline{
	position: absolute;
	top: 410px;
	left: 0;
	height:1450px;
	width: 100%;
	overflow: hidden;
	text-align: center;
	
	.bg-green{
		background: @light-green;
		width: 100%;
		position: absolute;
		top: 290px;
		height: 710px;
		z-index: 4;
	}
	
	.hill{
		z-index: 4;
		position: relative;
		top: 120px; 
		margin: 0 auto;
		width: 100%;
		height: 188px;
		background: url(/images/sec05-hill-fence.png) no-repeat top center;
	}
	
	.bg-skyline{
		background: url(/images/sec05-skyline.png) repeat-x;
		width: 1600px;
		height: 350px;
		position: absolute;
		top: 0;
		left: 40%;
		z-index: 3;
	}
}
