@height-sec06: 550px;

.sec06{
	background: url(/images/bg-sec06.png) repeat-x @bg-sec06;
	height: @height-sec06;
	
	.anim-layer{		
		text-align: left;
		.content{
			.tent{
				position: absolute;
				top: 350px;
				left: 40px;
				z-index: 10;
			}
			.fire{
				position: absolute;
				top: 390px;
				left: 0;
				z-index: 10;
			}
		}
	}

	.content-layer{
		color: @footer-font;
		.text-shadow(1px 1px 1px rgba(255, 255, 255, .3));

		.content{
			text-align: left;
		}

		.left-col{
			width: 300px;
			float: left;
			text-align: left;
			margin: 70px 0 0 0;
		}
		.right-col{
			width: 620px;
			float: left;
			text-align: left;
			font-size: 14px;
			margin: 90px 0 0 30px;
		}

		.more-info{
			color: @white;
			font-size: 16px;
			margin-top: 5px;
			display: inline-block;
			.text-shadow(1px 1px 1px rgba(0, 0, 0, .3));
			&:hover{
				text-decoration: underline;
			}
		}
	}
	.content-layer-bot{
		// background: #38b1b8;
		color: @footer-font;
		position: absolute;
		width: 100%;
		//height: 400px;
		padding: 70px 0 0 0;
		top: 225px;
		left: 0;
		text-align: left;
		.text-shadow(1px 1px 1px rgba(255, 255, 255, .3));
		z-index: 15;

		.left-col{
			width: 300px;
			float: left;
			padding-left: 50%;
			margin-left: -480px;
		}
		.mid-col{
			width: 425px;
			float: left;

			ul{
				margin: 0;
				padding: 0;
				li{
					width: 170px;
					float: left;
					display: inline-block;
					background: url(/images/bull-footer.png) 0 50% no-repeat;
					padding: 0 0 0 10px;
					font-size: 15px;

					a{
						color: @footer-font;
						&:hover{
							color: darken(@footer-font, 15%);
						}
					}
				}
			}
		}
		.right-col{
			width: 235px;
			float: left;
		}
	}
	#contact-us {
		background-color: @light-blue;
		color: @white;
		height: 360px;
		width: 100%;
		position: fixed;
		bottom: -360px;
		z-index: 560;
		.contact {
			margin: auto;
			text-align: left;
			width: 80%;
			p {
				color: #fff;
				line-height: 22px;
			}
			.contact-content {
				width: 100%;
				.column {
					float: left;
					display: inline-block;
					width: 50%;
				}
				.contact-location-map {
					box-shadow: 0 0 0 5px white, 1px 1px 3px 5px #000;
					height: 180px;
					width: 180px;
				}
				.details {
					margin-left: 30px;
					display: inline-block;
					vertical-align: middle;
					h4 {
						color:#fff;
						font-size: 21px;
						margin: 0;
						margin-bottom: 21px;
					}
					ul {
						color: #00344B;
						font-family: 'Montserrat', @default-fonts;
						font-size: 16px;
						list-style-type: none;
						margin-bottom: 0;
						margin-top: 15px;
						padding-left: 0;
					}
				}
			}
			.contact-headline {
				position: relative;
				h3 {
					color: #00344B;
					display: inline-block;
					font-family: 'Alfa Slab One', cursive;
					font-size:32px;
					letter-spacing: 1px;
					text-transform: uppercase;
				}
				img {
					display: inline-block;
					height: 40px;
					width: 40px;
					vertical-align: middle;
					margin-bottom: 16px;
				}
				#contact-exit {
					display: inline-block;
					float: right;
					right: 0;
					top: 0;
					margin-top: 32px;
				}
			}
		}
	}
}

.footer-logo{
	margin: 15px 0 0 25px;
}

.social-links{
	margin: 30px 0 0 0;
	padding: 0 17px 0 0;
	text-align: right;
}
.social-icon{
	width: 25px;
	height: 25px;
	background: @white;
	padding: 2px;
	margin: 0 0 0 4px;
	.rounded-corners(3px); 
	display: inline-block;
	.box-shadow(1px 1px 2px rgba(0, 0, 0, .4));

	&:hover{
		background: darken(@white, 20%);
	}
	&.fb{
		&:hover{
			background: darken(#425f98, 10%);
		}
	}
	&.tw{
		&:hover{
			background: darken(#6fdffd, 40%);
		}
	}
	&.yt{
		&:hover{
			background: darken(#fff, 60%);
		}
	}
}